<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/files_and_database/orderby_distinct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import sqlite3 as sql

In [3]:
db = sql.connect("company.db")
cursor = db.cursor()

In [4]:
query = """
CREATE TABLE employees (
    emp_id INTEGER PRIMARY KEY,
    name TEXT,
    department TEXT,
    salary INTEGER,
    city TEXT
);

INSERT INTO employees VALUES
(1, 'Ali', 'IT', 800, 'Tashkent'),
(2, 'Vali', 'IT', 900, 'Tashkent'),
(3, 'Hasan', 'HR', 600, 'Samarkand'),
(4, 'Husan', 'HR', 650, 'Tashkent'),
(5, 'Maryam', 'Finance', 1000, 'Bukhara'),
(6, 'Aziza', 'Finance', 950, 'Tashkent'),
(7, 'Aliya', 'IT', 800, 'Samarkand');
"""
cursor.executescript(query)
db.commit()