<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/files_and_database/practice_all.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

On this page we will practice working with files and data warehouses. The DataFrames created are from AI.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4],
    "name": ["Ali", "Vali", "Hasan", "Olim"],
    "city": ["Toshkent", "Samarqand", "Toshkent", "Buxoro"],
    "age": [23, 30, 27, 35]
})
df_customers

   customer_id   name       city  age
0            1    Ali   Toshkent   23
1            2   Vali  Samarqand   30
2            3  Hasan   Toshkent   27
3            4   Olim     Buxoro   35

In [3]:
# customers jadvalini csv faylga saqlash
df_customers.to_csv('customers.csv', index=False)

In [4]:
# saqlangan faylni DF ko'rinishida o'qish
pd.read_csv('customers.csv')

   customer_id   name       city  age
0            1    Ali   Toshkent   23
1            2   Vali  Samarqand   30
2            3  Hasan   Toshkent   27
3            4   Olim     Buxoro   35

In [5]:
df_products = pd.DataFrame({
    "product": ["Laptop", "Phone", "Tablet", "Monitor"],
    "price": [1200, 800, 600, 300],
    "stock": [5, 10, 7, 12]
})
df_products

   product  price  stock
0   Laptop   1200      5
1    Phone    800     10
2   Tablet    600      7
3  Monitor    300     12

In [6]:
# products jadvalini excel fayliga yozish
df_products.to_excel('products.xlsx', index=False)

In [7]:
# excel faylni DF qilib o'qish
df_products2 = pd.read_excel('products.xlsx')
df_products2

   product  price  stock
0   Laptop   1200      5
1    Phone    800     10
2   Tablet    600      7
3  Monitor    300     12

In [8]:
# narxi 500 dan yuqori bo'lgan mahsulotlarni olish
df_products2[df_products2['price']>500]

  product  price  stock
0  Laptop   1200      5
1   Phone    800     10
2  Tablet    600      7

In [9]:
df_users = pd.DataFrame({
    "user_id": [101, 102, 103],
    "username": ["ali01", "vali02", "hasan03"],
    "is_active": [True, False, True]
})
df_users

   user_id username  is_active
0      101    ali01       True
1      102   vali02      False
2      103  hasan03       True

In [10]:
# users jadvalini json fayliga saqlash
df_users.to_json('users.json', index=False)

In [11]:
# json faylidan o'qish
df_users2 = pd.read_json('users.json')
df_users2

   user_id username  is_active
0      101    ali01       True
1      102   vali02      False
2      103  hasan03       True

In [12]:
# faqatgina faol foydalanuvchilarni olish
df_users2[df_users2['is_active'] == True]

   user_id username  is_active
0      101    ali01       True
2      103  hasan03       True

In [13]:
df_logs = pd.DataFrame({
    "date": ["2025-01-01", "2025-01-02", "2025-01-03"],
    "event": ["login", "logout", "login"],
    "user": ["Ali", "Vali", "Ali"]
})
df_logs

         date   event  user
0  2025-01-01   login   Ali
1  2025-01-02  logout  Vali
2  2025-01-03   login   Ali

In [14]:
# logs jadvalini oddiy matn ko'rinishida saqlash
df_logs.to_csv('logs.txt', index=False)

In [16]:
# faylni qayta o'qish va faqat login hodisalarini olish
logs2 = pd.read_csv('logs.txt')
logs2[logs2['event'] == 'login']

         date  event user
0  2025-01-01  login  Ali
2  2025-01-03  login  Ali

#####**SQLite**

In [18]:
import sqlite3 as sql

In [19]:
db = sql.connect('databases.db')
cursor = db.cursor()

In [17]:
df_orders = pd.DataFrame({
    "order_id": [1, 2, 3, 4],
    "customer": ["Ali", "Vali", "Ali", "Olim"],
    "amount": [250, 400, 150, 600]
})
df_orders

   order_id customer  amount
0         1      Ali     250
1         2     Vali     400
2         3      Ali     150
3         4     Olim     600

In [20]:
# orders jadvalini databasega saqlash
df_orders.to_sql('orders', db)

4

In [23]:
# databasedagi jadvalni o'qish
pd.read_sql("SELECT * FROM orders", db, index_col='index')

       order_id customer  amount
index
0             1      Ali     250
1             2     Vali     400
2             3      Ali     150
3             4     Olim     600

In [25]:
# databasedan faqat Aliga oid ma'lumotlarni olish
pd.read_sql("SELECT * FROM orders WHERE customer=='Ali'", db, index_col='index')

       order_id customer  amount
index
0             1      Ali     250
2             3      Ali     150

In [26]:
df_2023 = pd.DataFrame({
    "month": ["Jan", "Feb", "Mar"],
    "sales": [1200, 1500, 1100]
})

df_2024 = pd.DataFrame({
    "month": ["Jan", "Feb", "Mar"],
    "sales": [1400, 1600, 1300]
})

In [27]:
# ikkala DF ni 2 xil faylga saqlash
df_2023.to_csv('first_file.csv', index=False)
df_2024.to_csv('second_file.csv', index=False)

In [28]:
df1 = pd.read_csv('first_file.csv')
df2 = pd.read_csv('second_file.csv')

# ikkala DF ni bitta qilish
df1_df2 = pd.concat([df1, df2], ignore_index=True)
df1_df2

  month  sales
0   Jan   1200
1   Feb   1500
2   Mar   1100
3   Jan   1400
4   Feb   1600
5   Mar   1300