<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/files_and_database/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd

In [22]:
# sqlni chaqirish
import sqlite3 as sql

In [23]:
# javoblarni tushunarli chiqarish uchun
from pprint import pprint as print

In [24]:
# chinook.db ni yuklash
!wget https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite -O chinook.db

--2026-01-02 04:44:37--  https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite [following]
--2026-01-02 04:44:37--  https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1007616 (984K) [application/octet-stream]
Saving to: ‘chinook.db’

chinook.db          100%[===================>] 984.00K  --.-KB/s    in 0.006s

2026-01-02 04:44:38 (168 MB/s) - ‘chinook.db’ saved [1007616/1007616]

In [25]:
# chinook databasiga ulanish
db = sql.connect('chinook.db')

In [26]:
# cursor obyektini yaratish
cursor = db.cursor()

In [27]:
# database ichidagi jadvallarni aniqlash
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# barcha javoblarni olish uchun
cursor.fetchall()

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

**topshiriqlar**

In [28]:
# company databasini yaratish
db2 = sql.connect('company.db')

# cursor yaratish
cursor2 = db2.cursor()

In [29]:
cursor2.execute("CREATE TABLE employees (emp_id INTEGER PRIMARY KEY, name TEXT, department TEXT, salary INTEGER);")

OperationalError: table employees already exists

In [ ]:
query = """
INSERT INTO employees (emp_id, name, department, salary) VALUES
(101, 'Ali',    'IT',      1200),
(102, 'Vali',   'IT',      1300),
(103, 'Hasan',  'HR',       900),
(104, 'Husan',  'HR',       950),
(105, 'Maryam', 'Finance', 1500),
(106, 'Zaynab', 'Finance', 1600);
"""
# yuqoridagi ma'lumotlarni qo'shish
cursor2.execute(query)

In [ ]:
# o'zgarishlarni saqlash
db2.commit()

In [ ]:
query_tab = """
CREATE TABLE projects (
    project_id INTEGER PRIMARY KEY,
    emp_id INTEGER,
    project_name TEXT,
    hours INTEGER,
    FOREIGN KEY (emp_id) REFERENCES employees(emp_id)
);
"""
cursor2.execute(query_tab)

In [ ]:
# ma'lumotlar qo'shish
query_data = """
INSERT INTO projects (project_id, emp_id, project_name, hours) VALUES
(201, 101, 'AI System',     120),
(202, 102, 'Web App',       100),
(203, 101, 'Data Pipeline',  80),
(204, 103, 'Recruitment',   70),
(205, 105, 'Budget Plan',   90);
"""
cursor2.execute(query_data)
# o'zgarishlarni saqlash
db2.commit()

- employees jadvalidan faqatgina IT bo'limida ishlediganlarni olish

In [ ]:
query_it = "SELECT * FROM employees WHERE department = 'IT'"

# ma'lumotlar DF qilib olish
df_it = pd.read_sql_query(query_it, db2)
df_it