<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/data_visualization/seaborn/lux.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
np.random.seed(42)

df_sales = pd.DataFrame({
    "order_id": range(1, 301),
    "region": np.random.choice(["Tashkent", "Samarkand", "Bukhara"], 300),
    "category": np.random.choice(["Phone", "Laptop", "Accessories"], 300),
    "price": np.random.randint(100, 1500, 300),
    "quantity": np.random.randint(1, 5, 300),
    "customer_age": np.random.randint(18, 60, 300)
})
df_sales

     order_id     region     category  price  quantity  customer_age
0           1    Bukhara  Accessories   1274         2            32
1           2   Tashkent        Phone   1267         2            46
2           3    Bukhara        Phone    668         2            25
3           4    Bukhara        Phone   1162         4            22
4           5   Tashkent        Phone    208         3            46
..        ...        ...          ...    ...       ...           ...
295       296  Samarkand        Phone   1376         3            38
296       297  Samarkand  Accessories    818         4            34
297       298  Samarkand        Phone    402         1            40
298       299  Samarkand  Accessories    738         4            54
299       300  Samarkand        Phone    155         4            33

[300 rows x 6 columns]