<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/data_preparation/dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Sotuvchi': ['Ahmad', 'Bekzod', 'Dilora', 'Farhod', 'Guli', 'Hasan', 'Kamol', 'Lola'],
    'Yanvar': [100, 150, np.nan, 200, 120, 180, 250, 90],
    'Fevral': [np.nan, 160, 110, 210, 130, np.nan, 260, 95],
    'Mart': [110, 170, 120, np.nan, 140, 190, 270, 100],
    'Apr_Bonusi': [500, np.nan, 550, 600, np.nan, 500, 700, np.nan],
    'Manzil': ['Toshkent', np.nan, 'Buxoro', 'Samarqand', np.nan, 'Toshkent', 'Buxoro', np.nan],
    'Baholash': [5, 4, 5, 3, 4, 5, 4, 3]
}
df = pd.DataFrame(data)
df

In [ ]:
# ustunlar bo'yicha nan qiymatlar sonini aniqlash
df.isnull().sum()

In [ ]:
# nan mavjud bo'lgan barcha qatorlarni tashavorish
df_dropna = df.dropna()
df_dropna

In [ ]:
# nan qatorlar tashalganidan keyin qolgan qatorlar sonini aniqlash
len(df_dropna)

In [ ]:
# nan qiymatga ega bo'lgan barcha ustunlarni tashavorish
df.dropna(axis=1)

In [ ]:
df.isnull().sum()

In [ ]:
# toza qiymatlari 6 tadan kam bo'lgan qatorlarni tashavorish
df.dropna(thresh=6)

In [ ]:
# toza qiymatlari 7 tadan kam bo'lgan ustunlarni tashavorish
df.dropna(thresh=7, axis=1)

In [ ]:
# ustunlarda necha foiz nanlar borligini aniqlash
df.isnull().sum()/len(df)*100

In [ ]:
df

In [ ]:
# manzil ustunidagi NaN larni tashavorish
df.dropna(subset=['Manzil'])

In [ ]:
# yanvar va manzil ustunlaridagi nanlarni tashavorish
df.dropna(subset=['Yanvar', 'Manzil'])

topshiriqlar

In [ ]:
df1 = pd.DataFrame({
    'name': ['Ali', 'Vali', 'Hasan', 'Husan'],
    'age': [25, np.nan, 31, np.nan],
    'score': [85, 90, np.nan, 75]
})
df1

In [ ]:
# Kamida bitta NaN bo‘lsa, o‘sha qatorni o‘chirib tashlash
df1.dropna(thresh=3, axis=0)

In [ ]:
# Faqat barcha ustunlari NaN bo‘lgan qatorlarni tashlash
df2 = pd.DataFrame({
    'A': [1, np.nan, np.nan, 4],
    'B': [np.nan, np.nan, 5, np.nan],
    'C': [10, np.nan, 20, np.nan]
})
df2

In [ ]:
df2.dropna(thresh=1, axis=0)

In [ ]:
df3 = pd.DataFrame({
    'product': ['Laptop', 'Phone', 'Tablet', 'Watch'],
    'price': [1500, np.nan, 700, np.nan],
    'qty': [3, 5, np.nan, 2]
})
df3

In [ ]:
# Faqat price ustunida NaN bo‘lgan qatorlarni o‘chirib tashlash
df3.dropna(subset=['price'])

In [ ]:
df4 = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, 5, np.nan, 8],
    'C': [7, 8, 9, np.nan]
})
df4

In [ ]:
# Kamida bitta NaN bo‘lgan ustunlarni o‘chirib tashlash
df4.dropna(thresh=4 , axis=1)

In [ ]:
df5 = pd.DataFrame({
    'X': [1, np.nan, 3, np.nan],
    'Y': [np.nan, 2, np.nan, 4],
    'Z': [5, 6, np.nan, np.nan]
})
df5

In [ ]:
df5.index = [3, 2, 1, 0]

In [ ]:
df5.sort_index(inplace=True)

In [ ]:
df5

In [ ]:
df5.dropna(thresh=2)