<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/8_dec_rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.DataFrame({
    "Product": ["Phone", "Laptop", "Tablet", None, "Camera"],
    "Price": [1200, None, 700, 450, None],
    "Stock": [10, 5, None, 7, None]
})
df1

In [ ]:
# nanlarni 0 bilan to'ldirish
df1.fillna(0)

In [ ]:
df1.select_dtypes(include='number').mean()

In [ ]:
df1['Price'] = df1['Price'].fillna(783.333333)
df1['Stock'] = df1['Stock'].fillna(7.333333)
df1

In [ ]:
df2 = pd.DataFrame({
    "Name": ["Ali", "Vali", "Ali", "Soli", "Vali"],
    "Age": [20, 25, 20, 30, 25],
})
df2

In [ ]:
# takrorlangan qatorlarni olib tashash
df2.drop_duplicates()

In [ ]:
df3 = pd.DataFrame({
    "User": ["A", "B", "C", "D"],
    "Status": ["Active", "Inactive", "Active", "Inactive"]
})
df3

In [ ]:
df3['Status'].replace({'Active':"act", 'Inactive':"inac"})

In [ ]:
df4 = pd.DataFrame({
    "Student": ["A", "B", "C", "D", "E"],
    "Grade": [45, 67, 82, 91, 53]
})
df4

In [ ]:
print(df4['Grade'].min())
print(df4['Grade'].max())
print(df4['Grade'].mean())

In [ ]:
df4_bins = [44, 62, 78, 92]
pd.cut(df4['Grade'], df4_bins, labels=['low', 'mid', 'high'])

In [ ]:
df5 = pd.DataFrame({
    "City": ["Toshkent", "Toshkent", "Samarqand", "Fargâ€˜ona", "Samarqand"],
    "Sales": [200, 150, 300, 250, 350]
})
df5

In [ ]:
df5.groupby('City')['Sales'].mean()

In [ ]:
df6 = pd.DataFrame({
    "Category": ["A", "B", "A", "C", "B", "A", "C", "C"]
})
df6

In [ ]:
df6.value_counts()

In [ ]:
df7 = pd.DataFrame({
    "ID": range(1, 11),
    "Score": [55, 87, 43, 90, 61, 77, 84, 69, 52, 99]
})
df7

In [ ]:
df7.sample(3)

In [ ]:
df8 = pd.DataFrame({
    "Item": ["A","B","C","D","E"],
    "Value": [10,20,30,40,50]
})
df8

In [ ]:
df8_per = np.random.permutation(len(df8))
df8['Value'].take(df8_per)

In [ ]:
df9 = pd.DataFrame({
    "Item": ["Phone", "Laptop", "Mouse"],
    "Price": [1000, 2000, 50],
    "Quantity": [2, 1, 10]
})
df9

In [ ]:
df9['jami_summa'] = df9['Price'] * df9['Quantity']
df9

In [ ]:
s10 = pd.Series([
    "2023-01-05",
    "05/02/2023",
    "March 10, 2023",
    "2023.04.12"
])
s10

In [ ]:
s10.value_counts()

In [ ]:
s10[2] = '2023-03-10'

In [ ]:
s10

In [ ]:
s10 = pd.to_datetime(s10, format='mixed')

In [ ]:
s10

In [ ]:
df11 = pd.DataFrame({
    "Date": ["2024-01-15", "2023-11-23", "2022-05-09"]
})
df11

In [ ]:
df11.dtypes

In [ ]:
df11['Date'] = pd.to_datetime(df11['Date'], format='mixed')
df11

In [ ]:
import datetime as dt

In [ ]:
day_df11 = df11['Date'].dt.day
month_df11 = df11['Date'].dt.month
year_df11 = df11['Date'].dt.year
print(day_df11)
print(month_df11)

In [ ]:
year_df11

In [ ]:
s12 = pd.Series([
    "06:30",
    "12:15",
    "18:40",
    "23:50"
])
s12

In [ ]:
s12.info()

In [ ]:
s12 = pd.to_datetime(s12)
s12.info()

In [ ]:
def vaqtni_aniqla(x):
  x = x.hour
  if 6<=x<=12:
    return "morning"
  elif 12<=x<=18:
    return "afternoon"
  elif 18<=x<=23:
    return "evening"
  else:
    return "night"

s12.apply(vaqtni_aniqla)

In [ ]:
df13 = pd.DataFrame({
    "Date": pd.date_range("2024-01-01", periods=7),
    "Temp": [5,7,6,4,3,2,1]
})
df13

In [ ]:
df13.dtypes

In [ ]:
df13.set_index('Date')

In [ ]:
df14 = pd.DataFrame({
    "Date": pd.date_range("2024-01-01", "2024-02-15"),
    "Value": range(46)
})
df14

In [ ]:
df14[df14['Date'].dt.month == 1]

In [ ]:
df15 = pd.DataFrame({
    "CheckIn": ["2024-03-01","2024-04-10","2024-02-20"],
    "CheckOut": ["2024-03-05","2024-04-15","2024-02-25"]
})
df15

In [ ]:
df15['CheckIn'] = pd.to_datetime(df15['CheckIn'])
df15['CheckOut'] = pd.to_datetime(df15['CheckOut'])
df15.dtypes

In [ ]:
day_in = df15['CheckIn'].dt.day
day_out = df15['CheckOut'].dt.day
day_out-day_in

In [ ]:
df16 = pd.DataFrame({
    "Date": ["2024-01-05","2023-12-22","2022-07-19"]
})
df16

In [ ]:
df16.dtypes

In [ ]:
pd.to_datetime(df16['Date'], format='%Y-%m-%d')

In [ ]:
df17 = pd.DataFrame({
    "Type": ["X","A","B","A","X","C","X","B","A"]
})
df17

In [ ]:
df17.value_counts() > 2

In [ ]:
df18 = pd.DataFrame({
    "Name": ["ali","VALI","SoLi","azIz"],
    "City": ["toshkent","SAMARQAND","FARG'ONA","NUKUS"]
})
df18

In [ ]:
df18['Name'].str.lower()

In [ ]:
df18['City'].str.upper()

In [ ]:
df21 = pd.DataFrame({
    "Country": ["UZ","KZ","UZ","RU","KZ","RU"],
    "Salary": [900,850,1200,1300,800,1100]
})
df21

In [ ]:
df21.groupby('Country')['Salary'].min()

In [ ]:
df21.groupby('Country')['Salary'].max()

In [ ]:
df24 = pd.DataFrame({
    "Value": [20,45,67,89,54,33,76,48]
})
df24

In [ ]:
df24[(df24['Value'] >= 40) & (df24['Value'] <= 70)]

In [ ]:
df26 = pd.DataFrame({
    "Date": ["2024-01-01","2024-01-03","2024-01-07"]
})
df26

In [ ]:
df26.dtypes

In [ ]:
df26['Date'] = pd.to_datetime(df26['Date'])
df26.dtypes

In [ ]:
df26['Date'].dt.day_of_week

In [ ]:
df26['Date'].dt.day.sort_values()