<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/data_preparation_all_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'Name': ['Ali', 'Vali', np.nan, 'Jasur', 'Kamol'],
    'Age': [25, np.nan, 35, 28, np.nan],
    'Salary': [5000, 6000, np.nan, 7000, 6500]
})
df1

    Name   Age  Salary
0    Ali  25.0  5000.0
1   Vali   NaN  6000.0
2    NaN  35.0     NaN
3  Jasur  28.0  7000.0
4  Kamol   NaN  6500.0

In [3]:
df1.isnull()

    Name    Age  Salary
0  False  False   False
1  False   True   False
2   True  False    True
3  False  False   False
4  False   True   False

In [4]:
# Determine if there are missing values ​​and count them
df1.isnull().sum()

Name      1
Age       2
Salary    1
dtype: int64

In [5]:
df2 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Camera'],
    'Price': [1000, np.nan, 300, 200, np.nan],
    'Stock': [50, 120, np.nan, 200, 45],
    'Rating': [4.5, 4.8, np.nan, 4.2, 4.7]
})
df2

  Product   Price  Stock  Rating
0  Laptop  1000.0   50.0     4.5
1   Phone     NaN  120.0     4.8
2  Tablet   300.0    NaN     NaN
3   Watch   200.0  200.0     4.2
4  Camera     NaN   45.0     4.7

In [6]:
# Fill in the missing values: Average for Price and Rating, 0 for Stock
price_mean = df2['Price'].mean()
rating_mean = df2['Rating'].mean()
df2.fillna({'Price':price_mean, 'Rating':rating_mean, 'Stock':0})

  Product   Price  Stock  Rating
0  Laptop  1000.0   50.0    4.50
1   Phone   500.0  120.0    4.80
2  Tablet   300.0    0.0    4.55
3   Watch   200.0  200.0    4.20
4  Camera   500.0   45.0    4.70

In [7]:
df3 = pd.DataFrame({
    'Student': ['Ali Khan', 'Vali Karimov', 'Sardor Toshmatov', 'Jasur Aliyev'],
    'Email': ['ali@example.com', 'vali@test.com', 'sardor@mail.uz', 'jasur@inbox.com'],
    'Score': [85, 90, 78, 92]
})
df3

            Student            Email  Score
0          Ali Khan  ali@example.com     85
1      Vali Karimov    vali@test.com     90
2  Sardor Toshmatov   sardor@mail.uz     78
3      Jasur Aliyev  jasur@inbox.com     92

In [8]:
# Extract only domain names from the 'Email' column (e.g.: example.com, test.com)
df3['Email'].str.split('@').str[1]

0    example.com
1       test.com
2        mail.uz
3      inbox.com
Name: Email, dtype: object

In [9]:
df4 = pd.DataFrame({
    'Name': ['   Ali   ', 'Vali', '  Sardor', 'Jasur  '],
    'City': ['TASHKENT', 'samarkand', 'BuKhArA', 'fergana'],
    'Phone': ['+998901234567', '998-90-123-45-68', '998 90 123 45 69', '998901234570']
})
df4

        Name       City             Phone
0     Ali      TASHKENT     +998901234567
1       Vali  samarkand  998-90-123-45-68
2     Sardor    BuKhArA  998 90 123 45 69
3    Jasur      fergana      998901234570

In [16]:
# Remove spaces in the 'Name' column
df4['Name'] = df4['Name'].str.strip()

# Make the 'City' column Title Case (Every word capitalized)
df4['City'] = df4['City'].str.capitalize()

# Remove all characters from the 'Phone' column (leave only numbers)
df4['Phone'] = df4['Phone'].str.replace(r'\D', '', regex=True)

In [17]:
df4

     Name       City         Phone
0     Ali   Tashkent  998901234567
1    Vali  Samarkand  998901234568
2  Sardor    Bukhara  998901234569
3   Jasur    Fergana  998901234570

In [18]:
df5 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone', 'Laptop'],
    'Store': ['A', 'A', 'B', 'A', 'B', 'C'],
    'Price': [1000, 500, 950, 300, 480, 1020]
})
df5

  Product Store  Price
0  Laptop     A   1000
1   Phone     A    500
2  Laptop     B    950
3  Tablet     A    300
4   Phone     B    480
5  Laptop     C   1020

In [20]:
# Change the entries 'Laptop' to 'Notebook'
df5.replace({'Laptop':'Notebook'})

    Product Store  Price
0  Notebook     A   1000
1     Phone     A    500
2  Notebook     B    950
3    Tablet     A    300
4     Phone     B    480
5  Notebook     C   1020

In [21]:
df6 = pd.DataFrame({
    'Code': ['USR001', 'USR002', 'ADM001', 'USR003', 'ADM002'],
    'Name': ['Ali', 'Vali', 'Admin_Sardor', 'Jasur', 'Admin_Kamol'],
    'Status': ['active', 'inactive', 'active', 'active', 'inactive']
})
df6

     Code          Name    Status
0  USR001           Ali    active
1  USR002          Vali  inactive
2  ADM001  Admin_Sardor    active
3  USR003         Jasur    active
4  ADM002   Admin_Kamol  inactive

In [24]:
df7 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor'],
    'Age': [25, 30, 35],
    'Salary': [5000, 6000, 5500]
})
df7

     Name  Age  Salary
0     Ali   25    5000
1    Vali   30    6000
2  Sardor   35    5500

In [25]:
# Change the name of the 'Name' column to 'Employee'
df7.rename(columns={'Name':'Employee'})

  Employee  Age  Salary
0      Ali   25    5000
1     Vali   30    6000
2   Sardor   35    5500

In [26]:
df8 = pd.DataFrame({
    'product_name': ['Laptop', 'Phone', 'Tablet'],
    'product_price': [1000, 500, 300],
    'product_stock': [50, 120, 80]
})
df8

  product_name  product_price  product_stock
0       Laptop           1000             50
1        Phone            500            120
2       Tablet            300             80

In [30]:
# Remove the 'product_' prefix from all column names
col_names = ['name', 'price', 'stock']
df8.columns = col_names

In [31]:
df8

     name  price  stock
0  Laptop   1000     50
1   Phone    500    120
2  Tablet    300     80

In [32]:
df9 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur'],
    'Age': [25, 30, 35, 28],
    'City': ['Tashkent', 'Samarkand', 'Bukhara', 'Fergana']
})
df9

     Name  Age       City
0     Ali   25   Tashkent
1    Vali   30  Samarkand
2  Sardor   35    Bukhara
3   Jasur   28    Fergana

In [34]:
# Delete row 2 (index=1) completely
df9.drop(1)

     Name  Age      City
0     Ali   25  Tashkent
2  Sardor   35   Bukhara
3   Jasur   28   Fergana

In [35]:
df10 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Camera'],
    'Price': [1000, 500, 300, 200, 800],
    'Stock': [50, 0, 80, 0, 45]
})
df10

  Product  Price  Stock
0  Laptop   1000     50
1   Phone    500      0
2  Tablet    300     80
3   Watch    200      0
4  Camera    800     45

In [37]:
df10[df10['Stock'] == 0].index

Index([1, 3], dtype='int64')

In [39]:
# Delete rows with stock value 0
df10.drop([1, 3])

  Product  Price  Stock
0  Laptop   1000     50
2  Tablet    300     80
4  Camera    800     45

In [40]:
df11 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur'],
    'Math': [85, 90, 78, 92],
    'Physics': [88, 85, 90, 87]
})
df11

     Name  Math  Physics
0     Ali    85       88
1    Vali    90       85
2  Sardor    78       90
3   Jasur    92       87

In [41]:
# Add a new 'Chemistry' column
df11['Chemistry'] = [90, 88, 85, 89]
df11

     Name  Math  Physics  Chemistry
0     Ali    85       88         90
1    Vali    90       85         88
2  Sardor    78       90         85
3   Jasur    92       87         89

In [42]:
df12 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet'],
    'Quantity': [5, 10, 8],
    'Unit_Price': [1000, 500, 300]
})
df12

  Product  Quantity  Unit_Price
0  Laptop         5        1000
1   Phone        10         500
2  Tablet         8         300

In [43]:
# Total_Price' ustuni yarating (Quantity * Unit_Price
df12['Total_price'] = df12['Quantity']*df12['Unit_Price']
df12

  Product  Quantity  Unit_Price  Total_price
0  Laptop         5        1000         5000
1   Phone        10         500         5000
2  Tablet         8         300         2400

In [44]:
df13 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur'],
    'Department': ['IT', 'HR', 'IT', 'Sales'],
    'Salary': [5000, 4000, 5500, 4500]
})
df13

     Name Department  Salary
0     Ali         IT    5000
1    Vali         HR    4000
2  Sardor         IT    5500
3   Jasur      Sales    4500

In [45]:
# Calculate the average salary for each department
df13.groupby('Department')['Salary'].mean()

Department
HR       4000.0
IT       5250.0
Sales    4500.0
Name: Salary, dtype: float64

In [46]:
df14 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone', 'Laptop'],
    'Store': ['A', 'A', 'B', 'A', 'B', 'A'],
    'Sales': [5, 8, 3, 6, 9, 4]
})
df14

  Product Store  Sales
0  Laptop     A      5
1   Phone     A      8
2  Laptop     B      3
3  Tablet     A      6
4   Phone     B      9
5  Laptop     A      4

In [54]:
df14.groupby(['Product', 'Store'])['Sales'].agg('sum', 'mean')

Product  Store
Laptop   A        9
         B        3
Phone    A        8
         B        9
Tablet   A        6
Name: Sales, dtype: int64

In [51]:
df15 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor'],
    'Score': [85, 90, 78]
})
df15

     Name  Score
0     Ali     85
1    Vali     90
2  Sardor     78

In [57]:
# Combine each student's name and score in a new column
df15['Info'] = df15['Name']+': '+df15['Score'].astype(str)
df15

     Name  Score        Info
0     Ali     85     Ali: 85
1    Vali     90    Vali: 90
2  Sardor     78  Sardor: 78

In [58]:
df16 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet'],
    'Category': ['Electronics', 'Electronics', 'Electronics'],
    'Price': [1000, 500, 300]
})
df16

  Product     Category  Price
0  Laptop  Electronics   1000
1   Phone  Electronics    500
2  Tablet  Electronics    300

In [59]:
# Delete the 'Category' column because everyone is 'Electronics'
del df16['Category']

In [60]:
df16

  Product  Price
0  Laptop   1000
1   Phone    500
2  Tablet    300

In [61]:
df17 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur'],
    'Math': [85, 90, 78, 92],
    'Physics': [88, 85, 90, 87]
})
df17

     Name  Math  Physics
0     Ali    85       88
1    Vali    90       85
2  Sardor    78       90
3   Jasur    92       87

In [63]:
# Copy the 'Physics' column without truncating it and name it 'Physics_copy'
df17['Physics_copy'] = df17['Physics'].copy()
df17

     Name  Math  Physics  Physics_copy
0     Ali    85       88            88
1    Vali    90       85            85
2  Sardor    78       90            90
3   Jasur    92       87            87

In [64]:
df18 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur'],
    'Age': [25, 30, 35, 28],
    'Salary': [5000, 6000, 5500, 7000]
})
df18

   ID    Name  Age  Salary
0   1     Ali   25    5000
1   2    Vali   30    6000
2   3  Sardor   35    5500
3   4   Jasur   28    7000

In [65]:
# Just cut the 'Name' and 'Salary' columns and create a new DataFrame
new_df18 = df18[['Name', 'Salary']]
new_df18

     Name  Salary
0     Ali    5000
1    Vali    6000
2  Sardor    5500
3   Jasur    7000

In [66]:
df19 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor'],
    'Math': [85, 90, 78],
    'Physics': [88, 85, 90]
})
df19

     Name  Math  Physics
0     Ali    85       88
1    Vali    90       85
2  Sardor    78       90

In [67]:
# Change Vali's 'Math' score to 95
df19.iat[1, 1] = 95
df19

     Name  Math  Physics
0     Ali    85       88
1    Vali    95       85
2  Sardor    78       90

In [68]:
df20 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch'],
    'Price': [1000, 500, 300, 200],
    'Stock': [50, 120, 80, 200]
}, index=['A', 'B', 'C', 'D'])
df20

  Product  Price  Stock
A  Laptop   1000     50
B   Phone    500    120
C  Tablet    300     80
D   Watch    200    200

In [69]:
# Replace all values ​​in array C
df20.loc['C'] = ['Tablet pro', 350, 75]
df20

      Product  Price  Stock
A      Laptop   1000     50
B       Phone    500    120
C  Tablet pro    350     75
D       Watch    200    200

In [70]:
df21 = pd.DataFrame({
    'Name': ['Ali', 'Vali'],
    'Age': [25, 30]
})

df22 = pd.DataFrame({
    'Name': ['Sardor', 'Jasur'],
    'Age': [35, 28]
})
df21

   Name  Age
0   Ali   25
1  Vali   30

In [71]:
df22

     Name  Age
0  Sardor   35
1   Jasur   28

In [73]:
# Merge these two DataFrames vertically (downwards)
pd.concat([df21, df22], ignore_index=True)

     Name  Age
0     Ali   25
1    Vali   30
2  Sardor   35
3   Jasur   28

In [74]:
df23 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Ali', 'Vali', 'Sardor']
})

df24 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Salary': [5000, 6000, 5500]
})
df23

   ID    Name
0   1     Ali
1   2    Vali
2   3  Sardor

In [75]:
df24

   ID  Salary
0   1    5000
1   2    6000
2   3    5500

In [76]:
# Join these two DataFrames by 'ID'
pd.merge(df23, df24, on='ID')

   ID    Name  Salary
0   1     Ali    5000
1   2    Vali    6000
2   3  Sardor    5500

In [77]:
df25 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Ali', 'Vali'],
    'Age': [25, 30, 35, 25, 30],
    'Salary': [5000, 6000, 5500, 5000, 6000]
})
df25

     Name  Age  Salary
0     Ali   25    5000
1    Vali   30    6000
2  Sardor   35    5500
3     Ali   25    5000
4    Vali   30    6000

In [80]:
df25.duplicated()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [81]:
# Find and delete duplicate rows
df25.drop_duplicates()

     Name  Age  Salary
0     Ali   25    5000
1    Vali   30    6000
2  Sardor   35    5500

In [82]:
df26 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Laptop', 'Phone', 'Watch'],
    'Store': ['A', 'A', 'B', 'A', 'B', 'C'],
    'Sales': [5, 8, 3, 5, 9, 4]
})
df26

  Product Store  Sales
0  Laptop     A      5
1   Phone     A      8
2  Tablet     B      3
3  Laptop     A      5
4   Phone     B      9
5   Watch     C      4

In [85]:
# Delete duplicate rows only in 'Product' and 'Store' columns
df26.drop_duplicates(subset=['Product', 'Store'])

  Product Store  Sales
0  Laptop     A      5
1   Phone     A      8
2  Tablet     B      3
4   Phone     B      9
5   Watch     C      4

In [86]:
df27 = pd.DataFrame({
    'Date': ['2024-01-15', '2024-02-20', '2024-03-25', '2024-04-10'],
    'Sales': [1000, 1500, 1200, 1800]
})
df27

         Date  Sales
0  2024-01-15   1000
1  2024-02-20   1500
2  2024-03-25   1200
3  2024-04-10   1800

In [87]:
df27.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      object
 1   Sales   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 196.0+ bytes

In [90]:
# Convert the 'Date' column from string to datetime format
df27['Date'] = pd.to_datetime(df27['Date'], format='%Y-%m-%d')
df27.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      datetime64[ns]
 1   Sales   4 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 196.0 bytes

In [91]:
df28 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor'],
    'Age': ['25', '30', '35'],  # String formatda
    'Salary': ['5000', '6000', '5500']  # String formatda
})
df28

     Name Age Salary
0     Ali  25   5000
1    Vali  30   6000
2  Sardor  35   5500

In [92]:
df28.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      object
 2   Salary  3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [95]:
# Convert the 'Age' and 'Salary' columns to integer format
df28['Age'] = df28['Age'].astype(np.int8)
df28['Salary'] = df28['Salary'].astype(np.int16)

In [96]:
df28.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int8
 2   Salary  3 non-null      int16
dtypes: int16(1), int8(1), object(1)
memory usage: 165.0+ bytes

In [97]:
df29 = pd.DataFrame({
    'Date': pd.to_datetime(['2024-01-15', '2024-06-20', '2024-12-25', '2025-03-10']),
    'Sales': [1000, 1500, 1200, 1800]
})
df29

        Date  Sales
0 2024-01-15   1000
1 2024-06-20   1500
2 2024-12-25   1200
3 2025-03-10   1800

In [102]:
df29.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    4 non-null      datetime64[ns]
 1   Sales   4 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 196.0 bytes

In [103]:
import datetime as dt

In [108]:
# Create new columns from the Date column
df29['Year'] = df29['Date'].dt.year
df29['Month'] = df29['Date'].dt.month
df29['Day'] = df29['Date'].dt.day
df29['Week'] = df29['Date'].dt.dayofweek
df29

        Date  Sales  Year  Month  Day  Week
0 2024-01-15   1000  2024      1   15     0
1 2024-06-20   1500  2024      6   20     3
2 2024-12-25   1200  2024     12   25     2
3 2025-03-10   1800  2025      3   10     0