<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/data_preparation_all_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'Name': ['Ali', 'Vali', np.nan, 'Jasur', 'Kamol'],
    'Age': [25, np.nan, 35, 28, np.nan],
    'Salary': [5000, 6000, np.nan, 7000, 6500]
})
df1

    Name   Age  Salary
0    Ali  25.0  5000.0
1   Vali   NaN  6000.0
2    NaN  35.0     NaN
3  Jasur  28.0  7000.0
4  Kamol   NaN  6500.0

In [3]:
df1.isnull()

    Name    Age  Salary
0  False  False   False
1  False   True   False
2   True  False    True
3  False  False   False
4  False   True   False

In [4]:
# Determine if there are missing values ​​and count them
df1.isnull().sum()

Name      1
Age       2
Salary    1
dtype: int64

In [5]:
df2 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Camera'],
    'Price': [1000, np.nan, 300, 200, np.nan],
    'Stock': [50, 120, np.nan, 200, 45],
    'Rating': [4.5, 4.8, np.nan, 4.2, 4.7]
})
df2

  Product   Price  Stock  Rating
0  Laptop  1000.0   50.0     4.5
1   Phone     NaN  120.0     4.8
2  Tablet   300.0    NaN     NaN
3   Watch   200.0  200.0     4.2
4  Camera     NaN   45.0     4.7

In [6]:
# Fill in the missing values: Average for Price and Rating, 0 for Stock
price_mean = df2['Price'].mean()
rating_mean = df2['Rating'].mean()
df2.fillna({'Price':price_mean, 'Rating':rating_mean, 'Stock':0})

  Product   Price  Stock  Rating
0  Laptop  1000.0   50.0    4.50
1   Phone   500.0  120.0    4.80
2  Tablet   300.0    0.0    4.55
3   Watch   200.0  200.0    4.20
4  Camera   500.0   45.0    4.70

In [7]:
df3 = pd.DataFrame({
    'Student': ['Ali Khan', 'Vali Karimov', 'Sardor Toshmatov', 'Jasur Aliyev'],
    'Email': ['ali@example.com', 'vali@test.com', 'sardor@mail.uz', 'jasur@inbox.com'],
    'Score': [85, 90, 78, 92]
})
df3

            Student            Email  Score
0          Ali Khan  ali@example.com     85
1      Vali Karimov    vali@test.com     90
2  Sardor Toshmatov   sardor@mail.uz     78
3      Jasur Aliyev  jasur@inbox.com     92

In [13]:
# Extract only domain names from the 'Email' column (e.g.: example.com, test.com)
df3['Email'].str.split('@').str[1]

0    example.com
1       test.com
2        mail.uz
3      inbox.com
Name: Email, dtype: object

In [8]:
df4 = pd.DataFrame({
    'Name': ['   Ali   ', 'Vali', '  Sardor', 'Jasur  '],
    'City': ['TASHKENT', 'samarkand', 'BuKhArA', 'fergana'],
    'Phone': ['+998901234567', '998-90-123-45-68', '998 90 123 45 69', '998901234570']
})
df4

        Name       City             Phone
0     Ali      TASHKENT     +998901234567
1       Vali  samarkand  998-90-123-45-68
2     Sardor    BuKhArA  998 90 123 45 69
3    Jasur      fergana      998901234570

In [15]:
# Remove spaces in the 'Name' column
#df4['Name'] = df4['Name'].str.strip()

#df4['City'] = df4['City'].str.capitalize()

0     Tashkent
1    Samarkand
2      Bukhara
3      Fergana
Name: City, dtype: object