<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/data_preparation_all_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'Name': ['Ali', 'Vali', np.nan, 'Jasur', 'Kamol'],
    'Age': [25, np.nan, 35, 28, np.nan],
    'Salary': [5000, 6000, np.nan, 7000, 6500]
})
df1

    Name   Age  Salary
0    Ali  25.0  5000.0
1   Vali   NaN  6000.0
2    NaN  35.0     NaN
3  Jasur  28.0  7000.0
4  Kamol   NaN  6500.0

In [3]:
df1.isnull()

    Name    Age  Salary
0  False  False   False
1  False   True   False
2   True  False    True
3  False  False   False
4  False   True   False

In [5]:
# Determine if there are missing values ​​and count them
df1.isnull().sum()

Name      1
Age       2
Salary    1
dtype: int64

In [6]:
df2 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Camera'],
    'Price': [1000, np.nan, 300, 200, np.nan],
    'Stock': [50, 120, np.nan, 200, 45],
    'Rating': [4.5, 4.8, np.nan, 4.2, 4.7]
})
df2

  Product   Price  Stock  Rating
0  Laptop  1000.0   50.0     4.5
1   Phone     NaN  120.0     4.8
2  Tablet   300.0    NaN     NaN
3   Watch   200.0  200.0     4.2
4  Camera     NaN   45.0     4.7

In [8]:
# Fill in the missing values: Average for Price and Rating, 0 for Stock
price_mean = df2['Price'].mean()
rating_mean = df2['Rating'].mean()
df2.fillna({'Price':price_mean, 'Rating':rating_mean, 'Stock':0})

  Product   Price  Stock  Rating
0  Laptop  1000.0   50.0    4.50
1   Phone   500.0  120.0    4.80
2  Tablet   300.0    0.0    4.55
3   Watch   200.0  200.0    4.20
4  Camera   500.0   45.0    4.70