<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/duplicated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'ID': [101, 102, 103, 104, 105, 103, 106, 107, 108, 101],
    'Ism': ['Ali', 'Vali', 'Hasan', 'Olim', 'Noila', 'Hasan', 'Dilshod', 'Zohid', 'Kamol', 'Ali'],
    'Lavozim': ['Backend', 'Frontend', 'Backend', 'DevOps', 'Frontend', 'Backend', 'DataSci', 'Backend', 'Frontend', 'Backend'],
    'Shahar': ['Toshkent', 'Samarqand', 'Toshkent', 'Buxoro', 'Toshkent', 'Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Toshkent'],
    'Maosh': [80000, 45000, 120000, 70000, 40000, 120000, 75000, 80000, 40000, 80000],
    'Yil': [2022, 2023, 2021, 2023, 2022, 2021, 2022, 2023, 2022, 2022],
    'Status': ['Faol', 'Faol', 'Faol', 'Sinov', 'Faol', 'Faol', 'Faol', 'Sinov', 'Faol', 'Faol'],
    'Telefon': [np.nan, '55-123', '55-200', '55-300', np.nan, '55-200', '55-400', '55-500', np.nan, np.nan]
}
df = pd.DataFrame(data)
df

In [ ]:
df.columns

In [ ]:
df.duplicated()

- beshincha va to'qqizinchi qator ma'lumotlari takrorlangan ekan

In [ ]:
# nechta qator takrorlanganini aniqlash
df.duplicated().sum()

In [ ]:
# takrorlangan qatorlarni tashavorish
df.drop_duplicates()

In [ ]:
df

In [ ]:
# shahar ustuni bo'yicha takrorlangan qatorlarni tashavorish
df.drop_duplicates(['Shahar'])

*topshiriqlar*

In [ ]:
df2 = pd.DataFrame({
    "name": ["Ali", "Vali", "Ali", "Sanjar", "Vali"],
    "age": [20, 30, 20, 25, 30]
})
df2

In [ ]:
# takrorlangan qatorlarni aniqlang (True/False qaytarsin)
df2.duplicated()

In [ ]:
# takrorlangan qiymatlarni o'chirish
df2.drop_duplicates()

In [ ]:
df3 = pd.DataFrame({
    "name": ["Ali", "Ali", "Ali", "Vali", "Vali"],
    "score": [90, 95, 90, 80, 80],
    "group": ["A", "A", "B", "A", "A"]
})
df3

In [ ]:
# faqat name ustuniga qarab takrorlarni olib tashlash
df3.drop_duplicates(['name'])

In [ ]:
# 'name', 'score' ustunlari bo'yicha takrorlarni o'chirish
df3.drop_duplicates(['name', 'score'])

In [ ]:
df4 = pd.DataFrame({
    "id": [1,2,3,3,4,4,4],
    "value": [10,20,30,30,40,50,40]
})
df4

In [ ]:
# har bir id uchun faqat oxirgi uchragan qatorni qoldirish
df4.drop_duplicates(['id'], keep='last')

In [ ]:
df5 = pd.DataFrame({
    "email": [
        "ali@gmail.com", "vali@gmail.com", "ali@gmail.com",
        "sanjar@mail.com", "aziza@mail.com", "vali@gmail.com"
    ]
})
df5

In [ ]:
# Takrorlangan email’larni o‘chirib, faqat noyob email’larni qoldirish
df5.drop_duplicates()

In [ ]:
df6 = pd.DataFrame({
    "city": ["Toshkent", "Samarqand", "Toshkent", "Namangan", "Toshkent", "Samarqand"]
})
df6

In [ ]:
df6.value_counts()