<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/fillna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Savdo_Xodimi': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'Ball': [88, 92, np.nan, 75, 80, np.nan, 95, 78],  # Raqamli ustun (mean bilan to'ldirish)
    'Sotuv_soni': [15, np.nan, 18, 20, np.nan, 22, 25, 14],
    'Tashrif': [5, 6, 4, np.nan, 7, 5, np.nan, 6],
    'Shahar': ['Toshkent', np.nan, 'Buxoro', 'Samarqand', np.nan, 'Toshkent', 'Buxoro', np.nan], # Nomli ustun (ffill/bfill bilan to'ldirish)
    'Mijoz_Turi': ['Kichik', 'Katta', np.nan, 'Katta', 'Kichik', 'Katta', 'Kichik', np.nan],
    'Kanal': [1, 2, 1, 3, 2, np.nan, 1, 3] # Diskret raqamli ustun (median/mode bilan to'ldirish)
}
df = pd.DataFrame(data)
df

In [ ]:
df.info()

In [ ]:
# ustunlardagi nan qiymatlar soni
df.isnull().sum()

In [ ]:
# barcha nanlarni 0 - standard qiymat bilan to'ldirish
df.fillna(0)

In [ ]:
# ball ustunidagi nanlarni 11 bilan to'ldirish
df.fillna({'Ball':11})

In [ ]:
# sotuv_soni ustunidagi nanlarni 5 va tashrif ustunini nanlarini 4 bilan to'ldirish
df.fillna({'Sotuv_soni':5, 'Tashrif':4})

In [ ]:
# ball ustunidagi nanlarni , shu ustun o'rtacha qiymati bn to'ldirish
ball_mean = np.mean(df['Ball']).round(1)
df.fillna({'Ball':ball_mean})

In [ ]:
df

In [ ]:
# ustunlardagi nan qiymatlarni o'zidan oldingi qiymat bn to'ldirish
df.ffill()

In [ ]:
# yuqoridagini aksi , nanni o'zidan keyingi qiymat bilan to'ldirish
df.bfill()

In [ ]:
df['Shahar'].value_counts()

In [ ]:
df[df['Shahar'] == 'Toshkent']

In [ ]:
# toshkentning barcha nanlarini bir xil ma'lumot bilan to'ldirish
df[df['Shahar'] == 'Toshkent'] = df[df['Shahar'] == 'Toshkent'].ffill()

In [ ]:
df

In [ ]:
# Buxoro ma'lumotlariniyam bir xil qilib to'ldirish
df[df['Shahar'] == 'Buxoro'] = df[df['Shahar'] == 'Buxoro'].bfill()

In [ ]:
df.info()

In [ ]:
df2 = df.copy()
df2

In [ ]:
df2.drop(['Savdo_Xodimi', 'Shahar', 'Mijoz_Turi'], axis='columns', inplace=True)

In [ ]:
df2

In [ ]:
# barcha ustunlardagi nanlarni o'zining o'rta qiymati bilan to'ldirish
df2.fillna(df2.mean())

*topshiriqlar*

In [ ]:
df3 = pd.DataFrame({
    "age": [25, np.nan, 30, np.nan, 40],
    "salary": [500, 600, np.nan, 800, np.nan]
})
df3

In [ ]:
# age ustunidagi NaN’larni o‘rtacha qiymat bilan to‘ldirish
df3['age'].fillna(df3['age'].mean().round(1))

In [ ]:
# salary ustunidagi NaN’larni median bilan to‘ldirish
df3['salary'].fillna(df3['salary'].median())

In [ ]:
df4 = pd.DataFrame({
    "gender": ["male", "female", np.nan, "male", np.nan, "female"],
    "city": ["Toshkent", np.nan, "Samarqand", "Toshkent", np.nan, "Toshkent"]
})
df4

In [ ]:
# gender va city ustunlaridagi NaN qiymatlarni eng ko‘p uchragan qiymat bilan to‘ldirish
df4['gender'].value_counts()

In [ ]:
df4['city'].value_counts()

In [ ]:
df4['city'].fillna('Toshkent')

In [ ]:
df4['gender'].fillna('female')

In [ ]:
df5 = pd.DataFrame({
    "A": [1, np.nan, 3],
    "B": [np.nan, 5, 6],
    "C": [7, 8, np.nan]
})
df5

In [ ]:
# A-0, B-1, C-maksimal qiymat bilan to'ldirish
fill_df5 = {
    'A':0,
    'B':1,
    'C':df5['C'].max()
}
df5.fillna(fill_df5)

In [ ]:
ser1 = pd.Series([10, np.nan, np.nan, 40, np.nan, 60])
ser1

In [ ]:
# NaN’larni oldingi to‘liq qiymat bilan to‘ldirish
ser1.ffill()

In [ ]:
ser2 = pd.Series([np.nan, 20, np.nan, np.nan, 50])
ser2

In [ ]:
# keyingi qiymatlar bilan to'ldirish
ser2.bfill()