<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/multilndex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ser1 = pd.Series(np.random.rand(9), index=['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'])
ser1

In [ ]:
ser1.index

In [ ]:
# multi indeksli series yaratish
ser2 = pd.Series(np.random.rand(9), index=[
    ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
 [1, 2, 3, 1, 3, 1, 2, 2, 3]])
ser2

In [ ]:
ser2.index

In [ ]:
# irarxik indeksli seriesdan ma'lumotni kesib olish
ser2['a']

In [ ]:
ser2['c']

In [ ]:
# b dan d gacha ma'lumotlarni oladi
ser2['b':'d']

In [ ]:
ser2.loc['d']

In [ ]:
# a indeksining 3-qiymatini olish
ser2.loc['a', 3]

In [ ]:
ser2.loc['c', 2]

*topshiriqlar*

In [ ]:
n = 200_000

products = ["iPhone", "Samsung S23", "Redmi Note", "MacBook", "Dell XPS"]
categories = ["Smartphone", "Smartphone", "Smartphone", "Laptop", "Laptop"]

df = pd.DataFrame({
    "order_id": np.arange(1, n+1),
    "product": np.random.choice(products, n),
    "category": np.random.choice(categories, n),
    "price": np.random.randint(100, 2000, n),
    "date": pd.date_range("2024-01-01", periods=n, freq="h")
})
df.head()

In [ ]:
# narxi > 1500 laptoplarni olish
df[(df['price'] > 1500) & (df['category'] == 'Laptop')]

In [ ]:
# teroq usul
df.loc[(df['price'] > 1500) & (df['category'] == 'Laptop')]

In [ ]:
# 2024 yil mart oyidagi barcha buyurtmalar
df.loc[(df['date'].dt.year == 2024) & (df['date'].dt.month == 3)]

In [ ]:
# iPhone yoki MacBook bo‘lgan barcha buyurtmalar
df.loc[(df['product'] == 'MacBook') | (df['product'] == 'iPhone')]

In [ ]:
data = {
    "City": ["Toshkent","Toshkent","Samarqand","Samarqand","Fargona","Fargona"],
    "Category": ["Laptop","Phone","Laptop","Phone","Laptop","Phone"],
    "Sales": [1200, 900, 700, 500, 400, 300],
    "Quantity": [3,5,4,2,6,1],
    "Month": ["2024-01","2024-01","2024-02","2024-02","2024-01","2024-02"]
}

df2 = pd.DataFrame(data)
df2

In [ ]:
df2.groupby('City')['Sales'].agg(['mean', 'sum'])

In [ ]:
# City va Category bo‘yicha o‘rtacha Quantity chiqarish
df2_mult = df2.groupby(['City', 'Category'])['Quantity'].mean()

In [ ]:
df2_mult.loc['Toshkent', 'Laptop']

In [ ]:
df2_mult

In [ ]:
df2.groupby(['City', 'Month'])['Sales'].sum()

In [ ]:
# Har bir City va Month bo‘yicha jami sotuvni pivot_table orqali hisoblash
pvt_df2 = pd.pivot_table(df2, index=['City', 'Month'], values='Sales', aggfunc='sum')
pvt_df2

In [ ]:
pvt2_df2 = pd.pivot_table(df2, index=['City', 'Category'], values='Sales', aggfunc=['min', 'max'])
pvt2_df2

In [ ]:
pvt2_df2.loc['Toshkent', 'Phone']