<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "Region": ["Toshkent","Toshkent","Farg'ona","Farg'ona"],
    "Year": [2023, 2024, 2023, 2024],
    "Sales": [120, 150, 90, 110]
})
df

- uzun datasetdan , keng dataset yasash

In [ ]:
df_piv = df.pivot(index='Year', columns='Region', values='Sales')
df_piv

In [ ]:
df_piv.columns

In [ ]:
df_piv.index

In [ ]:
df_piv['Toshkent']

In [ ]:
df_piv.loc[2024]

- regionni indeks qilib , valuesni Sales qilamiz va ustunlarni year qilish

In [ ]:
df.pivot(index='Region', columns='Year', values='Sales')

In [ ]:
df1 = pd.DataFrame({
    "Country": ["Uzbekistan","Uzbekistan","Kazakhstan","Kazakhstan","Kyrgyzstan","Kyrgyzstan"],
    "Year": [2022, 2023, 2022, 2023, 2022, 2023],
    "GDP": [88, 95, 180, 190, 12, 14]
})
df1

In [ ]:
# Har bir davlatning yil bo‘yicha GDP ko‘rsatkichlari yonma-yon ustunlarda chiqadigan tartibli jadvalni yaratish
df1.pivot(index='Country', columns='Year', values='GDP')

In [ ]:
df2 = pd.DataFrame({
    "Product": ["Phone","Phone","Phone","Laptop","Laptop","Tablet","Tablet"],
    "Month": ["Jan","Feb","Mar","Jan","Feb","Jan","Mar"],
    "Sales": [120, 135, 150, 200, 210, 70, 90]
})
df2

In [ ]:
df2.pivot(index='Month', columns='Product', values='Sales')

In [ ]:
df3 = pd.DataFrame({
    "Company": ["Artel","Artel","Artel","Uzum","Uzum","Uzum","Nestle","Nestle"],
    "Quarter": ["Q1","Q2","Q3","Q1","Q2","Q3","Q1","Q2"],
    "Revenue": [50, 55, 60, 40, 42, 47, 90, 92]
})
df3

In [ ]:
df3.pivot(index='Company', columns='Quarter', values='Revenue')