<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_all2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This page will be a practice of data preparation. DFs will be created using AI.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arrays = [
    ["Toshkent", "Toshkent", "Samarqand", "Samarqand"],
    ["Jan", "Feb", "Jan", "Feb"]
]

index = pd.MultiIndex.from_arrays(arrays, names=("city", "month"))

df_sales = pd.DataFrame(
    {"sales": [1200, 1500, 900, 1100]},
    index=index
)
df_sales

                 sales
city      month
Toshkent  Jan     1200
          Feb     1500
Samarqand Jan      900
          Feb     1100

In [ ]:
# faqat toshkent ma'lumotlarini olish
df_sales.loc['Toshkent']

       sales
month
Jan     1200
Feb     1500

In [ ]:
# fevralga oid ma'lumotlar
df_sales.loc[(slice(None), 'Feb'), :]

                 sales
city      month
Toshkent  Feb     1500
Samarqand Feb     1100

In [ ]:
# oddiy indeksli DF qilish
df_sales.reset_index()

        city month  sales
0   Toshkent   Jan   1200
1   Toshkent   Feb   1500
2  Samarqand   Jan    900
3  Samarqand   Feb   1100

In [ ]:
df_scores = pd.DataFrame({
    "student": ["Ali", "Vali", "Hasan"],
    "math": [85, 78, 92],
    "english": [88, 80, 90]
})
df_scores

  student  math  english
0     Ali    85       88
1    Vali    78       80
2   Hasan    92       90

In [ ]:
# jadvalni uzun formatka o'tkizish
df_scores = pd.melt(df_scores ,id_vars=["student"], value_vars=["math", "english"], var_name="subject", value_name="grade")
df_scores

  student  subject  grade
0     Ali     math     85
1    Vali     math     78
2   Hasan     math     92
3     Ali  english     88
4    Vali  english     80
5   Hasan  english     90

In [ ]:
# jadvalni eski holatiga qaytarish
df_scores = pd.pivot(df_scores, index="student", columns="subject", values="grade")
df_scores.reset_index(inplace=True)

In [ ]:
df_scores

subject student  english  math
0           Ali       88    85
1         Hasan       90    92
2          Vali       80    78

In [ ]:
df_marks = pd.DataFrame({
    ("Math", "Mid"): [78, 85, 90],
    ("Math", "Final"): [88, 92, 95],
    ("English", "Mid"): [75, 80, 85],
    ("English", "Final"): [82, 87, 90]
}, index=["Ali", "Vali", "Hasan"])
df_marks

      Math       English
       Mid Final     Mid Final
Ali     78    88      75    82
Vali    85    92      80    87
Hasan   90    95      85    90

In [ ]:
# faqatgina mathga oid baholarni olish
df_marks['Math']

       Mid  Final
Ali     78     88
Vali    85     92
Hasan   90     95

In [ ]:
# fanlar bo'yicha o'rtacha baholarni aniqlash
df_marks.groupby(level=0).mean()

       Math       English
        Mid Final     Mid Final
Ali    78.0  88.0    75.0  82.0
Hasan  90.0  95.0    85.0  90.0
Vali   85.0  92.0    80.0  87.0

In [ ]:
# ustunlarni soddaroq ko'rinishga keltirish
df_marks.stack(future_stack=True)

             Math  English
Ali   Mid      78       75
      Final    88       82
Vali  Mid      85       80
      Final    92       87
Hasan Mid      90       85
      Final    95       90

In [ ]:
arrays = [
    ["2023", "2023", "2024", "2024"],
    ["Q1", "Q2", "Q1", "Q2"]
]

index = pd.MultiIndex.from_arrays(arrays, names=("year", "quarter"))

df_revenue = pd.DataFrame(
    {"revenue": [5000, 7000, 6000, 8000]},
    index=index
)
df_revenue

              revenue
year quarter
2023 Q1          5000
     Q2          7000
2024 Q1          6000
     Q2          8000

In [ ]:
# multi indekslar o'rnini almashtirish
df_revenue.swaplevel('year', 'quarter')

              revenue
quarter year
Q1      2023     5000
Q2      2023     7000
Q1      2024     6000
Q2      2024     8000

In [ ]:
# yillar bo'yicha saralash
df_revenue = df_revenue.sort_index(level='year')
df_revenue

              revenue
year quarter
2023 Q1          5000
     Q2          7000
2024 Q1          6000
     Q2          8000

In [ ]:
# faqat 2024-yil ma'lumotlarini olish
df_revenue.loc['2024']

         revenue
quarter
Q1          6000
Q2          8000

In [ ]:
df_customers = pd.DataFrame({
    "customer_id": [1, 2, 3],
    "name": ["Ali", "Vali", "Hasan"]
})

df_orders = pd.DataFrame({
    "order_id": [101, 102, 103, 104],
    "customer_id": [1, 2, 1, 3],
    "amount": [250, 400, 150, 300]
})
df_customers

   customer_id   name
0            1    Ali
1            2   Vali
2            3  Hasan

In [ ]:
df_orders

   order_id  customer_id  amount
0       101            1     250
1       102            2     400
2       103            1     150
3       104            3     300

In [ ]:
# ikkala DF larni customer_id ustuni orqali birlashtirish
cus_order = pd.merge(df_customers, df_orders)
cus_order

   customer_id   name  order_id  amount
0            1    Ali       101     250
1            1    Ali       103     150
2            2   Vali       102     400
3            3  Hasan       104     300

In [ ]:
# har bir mijozning jami buyurtma summasini aniqlash
cus_order.groupby('name')['amount'].sum()

name
Ali      400
Hasan    300
Vali     400
Name: amount, dtype: int64

In [ ]:
df_jan = pd.DataFrame({
    "day": [1, 2, 3],
    "sales": [200, 250, 300]
})

df_feb = pd.DataFrame({
    "day": [1, 2, 3],
    "sales": [220, 270, 310]
})
df_jan

   day  sales
0    1    200
1    2    250
2    3    300

In [ ]:
df_feb

   day  sales
0    1    220
1    2    270
2    3    310

In [ ]:
# ikkala DF larni birlashtirish
jan_feb = pd.concat([df_jan, df_feb], keys=['january', 'february'])
jan_feb

            day  sales
january  0    1    200
         1    2    250
         2    3    300
february 0    1    220
         1    2    270
         2    3    310

In [ ]:
# oylarni ustun qilish
jan_feb = jan_feb.reset_index(level=0).rename(columns={'level_0': 'month'})
jan_feb.reset_index(drop=True)

      month  day  sales
0   january    1    200
1   january    2    250
2   january    3    300
3  february    1    220
4  february    2    270
5  february    3    310

In [ ]:
# sales ustuni bo'yicha tartiblash (kamayish)
jan_feb.sort_values(by='sales', ascending=False)

      month  day  sales
2  february    3    310
2   january    3    300
1  february    2    270
1   january    2    250
0  february    1    220
0   january    1    200

In [ ]:
df_long = pd.DataFrame({
    "city": ["Toshkent", "Toshkent", "Samarqand", "Samarqand"],
    "month": ["Jan", "Feb", "Jan", "Feb"],
    "sales": [1200, 1500, 900, 1100]
})
df_long

        city month  sales
0   Toshkent   Jan   1200
1   Toshkent   Feb   1500
2  Samarqand   Jan    900
3  Samarqand   Feb   1100

In [ ]:
# shaharlar indekslarda , oylar ustunlarda bo'lishi kerak
df_long.pivot(index='city', columns='month', values='sales')

month       Feb   Jan
city
Samarqand  1100   900
Toshkent   1500  1200

In [ ]:
df_weather = pd.DataFrame({
    "city": ["Andijon", "Andijon", "Namangan", "Namangan"],
    "day": ["Mon", "Tue", "Mon", "Tue"],
    "temperature": [22, 24, 20, 23]
})
df_weather

       city  day  temperature
0   Andijon  Mon           22
1   Andijon  Tue           24
2  Namangan  Mon           20
3  Namangan  Tue           23

In [ ]:
# shaharlar qatorlarda, kunlar ustunlarda boladigan jadval yaratish
df_weather.pivot(index='city', columns='day', values='temperature')

day       Mon  Tue
city
Andijon    22   24
Namangan   20   23

In [ ]:
arrays = [
    ["Electronics", "Electronics", "Furniture", "Furniture"],
    ["Q1", "Q2", "Q1", "Q2"]
]

index = pd.MultiIndex.from_arrays(arrays, names=("category", "quarter"))

df_profit = pd.DataFrame(
    {"profit": [5000, 7000, 3000, 4500]},
    index=index
)
df_profit

                     profit
category    quarter
Electronics Q1         5000
            Q2         7000
Furniture   Q1         3000
            Q2         4500

In [ ]:
# indeks darajalarining joylashuvini ozgartirish
df_profit = df_profit.swaplevel('category', 'quarter')
df_profit.sort_index(level='category')

                     profit
quarter category
Q1      Electronics    5000
Q2      Electronics    7000
Q1      Furniture      3000
Q2      Furniture      4500

In [ ]:
df_teachers = pd.DataFrame({
    "teacher_id": [1, 2, 3],
    "name": ["Ahmad", "Dilshod", "Zarina"]
})

df_classes = pd.DataFrame({
    "class_id": [101, 102, 103],
    "teacher_id": [1, 2, 2],
    "students": [25, 30, 28]
})
df_teachers

   teacher_id     name
0           1    Ahmad
1           2  Dilshod
2           3   Zarina

In [ ]:
df_classes

   class_id  teacher_id  students
0       101           1        25
1       102           2        30
2       103           2        28

In [ ]:
teach_class = pd.merge(df_teachers, df_classes)
teach_class

   teacher_id     name  class_id  students
0           1    Ahmad       101        25
1           2  Dilshod       102        30
2           2  Dilshod       103        28

In [ ]:
# har bir oqituvchi nechta oquvchiga dars berayotganini aniqlash
teach_class.groupby('name')['students'].sum()

name
Ahmad      25
Dilshod    58
Name: students, dtype: int64

In [ ]:
df_energy = pd.DataFrame({
    ("Solar", "2023"): [120, 140],
    ("Solar", "2024"): [150, 170],
    ("Wind", "2023"): [200, 220],
    ("Wind", "2024"): [230, 260]
}, index=["Plant_A", "Plant_B"])
df_energy

        Solar      Wind
         2023 2024 2023 2024
Plant_A   120  150  200  230
Plant_B   140  170  220  260

In [ ]:
# faqat 2024 yilga oid energiya ishlab chiqarishni ajratish
df_energy[('Solar', '2024')]

Plant_A    150
Plant_B    170
Name: (Solar, 2024), dtype: int64

In [ ]:
df_morning = pd.DataFrame({
    "time": ["08:00", "09:00"],
    "visitors": [120, 180]
})

df_evening = pd.DataFrame({
    "time": ["18:00", "19:00"],
    "visitors": [200, 260]
})
df_morning

    time  visitors
0  08:00       120
1  09:00       180

In [ ]:
df_evening

    time  visitors
0  18:00       200
1  19:00       260

In [ ]:
# ikkala DF larni birlashtirish
pd.concat([df_morning, df_evening], ignore_index=True)

    time  visitors
0  08:00       120
1  09:00       180
2  18:00       200
3  19:00       260

In [ ]:
arrays = [
    ["Asia", "Asia", "Europe", "Europe"],
    ["Uzbekistan", "Japan", "France", "Germany"]
]

index = pd.MultiIndex.from_arrays(arrays, names=("continent", "country"))

df_population = pd.DataFrame(
    {"population_m": [36, 125, 67, 83]},
    index=index
)
df_population

                      population_m
continent country
Asia      Uzbekistan            36
          Japan                125
Europe    France                67
          Germany               83

In [49]:
# faqatgina Asia qit'asiga tegishli ma'lumotlar
asia_pop = df_population.loc['Asia']
asia_pop.reset_index(drop=True)

   population_m
0            36
1           125

In [50]:
df_transport = pd.DataFrame({
    "city": ["Toshkent", "Buxoro"],
    "bus": [120, 80],
    "metro": [300, 0],
    "taxi": [200, 150]
})
df_transport

       city  bus  metro  taxi
0  Toshkent  120    300   200
1    Buxoro   80      0   150

In [53]:
# transport turlari alohida ustun boladigan uzun format yaratish
pd.melt(df_transport,
        value_vars=['bus', 'metro', 'taxi'],
        var_name='transports',
        value_name='prices')

  transports  prices
0        bus     120
1        bus      80
2      metro     300
3      metro       0
4       taxi     200
5       taxi     150