<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_10dec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_a = pd.DataFrame({
    "Country": ["USA", "USA", "Canada", "Canada"],
    "Year": [2022, 2023, 2022, 2023],
    "GDP": [25.3, 26.1, 2.1, 2.3]
}).set_index(["Country", "Year"])
df_a

In [ ]:
# gdp qiymatlarini ustunga aylantirish
df_a.unstack()

In [ ]:
df_b = pd.DataFrame({
    "City": ["London", "London", "Paris", "Paris"],
    "Type": ["Temperature", "Rain", "Temperature", "Rain"],
    "Value": [14, 120, 17, 80]
}).set_index(["City", "Type"])
df_b

In [ ]:
df_b.columns

In [ ]:
# har bir shahar uchun barcha ko'rsatkichlarni yonma-yon chiqarish
df_b.unstack()

In [ ]:
df_c = pd.DataFrame({
    "Region": ["Asia", "Asia", "Europe", "Europe"],
    "Country": ["Japan", "China", "Germany", "France"],
    "Population": [125, 1440, 83, 65]
})
df_c

In [ ]:
df_c = df_c.set_index(['Region', 'Country'])
df_c

In [ ]:
# faqatgina Asia mamlakatlarini olish
df_c.loc['Asia']

In [ ]:
df_d = pd.DataFrame({
    "Category": ["Fruit", "Fruit", "Drink", "Drink"],
    "Item": ["Apple", "Banana", "Cola", "Juice"],
    "Price": [3, 2, 5, 4]
})
df_d

In [ ]:
df_d = df_d.set_index(['Category', 'Item'])
df_d

In [ ]:
# barcha Drink mahsulotlarining narxini olish
df_d.loc['Drink']

In [ ]:
df_e = pd.DataFrame({
    ("2022", "Sales"): [120, 150],
    ("2022", "Profit"): [40, 55],
    ("2023", "Sales"): [130, 170],
    ("2023", "Profit"): [45, 60]
}, index=["Laptop", "Phone"])
df_e

In [ ]:
df_e['2023']

In [ ]:
df_f = pd.DataFrame({
    ("Q1", "Revenue"): [50, 70, 40],
    ("Q1", "Cost"): [30, 35, 25],
    ("Q2", "Revenue"): [55, 75, 45],
    ("Q2", "Cost"): [32, 38, 27]
}, index=["A", "B", "C"])
df_f

In [ ]:
df_f['Q1', 'Revenue'] - df_f['Q1', 'Cost']

In [ ]:
df_g = pd.DataFrame({
    "Continent": ["Asia", "Asia", "Europe", "Europe"],
    "Country": ["Korea", "India", "Spain", "Italy"],
    "GDP": [1.6, 3.4, 1.4, 1.9]
}).set_index(["Continent", "Country"])
df_g

In [ ]:
df_g.swaplevel('Continent', 'Country').sort_index(level=0)

In [ ]:
df_h = pd.DataFrame({
    "Class": ["A", "A", "B", "B"],
    "Student": ["Ali", "Vali", "Sara", "Oli"],
    "Score": [89, 76, 92, 85]
}).set_index(["Class", "Student"])
df_h

In [ ]:
df_h.sort_index(level=1)

In [ ]:
df_i1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Ali", "Vali", "Soli"]
})

df_i2 = pd.DataFrame({
    "ID": [1, 2, 4],
    "Salary": [900, 1100, 1000]
})
df_i1

In [ ]:
df_i2

In [ ]:
pd.merge(df_i1, df_i2, how='outer')

In [ ]:
df_j1 = pd.DataFrame({
    "City": ["Toshkent", "Andijon"],
    "Population": [2700000, 1700000]
})

df_j2 = pd.DataFrame({
    "City": ["Andijon", "Samarqand"],
    "GDP": [4.1, 3.8]
})
df_j1

In [ ]:
df_j2

In [ ]:
pd.merge(df_j1, df_j2)

In [ ]:
df_k1 = pd.DataFrame({"Name": ["A", "B"], "Score": [80, 90]})
df_k2 = pd.DataFrame({"Name": ["C", "D"], "Score": [85, 88]})
df_k1

In [ ]:
df_k2

In [ ]:
pd.concat([df_k1, df_k2])

In [ ]:
df_l1 = pd.DataFrame({"Q1": [10, 20]}, index=["Laptop", "Phone"])
df_l2 = pd.DataFrame({"Q2": [15, 25]}, index=["Laptop", "Phone"])
df_l1

In [ ]:
df_l2

In [ ]:
pd.concat([df_l1, df_l2], axis=1)

In [ ]:
df_m = pd.DataFrame({
    "Year": [2022, 2022, 2023, 2023],
    "Product": ["Phone", "Laptop", "Phone", "Laptop"],
    "Sales": [500, 600, 550, 650]
})
df_m

In [ ]:
df_m.pivot(index='Year', columns='Product', values='Sales')

In [ ]:
df_n = pd.DataFrame({
    "Region": ["North", "North", "South", "South"],
    "Month": ["Jan", "Feb", "Jan", "Feb"],
    "Profit": [120, 140, 100, 95]
})
df_n

In [ ]:
df_n.pivot(index='Region', columns='Month', values='Profit')

In [ ]:
# print(df_n)