<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Store': ['Store_A', 'Store_B', 'Store_A', 'Store_C', 'Store_B', 'Store_A', 'Store_C'],
    'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone', 'Phone', 'Tablet'],
    'Quantity': [5, 8, 3, 6, 4, 7, 2],
    'Price': [1000, 500, 1000, 300, 500, 500, 300]
})
df

     Store Product  Quantity  Price
0  Store_A  Laptop         5   1000
1  Store_B   Phone         8    500
2  Store_A  Laptop         3   1000
3  Store_C  Tablet         6    300
4  Store_B   Phone         4    500
5  Store_A   Phone         7    500
6  Store_C  Tablet         2    300

In [5]:
# Total number of products sold per store
df.groupby('Store')['Quantity'].sum()

Store
Store_A    15
Store_B    12
Store_C     8
Name: Quantity, dtype: int64

In [6]:
# Average Price per Store
df.groupby('Store')['Price'].mean()

Store
Store_A    833.333333
Store_B    500.000000
Store_C    300.000000
Name: Price, dtype: float64

In [9]:
# How many different product types are there for each store?
df.groupby('Store')['Product'].unique()

Store
Store_A    [Laptop, Phone]
Store_B            [Phone]
Store_C           [Tablet]
Name: Product, dtype: object

In [11]:
df['total_income'] = df['Quantity']*df['Price']
df

     Store Product  Quantity  Price  total_income
0  Store_A  Laptop         5   1000          5000
1  Store_B   Phone         8    500          4000
2  Store_A  Laptop         3   1000          3000
3  Store_C  Tablet         6    300          1800
4  Store_B   Phone         4    500          2000
5  Store_A   Phone         7    500          3500
6  Store_C  Tablet         2    300           600

In [12]:
# Total revenue per Store
df.groupby('Store')['total_income'].sum()

Store
Store_A    11500
Store_B     6000
Store_C     2400
Name: total_income, dtype: int64

In [13]:
df2 = pd.DataFrame({
    'Department': ['IT', 'HR', 'IT', 'Sales', 'HR', 'IT', 'Sales', 'HR'],
    'Employee': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol', 'Nodir', 'Aziz', 'Bobur'],
    'Salary': [5000, 4000, 5500, 4500, 4200, 6000, 4800, 3900],
    'Experience': [3, 5, 7, 4, 6, 9, 5, 4]
})
df2

  Department Employee  Salary  Experience
0         IT      Ali    5000           3
1         HR     Vali    4000           5
2         IT   Sardor    5500           7
3      Sales    Jasur    4500           4
4         HR    Kamol    4200           6
5         IT    Nodir    6000           9
6      Sales     Aziz    4800           5
7         HR    Bobur    3900           4

For each Department:
  1. Highest Salary
  2. Lowest Salary
  3. Average Experience
  4. Number of Employees

In [21]:
df2.groupby('Department').agg({
    'Salary': ['max', 'min'],
    'Experience': 'mean',
    'Employee': 'sum'})

           Salary       Experience        Employee
              max   min       mean             sum
Department
HR           4200  3900   5.000000  ValiKamolBobur
IT           6000  5000   6.333333  AliSardorNodir
Sales        4800  4500   4.500000       JasurAziz

In [22]:
df3 = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'East', 'South', 'North', 'East', 'West'],
    'Month': ['Jan', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan', 'Feb', 'Jan'],
    'Sales': [15000, 12000, 18000, 14000, 13000, 16000, 15000, 11000],
    'Customers': [50, 45, 60, 48, 47, 55, 52, 42]
})
df3

  Region Month  Sales  Customers
0  North   Jan  15000         50
1  South   Jan  12000         45
2  North   Feb  18000         60
3   East   Jan  14000         48
4  South   Feb  13000         47
5  North   Jan  16000         55
6   East   Feb  15000         52
7   West   Jan  11000         42

Group by Region and Month and calculate:
  1. Total sales (Sales sum)
  2. Average number of customers (Customers mean)
  3. How many records are in each group (count)

In [24]:
df3.groupby(['Region', 'Month']).agg({
    'Sales':'sum',
    'Customers':'mean',
    'Month':'count',
})

              Sales  Customers  Month
Region Month
East   Feb    15000       52.0      1
       Jan    14000       48.0      1
North  Feb    18000       60.0      1
       Jan    31000       52.5      2
South  Feb    13000       47.0      1
       Jan    12000       45.0      1
West   Jan    11000       42.0      1

In [25]:
df4 = pd.DataFrame({
    'Student': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol'],
    'Math': [85, 90, 78, 92, 88],
    'Physics': [88, 85, 90, 87, 91],
    'Chemistry': [90, 88, 85, 89, 86],
    'Biology': [87, 91, 88, 90, 89]
})
df4

  Student  Math  Physics  Chemistry  Biology
0     Ali    85       88         90       87
1    Vali    90       85         88       91
2  Sardor    78       90         85       88
3   Jasur    92       87         89       90
4   Kamol    88       91         86       89

For each student:
1. Total score for all subjects
2. Average score
3. Highest score
4. Lowest score

In [28]:
subjects = ['Math', 'Physics', 'Chemistry', 'Biology']
df4.groupby('Student')[subjects].agg(['sum', 'max', 'min', 'mean'])

        Math               Physics               Chemistry                \
         sum max min  mean     sum max min  mean       sum max min  mean
Student
Ali       85  85  85  85.0      88  88  88  88.0        90  90  90  90.0
Jasur     92  92  92  92.0      87  87  87  87.0        89  89  89  89.0
Kamol     88  88  88  88.0      91  91  91  91.0        86  86  86  86.0
Sardor    78  78  78  78.0      90  90  90  90.0        85  85  85  85.0
Vali      90  90  90  90.0      85  85  85  85.0        88  88  88  88.0

        Biology
            sum max min  mean
Student
Ali          87  87  87  87.0
Jasur        90  90  90  90.0
Kamol        89  89  89  89.0
Sardor       88  88  88  88.0
Vali         91  91  91  91.0