<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Employee': ['John Smith', 'Alice Johnson', 'Bob Williams'],
    'Join_Date': ['2020-03-15', '2019-07-22', '2021-11-08'],
    'Salary': [5000, 6500, 4800]
})
df

        Employee   Join_Date  Salary
0     John Smith  2020-03-15    5000
1  Alice Johnson  2019-07-22    6500
2   Bob Williams  2021-11-08    4800

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Employee   3 non-null      object
 1   Join_Date  3 non-null      object
 2   Salary     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [4]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Employee   3 non-null      object
 1   Join_Date  3 non-null      datetime64[ns]
 2   Salary     3 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 204.0+ bytes

In [5]:
import datetime as dt

In [9]:
# Create separate columns by separating the year, month, and day from the Join_Date column
df['Year'] = df['Join_Date'].dt.year
df['Month'] = df['Join_Date'].dt.month
df['Day'] = df['Join_Date'].dt.day
df

        Employee  Join_Date  Salary  Year  Month  Day
0     John Smith 2020-03-15    5000  2020      3   15
1  Alice Johnson 2019-07-22    6500  2019      7   22
2   Bob Williams 2021-11-08    4800  2021     11    8

In [10]:
df1 = pd.DataFrame({
    'Transaction_Date': ['2024-01-05', '2024-01-06', '2024-01-07', '2024-01-13', '2024-01-14'],
    'Amount': [1500, 2000, 1800, 2200, 1900],
    'Customer': ['C001', 'C002', 'C001', 'C003', 'C002']
})
df1

  Transaction_Date  Amount Customer
0       2024-01-05    1500     C001
1       2024-01-06    2000     C002
2       2024-01-07    1800     C001
3       2024-01-13    2200     C003
4       2024-01-14    1900     C002

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_Date  5 non-null      object
 1   Amount            5 non-null      int64
 2   Customer          5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [12]:
df1['Transaction_Date'] = pd.to_datetime(df1['Transaction_Date'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_Date  5 non-null      datetime64[ns]
 1   Amount            5 non-null      int64
 2   Customer          5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 252.0+ bytes

In [17]:
# Determine which day of the week each transaction occurred on
df1['Transaction_Day'] = df1['Transaction_Date'].dt.day_name()
df1

  Transaction_Date  Amount Customer Transaction_Day
0       2024-01-05    1500     C001          Friday
1       2024-01-06    2000     C002        Saturday
2       2024-01-07    1800     C001          Sunday
3       2024-01-13    2200     C003        Saturday
4       2024-01-14    1900     C002          Sunday

In [18]:
df2 = pd.DataFrame({
    'Event': ['Conference 2024', 'Workshop', 'Meeting'],
    'Start': ['2024-06-10', '2024-07-15', '2024-08-20'],
    'End': ['2024-06-15', '2024-07-18', '2024-08-22']
})
df2

             Event       Start         End
0  Conference 2024  2024-06-10  2024-06-15
1         Workshop  2024-07-15  2024-07-18
2          Meeting  2024-08-20  2024-08-22

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Event   3 non-null      object
 1   Start   3 non-null      object
 2   End     3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [21]:
df2['Start'] = pd.to_datetime(df2['Start'])
df2['End'] = pd.to_datetime(df2['End'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Event   3 non-null      object
 1   Start   3 non-null      datetime64[ns]
 2   End     3 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 204.0+ bytes

In [27]:
# Calculate how many days each event will last
df2['Continue'] = np.abs((df2['Start'] - df2['End']).dt.days)
df2

             Event      Start        End  Continue
0  Conference 2024 2024-06-10 2024-06-15         5
1         Workshop 2024-07-15 2024-07-18         3
2          Meeting 2024-08-20 2024-08-22         2

In [29]:
# Specify the start date in the format "10-Jun-2024"
df2['Start'] = df2['Start'].dt.strftime('%d-%b-%Y')

In [30]:
df2

             Event        Start        End  Continue
0  Conference 2024  10-Jun-2024 2024-06-15         5
1         Workshop  15-Jul-2024 2024-07-18         3
2          Meeting  20-Aug-2024 2024-08-22         2