<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
df1 = pd.DataFrame({
    "name": ["Ali", "Vali", "Hasan", None],
    "age": [23, None, 19, 21],
    "salary": [3000, 3500, None, 4000]
})
df1

In [ ]:
# age ustunidagi nanni o'rtacha yosh bilan to'ldirish
df1['age'].fillna(df1['age'].mean())

In [ ]:
# salary ustunidagi NaN qiymatni median bilan to‘ldirish
df1['salary'].fillna(df1['salary'].median())

In [ ]:
# name ustunidagi NaN qiymatni "NoName" bilan to‘ldirish
df1['name'].fillna('NoName')

In [ ]:
# yangi DF ga barcha nanlarni 0 bilan to'ldirish
df1_2 = df1.fillna(0)

In [ ]:
df1_2

In [ ]:
df2 = pd.DataFrame({
    "product": ["A", "A", "B", "C", "C", "C"],
    "price": [100, 100, 150, 200, 200, 250]
})
df2

In [ ]:
# qaysi qatorlar takrorlangan :
df2[df2.duplicated()]

In [ ]:
# Takroriy qatorlarni to‘liq o‘chirib yuborish
df2.drop_duplicates()

In [ ]:
# Faqat birinchi uchraganini qoldirib, boshqalarni o‘chirib yuborish
df2.drop_duplicates(keep='first')

In [ ]:
# Faqat oxirgi uchraganini qoldirib, boshqalarni o‘chirib yuborish
df2.drop_duplicates(keep='last')

In [ ]:
df3 = pd.DataFrame({
    "gender": ["M", "F", "M", "F", "M"]
})
df3

In [ ]:
# M-male , F-female qilish
df3['gender'].map({'M':'male', 'F':'female'})

In [ ]:
df3['gender'].map({'M':1, 'F':0})

In [ ]:
df4 = pd.DataFrame({
    "ism": ["Ali", "Vali", "Hasan"],
    "yosh": [20, 22, 19]
})
df4

In [ ]:
df4['ism'].replace({'Vali':"Valijon"})

In [ ]:
df4.rename(columns={'ism':'name', 'yosh':'age'}, inplace=True)

In [ ]:
df4['age'].replace(22, 30)

In [ ]:
df5 = pd.DataFrame({"score": [10, 23, 35, 50, 77, 80, 95]})
df5

In [ ]:
df5['score'].min()

In [ ]:
df5['score'].max()

In [ ]:
df5['score'].mean()

In [ ]:
df5_bins = [9, 35, 53, 96]
df5['group'] = pd.cut(df5['score'], df5_bins, labels=['past', "o'rtacha", 'yuqori'])
df5

In [ ]:
df5['group'].value_counts()

In [ ]:
df6 = pd.DataFrame({
    "city": ["Toshkent", "Toshkent", "Samarqand", "Nukus", "Nukus"],
    "temp": [10, 12, 15, 8, 9],
    "rain": [2, 1, 3, 0, 1]
})
df6

In [ ]:
# Har bir shahar bo‘yicha o‘rtacha temperaturani hisoblash
df6.groupby(['city'])['temp'].mean()

In [ ]:
# Har bir shahar bo‘yicha yog‘ingarchilik yig‘indisini topish
df6.groupby('city')['rain'].sum()

In [ ]:
df6.groupby('city')['temp'].max()

In [ ]:
df6.groupby('city')['temp'].agg(['mean', 'max'])

In [ ]:
df7 = pd.DataFrame({
    "score": [50, 40, 60, 90, 30, 20]
})
df7

In [ ]:
df7[df7['score']>50]

In [ ]:
df7['score'].std()

In [ ]:
df8 = pd.DataFrame({
    "id": range(1, 11),
    "value": [5,6,7,8,9,10,11,12,13,14]
})
df8

In [ ]:
df8.sample(3)

In [ ]:
randlist = np.random.permutation(len(df8))
df8['value'].take(randlist)

In [ ]:
df9 = pd.DataFrame({
    "date_str": ["2024-03-01 12:30", "2024-05-10 18:00", "2024-12-25 06:00"]
})
df9

In [ ]:
df9.info()

In [ ]:
df9['date_str'] = pd.to_datetime(df9['date_str'])
df9.info()

In [ ]:
df9['date_str'].dt.year

In [ ]:
df9['date_str'].dt.month

In [ ]:
df9['date_str'].dt.day

In [ ]:
df9['date_str'].dt.hour

In [ ]:
df10 = pd.DataFrame({
    "time": pd.to_datetime(["2024-04-01 05:00","2024-04-01 13:00","2024-04-01 20:30"])
})
df10

In [ ]:
print(type(df10['time'].dt.hour))

In [ ]:
def vatqni_top(x):
  x = x.hour
  if 6<=x<=12:
    return "morning"
  elif 12<=x<=18:
    return "afternoon"
  elif 18<=x<=24:
    return "evening"
  else:
    return "night"

df10['time'].apply(vatqni_top)