<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_all2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This page will be a practice of data preparation. DFs will be created using AI.

In [1]:
import numpy as np
import pandas as pd

In [2]:
arrays = [
    ["Toshkent", "Toshkent", "Samarqand", "Samarqand"],
    ["Jan", "Feb", "Jan", "Feb"]
]

index = pd.MultiIndex.from_arrays(arrays, names=("city", "month"))

df_sales = pd.DataFrame(
    {"sales": [1200, 1500, 900, 1100]},
    index=index
)
df_sales

                 sales
city      month
Toshkent  Jan     1200
          Feb     1500
Samarqand Jan      900
          Feb     1100

In [3]:
# faqat toshkent ma'lumotlarini olish
df_sales.loc['Toshkent']

       sales
month
Jan     1200
Feb     1500

In [4]:
# fevralga oid ma'lumotlar
df_sales.loc[(slice(None), 'Feb'), :]

                 sales
city      month
Toshkent  Feb     1500
Samarqand Feb     1100

In [5]:
# oddiy indeksli DF qilish
df_sales.reset_index()

        city month  sales
0   Toshkent   Jan   1200
1   Toshkent   Feb   1500
2  Samarqand   Jan    900
3  Samarqand   Feb   1100

In [6]:
df_scores = pd.DataFrame({
    "student": ["Ali", "Vali", "Hasan"],
    "math": [85, 78, 92],
    "english": [88, 80, 90]
})
df_scores

  student  math  english
0     Ali    85       88
1    Vali    78       80
2   Hasan    92       90

In [8]:
# jadvalni uzun formatka o'tkizish
df_scores = pd.melt(df_scores ,id_vars=["student"], value_vars=["math", "english"], var_name="subject", value_name="grade")
df_scores

  student  subject  grade
0     Ali     math     85
1    Vali     math     78
2   Hasan     math     92
3     Ali  english     88
4    Vali  english     80
5   Hasan  english     90

In [11]:
# jadvalni eski holatiga qaytarish
df_scores = pd.pivot(df_scores, index="student", columns="subject", values="grade")
df_scores.reset_index(inplace=True)

In [12]:
df_scores

subject student  english  math
0           Ali       88    85
1         Hasan       90    92
2          Vali       80    78

In [13]:
df_marks = pd.DataFrame({
    ("Math", "Mid"): [78, 85, 90],
    ("Math", "Final"): [88, 92, 95],
    ("English", "Mid"): [75, 80, 85],
    ("English", "Final"): [82, 87, 90]
}, index=["Ali", "Vali", "Hasan"])
df_marks

      Math       English
       Mid Final     Mid Final
Ali     78    88      75    82
Vali    85    92      80    87
Hasan   90    95      85    90

In [14]:
# faqatgina mathga oid baholarni olish
df_marks['Math']

       Mid  Final
Ali     78     88
Vali    85     92
Hasan   90     95

In [16]:
# fanlar bo'yicha o'rtacha baholarni aniqlash
df_marks.groupby(level=0).mean()

       Math       English
        Mid Final     Mid Final
Ali    78.0  88.0    75.0  82.0
Hasan  90.0  95.0    85.0  90.0
Vali   85.0  92.0    80.0  87.0

In [19]:
# ustunlarni soddaroq ko'rinishga keltirish
df_marks.stack(future_stack=True)

             Math  English
Ali   Mid      78       75
      Final    88       82
Vali  Mid      85       80
      Final    92       87
Hasan Mid      90       85
      Final    95       90

In [20]:
arrays = [
    ["2023", "2023", "2024", "2024"],
    ["Q1", "Q2", "Q1", "Q2"]
]

index = pd.MultiIndex.from_arrays(arrays, names=("year", "quarter"))

df_revenue = pd.DataFrame(
    {"revenue": [5000, 7000, 6000, 8000]},
    index=index
)
df_revenue

              revenue
year quarter
2023 Q1          5000
     Q2          7000
2024 Q1          6000
     Q2          8000