<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Store': ['Store_A', 'Store_B', 'Store_A', 'Store_C', 'Store_B', 'Store_A', 'Store_C'],
    'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone', 'Phone', 'Tablet'],
    'Quantity': [5, 8, 3, 6, 4, 7, 2],
    'Price': [1000, 500, 1000, 300, 500, 500, 300]
})
df

     Store Product  Quantity  Price
0  Store_A  Laptop         5   1000
1  Store_B   Phone         8    500
2  Store_A  Laptop         3   1000
3  Store_C  Tablet         6    300
4  Store_B   Phone         4    500
5  Store_A   Phone         7    500
6  Store_C  Tablet         2    300

In [5]:
# Total number of products sold per store
df.groupby('Store')['Quantity'].sum()

Store
Store_A    15
Store_B    12
Store_C     8
Name: Quantity, dtype: int64

In [6]:
# Average Price per Store
df.groupby('Store')['Price'].mean()

Store
Store_A    833.333333
Store_B    500.000000
Store_C    300.000000
Name: Price, dtype: float64

In [9]:
# How many different product types are there for each store?
df.groupby('Store')['Product'].unique()

Store
Store_A    [Laptop, Phone]
Store_B            [Phone]
Store_C           [Tablet]
Name: Product, dtype: object

In [11]:
df['total_income'] = df['Quantity']*df['Price']
df

     Store Product  Quantity  Price  total_income
0  Store_A  Laptop         5   1000          5000
1  Store_B   Phone         8    500          4000
2  Store_A  Laptop         3   1000          3000
3  Store_C  Tablet         6    300          1800
4  Store_B   Phone         4    500          2000
5  Store_A   Phone         7    500          3500
6  Store_C  Tablet         2    300           600

In [12]:
# Total revenue per Store
df.groupby('Store')['total_income'].sum()

Store
Store_A    11500
Store_B     6000
Store_C     2400
Name: total_income, dtype: int64

In [13]:
df2 = pd.DataFrame({
    'Department': ['IT', 'HR', 'IT', 'Sales', 'HR', 'IT', 'Sales', 'HR'],
    'Employee': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol', 'Nodir', 'Aziz', 'Bobur'],
    'Salary': [5000, 4000, 5500, 4500, 4200, 6000, 4800, 3900],
    'Experience': [3, 5, 7, 4, 6, 9, 5, 4]
})
df2

  Department Employee  Salary  Experience
0         IT      Ali    5000           3
1         HR     Vali    4000           5
2         IT   Sardor    5500           7
3      Sales    Jasur    4500           4
4         HR    Kamol    4200           6
5         IT    Nodir    6000           9
6      Sales     Aziz    4800           5
7         HR    Bobur    3900           4

In [20]:
df2.groupby('Department').agg[{
    'Salary': ['max', 'min'],
    'Experience': 'mean',
    'Employee': 'sum'}]

TypeError: 'method' object is not subscriptable