<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
df1 = pd.DataFrame({
    "name": ["Ali", "Vali", "Hasan", None],
    "age": [23, None, 19, 21],
    "salary": [3000, 3500, None, 4000]
})
df1

In [ ]:
# age ustunidagi nanni o'rtacha yosh bilan to'ldirish
df1['age'].fillna(df1['age'].mean())

In [ ]:
# salary ustunidagi NaN qiymatni median bilan to‘ldirish
df1['salary'].fillna(df1['salary'].median())

In [ ]:
# name ustunidagi NaN qiymatni "NoName" bilan to‘ldirish
df1['name'].fillna('NoName')

In [ ]:
# yangi DF ga barcha nanlarni 0 bilan to'ldirish
df1_2 = df1.fillna(0)

In [ ]:
df1_2

In [ ]:
df2 = pd.DataFrame({
    "product": ["A", "A", "B", "C", "C", "C"],
    "price": [100, 100, 150, 200, 200, 250]
})
df2

In [ ]:
# qaysi qatorlar takrorlangan :
df2[df2.duplicated()]

In [ ]:
# Takroriy qatorlarni to‘liq o‘chirib yuborish
df2.drop_duplicates()

In [ ]:
# Faqat birinchi uchraganini qoldirib, boshqalarni o‘chirib yuborish
df2.drop_duplicates(keep='first')

In [ ]:
# Faqat oxirgi uchraganini qoldirib, boshqalarni o‘chirib yuborish
df2.drop_duplicates(keep='last')

In [ ]:
df3 = pd.DataFrame({
    "gender": ["M", "F", "M", "F", "M"]
})
df3

In [ ]:
# M-male , F-female qilish
df3['gender'].map({'M':'male', 'F':'female'})

In [ ]:
df3['gender'].map({'M':1, 'F':0})

In [ ]:
df4 = pd.DataFrame({
    "ism": ["Ali", "Vali", "Hasan"],
    "yosh": [20, 22, 19]
})
df4

In [ ]:
df4['ism'].replace({'Vali':"Valijon"})

In [ ]:
df4.rename(columns={'ism':'name', 'yosh':'age'}, inplace=True)

In [ ]:
df4['age'].replace(22, 30)

In [ ]:
df5 = pd.DataFrame({"score": [10, 23, 35, 50, 77, 80, 95]})
df5

In [ ]:
df5['score'].min()

In [ ]:
df5['score'].max()

In [ ]:
df5['score'].mean()

In [ ]:
df5_bins = [9, 35, 53, 96]
pd.cut(df5['score'], df5_bins, labels=['past', "o'rtacha", 'yuqori'])