<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Name': ['Ali Khan', 'Vali Karimov', 'Sardor Toshmatov'],
    'Birth_Year': [1995, 1990, 1998],
    'Salary': [5000, 6500, 4800]
})
df

               Name  Birth_Year  Salary
0          Ali Khan        1995    5000
1      Vali Karimov        1990    6500
2  Sardor Toshmatov        1998    4800

In [6]:
df['Name'].str.split(' ').str[0]

0       Ali
1      Vali
2    Sardor
Name: Name, dtype: object