<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/practice_all2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This page will be a practice of data preparation. DFs will be created using AI.

In [1]:
import numpy as np
import pandas as pd

In [2]:
arrays = [
    ["Toshkent", "Toshkent", "Samarqand", "Samarqand"],
    ["Jan", "Feb", "Jan", "Feb"]
]

index = pd.MultiIndex.from_arrays(arrays, names=("city", "month"))

df_sales = pd.DataFrame(
    {"sales": [1200, 1500, 900, 1100]},
    index=index
)
df_sales

                 sales
city      month
Toshkent  Jan     1200
          Feb     1500
Samarqand Jan      900
          Feb     1100

In [3]:
# faqat toshkent ma'lumotlarini olish
df_sales.loc['Toshkent']

       sales
month
Jan     1200
Feb     1500

In [4]:
# fevralga oid ma'lumotlar
df_sales.loc[(slice(None), 'Feb'), :]

                 sales
city      month
Toshkent  Feb     1500
Samarqand Feb     1100

In [5]:
# oddiy indeksli DF qilish
df_sales.reset_index()

        city month  sales
0   Toshkent   Jan   1200
1   Toshkent   Feb   1500
2  Samarqand   Jan    900
3  Samarqand   Feb   1100

In [6]:
df_scores = pd.DataFrame({
    "student": ["Ali", "Vali", "Hasan"],
    "math": [85, 78, 92],
    "english": [88, 80, 90]
})
df_scores

  student  math  english
0     Ali    85       88
1    Vali    78       80
2   Hasan    92       90