<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/replace_rename.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Holat': ['Yaxshi', 'Yomon', 'O\'rtacha', 'Yaxshi', 'Yomon', 'Yomon', 'Yaxshi'],

    'Sotuv_Xato_Kodi': [101, 204, 301, 101, 204, 404, 301],

    'Status_raqam': [5, 4, 3, 5, 4, 3, 5],

    'Joylashuv_Kod': ['SHM', 'JNB', 'GRB', 'SHM', 'JNB', 'SHM', 'GRB'],

    'Sharh': ['OK', 'Yomon', 'OK', 'OK', 'Yomon', 'Juda Yomon', 'OK']
}
df = pd.DataFrame(data)
df

In [ ]:
# holat ustunidagi o'rtacha qiymatini o'zgartirish
df.replace("O'rtacha", 'Yaxshi')

In [ ]:
# sotuv_xato_kodidagi 404 ni 301 qilish
df.replace(404, 301)

In [ ]:
# sharhdagi juda yomon qiymatini o'zgartirish
df.replace('Juda Yomon', 'Yomon')

In [ ]:
# sotuv_xato_kodi ustunidagi barcha qiymatlarni o'zgartirish
df.replace({101:100, 204:200, 301:300, 404:100})

In [ ]:
# ustun nomlarini kichik harflarda yozish
df.rename(columns=str.lower)

In [ ]:
# 3-va 5-indekslarni matnliga o'zgartirish + ustun nomlari kichik harflar
df.rename(index={3:'uchinchi', 5:'beshinchi'}, columns=str.lower)

In [ ]:
# sotuv_xato_kodi ustun nomini xato_kod ga o'zgartirish
df.rename(columns={'Sotuv_Xato_Kodi':"xato_kod"})

In [ ]:
# bir vaqtda 1-4-6-indekslarni matnli qilib yozish + Status_raqam va Joylashuv_kod nomlarini o'zgartirish
df.rename(index={1:'birinchi', 4:"to'rtinchi", 6:'oltinchi'}, columns={'Status_raqam':'status_num', 'Joylashuv_Kod':'place_code'})

*topshiriqlar*

In [ ]:
s = pd.Series(["NY", "LA", "NY", "SF", "LA"])
s

In [ ]:
# NY-new york, LA-los angeles, SF-san francisco ga almashtirish
s.replace({'NY':'new york', 'LA':'los angeles', 'SF':'san francisco'})

In [ ]:
df2 = pd.DataFrame({
    "age": [25, -1, 30, -1, 45],
    "score": [80, 90, -1, 70, -1]
})
df2

In [ ]:
# -1 qiymatlarni NaN qilish
df2.replace(-1, np.nan)

In [ ]:
gender = pd.Series(["M", "F", "M", "F", "M"])
gender

In [ ]:
# M-1, F-0
gender.replace({'M':1, 'F':0}).infer_objects(copy=False)

In [ ]:
df3 = pd.DataFrame({
    "A": [1,2,3],
    "B": [4,5,6],
    "C": [7,8,9]
})
df3

In [ ]:
# A-age, B-score, C-grade ga o'zgartirish
df3.rename(columns={'A':'age', 'B':'score', 'C':'grade'})

In [ ]:
df4 = pd.DataFrame({
    "city": ["Toshkent", "Samarqand", "Farg'ona"],
    "pop": [3.0, 1.1, 2.0]
})
df4

In [ ]:
# 0-T, 1-S, 2-F qilish
df4.rename(index={0:'T', 1:'S', 2:'F'})

In [ ]:
df5 = pd.DataFrame({
    "emp_name": ["Ali", "Vali", "Hasan"],
    "salary$": [300, 400, 500],
    "dept.": ["IT", "HR", "IT"]
})
df5

In [ ]:
# ustun nomlarini o'zgartirish
df5.rename(columns={'emp_name':'name', 'salary$':'salary', 'dept.':'department'}, inplace=True)

In [ ]:
# bo'lim nomlarini o'zgartirish
df5['department'].replace({'IT':"information technology", 'HR':"human resources"}, inplace=True)

In [ ]:
df5