<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/shuffling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from datetime import date, timedelta

In [ ]:
start_date = date(2024, 1, 1)

# DataFrame uchun ma'lumotlar
data = {
    'Ism': [f'Xodim_{i}' for i in range(1, 11)],
    'Yoshi': [25, 27, 22, 30, 24, 28, 23, 31, 26, 29],
    'Guruh': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B', 'A', 'C'],
    'Baho': [4.5, 3.8, 4.9, 3.5, 4.1, 4.7, 3.9, 4.2, 4.6, 4.0],
    'Sana': [start_date + timedelta(days=i * 10) for i in range(10)]
}
df = pd.DataFrame(data)
df

In [ ]:
df.sample(frac=1, random_state=42)

In [ ]:
randlist = np.random.permutation(len(df))
randlist

In [ ]:
df.take(randlist)

*topshiriqlar*

In [ ]:
df2 = pd.DataFrame({
    "name": ["Ali", "Vali", "Gulnoza", "Diyor", "Akmal"],
    "score": [56, 78, 90, 67, 88]
})
df2

In [ ]:
# df2ni yangi tartib bilan chiqarish
df2_randlst = np.random.permutation(len(df2))
df2.take(df2_randlst)

In [ ]:
arr = np.array([10, 20, 30, 40, 50, 60, 70, 80])
arr

In [ ]:
# indekslarni aralashtirish
arr_idx = np.random.permutation(len(arr))
arr_idx

In [ ]:
arr.take(arr_idx)

In [ ]:
df3 = pd.DataFrame({
    "A": range(1, 11),
    "B": range(11, 21)
})
df3

In [ ]:
df3.sample(frac=1)