<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/str_to_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
data = {
    'Standart_Sana': ['2023-11-20', '2023-12-05', '2024-01-15', '2024-02-28',
                      '2024-03-10', '2024-04-12', '2024-05-01', '2024-06-30'],

    'Maxsus_Sana_1': ['08/25/2023', '09/10/2023', '10/18/2023', '11/05/2023',
                      '12/01/2023', '01/01/2024', '02/14/2024', '03/08/2024'],

    'Maxsus_Sana_2': ['230101', '230315', '230520', '230712',
                      '230901', '231125', 'Boshqa', '240105']
}
df = pd.DataFrame(data)
df

In [ ]:
df.info()

In [ ]:
df['Standart_Sana'].str.len()

In [ ]:
# standard sana ustunini matndan datetime formatiga o'tkizish
df['Standart_Sana'] = pd.to_datetime(df['Standart_Sana'], format='%Y-%m-%d')

In [ ]:
df.info()

In [ ]:
# Maxsus_Sana_1 va Maxsus_Sana_2 ustunlarini ham datetime formatiga o'tkizish
df['Maxsus_Sana_1'] = pd.to_datetime(df['Maxsus_Sana_1'], format='%m/%d/%Y')

In [ ]:
df['Maxsus_Sana_2'].value_counts()

In [ ]:
df.iloc[6, 2] = '240205'
df

In [ ]:
df['Maxsus_Sana_2'] = pd.to_datetime(df['Maxsus_Sana_2'], format='%y%m%d')

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.at[1, 'Standart_Sana']

In [ ]:
# Maxsus_Sana_1 ning 4-qatordagi vaqtidan oyni olish
df.at[3, 'Maxsus_Sana_1'].month

In [ ]:
# yuqoridagi vaqtni kunini olish
df.at[3, 'Maxsus_Sana_1'].day

*topshiriqlar*

In [ ]:
s = pd.Series([
    "2004/03/15",
    "1999/12/01",
    "2001/07/20",
    "2003/11/05"
])
s

In [ ]:
# datetime formatiga o'tkizish
s = pd.to_datetime(s)
s

In [ ]:
# har bir sanadan yil, oy, kunni ajratish
year = s.dt.year
month = s.dt.month
day = s.dt.day

In [ ]:
# hafta kunini aniqlash
s.dt.weekday

In [ ]:
df2 = pd.DataFrame({
    "order_id": [101, 102, 103, 104],
    "order_date": ["10-02-2024", "15-03-2024", "18-03-2024", "01-01-2024"]
})
df2

In [ ]:
df2['order_date'] = pd.to_datetime(df2['order_date'], format='%d-%m-%Y')
df2['order_date']

In [ ]:
df2['order_date'].dt.day_of_week

In [ ]:
# har bir sanadan hafta nomini olish
df2['order_date'].dt.day_name()

In [ ]:
df3 = pd.DataFrame({
    "event": ["Start", "Update", "Finish"],
    "time": ["2024-03-01 12:30", "2024-03-01 15:45", "2024-03-02 09:00"]
})
df3

In [ ]:
df3['time'] = pd.to_datetime(df3['time'], format='%Y-%m-%d %H:%M')
df3

In [ ]:
df3['time'].dt.hour

In [ ]:
df3['time'].dt.minute

In [ ]:
df3['time'].dt.date