<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas_data_preparation/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Full_Name': ['Mr. Ahmed Ali', 'Dr. Sara Khan', 'Ms. Fatima Rahman'],
    'Email': ['ahmed.ali@company.com', 'sara.khan@tech.org', 'fatima.r@startup.io'],
    'Phone': ['(998) 90-123-4567', '998-91-234-5678', '998 93 345 6789']
})
df

           Full_Name                  Email              Phone
0      Mr. Ahmed Ali  ahmed.ali@company.com  (998) 90-123-4567
1      Dr. Sara Khan     sara.khan@tech.org    998-91-234-5678
2  Ms. Fatima Rahman    fatima.r@startup.io    998 93 345 6789

In [3]:
# Remove titles like "Mr.", "Dr.", "Ms." from Full_Name
df['Full_Name'] = df['Full_Name'].str.split('.').str[1]
df

        Full_Name                  Email              Phone
0       Ahmed Ali  ahmed.ali@company.com  (998) 90-123-4567
1       Sara Khan     sara.khan@tech.org    998-91-234-5678
2   Fatima Rahman    fatima.r@startup.io    998 93 345 6789

In [4]:
# Extract only the username part from the email
df['Email'] = df['Email'].str.split('@').str[0]
df

        Full_Name      Email              Phone
0       Ahmed Ali  ahmed.ali  (998) 90-123-4567
1       Sara Khan  sara.khan    998-91-234-5678
2   Fatima Rahman   fatima.r    998 93 345 6789

In [5]:
# Convert phone numbers to numbers only
df['Phone'] = df['Phone'].replace(r'\D', '', regex=True)
df

        Full_Name      Email         Phone
0       Ahmed Ali  ahmed.ali  998901234567
1       Sara Khan  sara.khan  998912345678
2   Fatima Rahman   fatima.r  998933456789

In [6]:
df1 = pd.DataFrame({
    'Product_Code': ['ELEC-LAP-001', 'FURN-CHA-002', 'ELEC-PHO-003', 'FURN-TAB-004'],
    'Description': ['  High Performance Laptop  ', 'ERGONOMIC OFFICE CHAIR', '  smartphone 5G  ', 'wooden table'],
    'Category': ['Electronics', 'Furniture', 'Electronics', 'Furniture']
})
df1

   Product_Code                  Description     Category
0  ELEC-LAP-001    High Performance Laptop    Electronics
1  FURN-CHA-002       ERGONOMIC OFFICE CHAIR    Furniture
2  ELEC-PHO-003              smartphone 5G    Electronics
3  FURN-TAB-004                 wooden table    Furniture

In [7]:
# Extract the first part from Product_Code (ELEC, FURN
df1['Product_Code'].str.split('-').str[0]

0    ELEC
1    FURN
2    ELEC
3    FURN
Name: Product_Code, dtype: object

In [8]:
# Remove spaces from Description and capitalize the first letter of each word
df1['Description'] = df1['Description'].str.strip()
df1['Description'] = df1['Description'].str.capitalize()
df1

   Product_Code              Description     Category
0  ELEC-LAP-001  High performance laptop  Electronics
1  FURN-CHA-002   Ergonomic office chair    Furniture
2  ELEC-PHO-003            Smartphone 5g  Electronics
3  FURN-TAB-004             Wooden table    Furniture

In [29]:
# If the length of Category is greater than 10, write "Long", otherwise "Short"
df1['Category'].apply(lambda x: 'Long' if len(x)>10 else 'short')

0    short
1    short
2    short
3    short
Name: Category, dtype: object

In [15]:
df2 = pd.DataFrame({
    'Customer_ID': ['USR_001_ACTIVE', 'ADM_002_INACTIVE', 'USR_003_ACTIVE', 'MOD_004_ACTIVE'],
    'Username': ['user@example.com', 'admin@system.net', 'customer@shop.uz', 'moderator@forum.org'],
    'Status': ['Active', 'Inactive', 'Active', 'Active']
})
df2

        Customer_ID             Username    Status
0    USR_001_ACTIVE     user@example.com    Active
1  ADM_002_INACTIVE     admin@system.net  Inactive
2    USR_003_ACTIVE     customer@shop.uz    Active
3    MOD_004_ACTIVE  moderator@forum.org    Active

In [17]:
# Extract only the number part from Customer_ID
df2['Customer_ID'].str.split('_').str[1]

0    001
1    002
2    003
3    004
Name: Customer_ID, dtype: object

In [22]:
# Check if the username contains the word "admin" or "moderator"
(df2['Username'].str.split('@').str[0] == 'admin') | (df2['Username'].str.split('@').str[0] == 'moderator')

0    False
1     True
2    False
3     True
Name: Username, dtype: bool

In [31]:
# If the username is longer than 20 characters, shorten it (the first 20 characters
df2['Username'].apply(lambda x: x[:20] if len(x)>20 else x)

0       user@example.com
1       admin@system.net
2       customer@shop.uz
3    moderator@forum.org
Name: Username, dtype: object