<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/practice/practice_all_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

# Create a DataFrame from this dictionary and display it
df = pd.DataFrame(data)
df

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

In [3]:
students = [
    ['Ahmad', 85, 'Math'],
    ['Zarina', 92, 'Physics'],
    ['Bekzod', 78, 'Chemistry']
]

# Create a DataFrame from this list. Columns: 'Student', 'Score', 'Subject
df2 = pd.DataFrame(students, columns=['Student', 'Score', 'Subject'])
df2

  Student  Score    Subject
0   Ahmad     85       Math
1  Zarina     92    Physics
2  Bekzod     78  Chemistry

In [4]:
df3 = pd.DataFrame({
    'ProductID': [101, 102, 103, 104, 105],
    'ProductName': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'Price': [1200, 25, 75, 300, 150],
    'Stock': [50, 200, 150, 80, 120],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories']
})
df3

   ProductID ProductName  Price  Stock     Category
0        101      Laptop   1200     50  Electronics
1        102       Mouse     25    200  Accessories
2        103    Keyboard     75    150  Accessories
3        104     Monitor    300     80  Electronics
4        105  Headphones    150    120  Accessories

In [5]:
# Select only the columns 'ProductName', 'Price' and 'Stock'
df3[['ProductName', 'Price', 'Stock']]

  ProductName  Price  Stock
0      Laptop   1200     50
1       Mouse     25    200
2    Keyboard     75    150
3     Monitor    300     80
4  Headphones    150    120

In [7]:
# Select columns 1, 3, and 4 by number
df3.iloc[:, [0, 2, 3]]

   ProductID  Price  Stock
0        101   1200     50
1        102     25    200
2        103     75    150
3        104    300     80
4        105    150    120

In [8]:
df4 = pd.DataFrame({
    'A': [10, 20, 30, 40, 50],
    'B': [15, 25, 35, 45, 55],
    'C': [12, 22, 32, 42, 52],
    'D': [18, 28, 38, 48, 58]
})
df4

    A   B   C   D
0  10  15  12  18
1  20  25  22  28
2  30  35  32  38
3  40  45  42  48
4  50  55  52  58

In [22]:
# Select all even-numbered columns (0, 2)
df4.iloc[:, [0, 2]]

    A   C
0  10  12
1  20  22
2  30  32
3  40  42
4  50  52

In [27]:
# Select columns 'B' through 'D'
df4.loc[:, 'B':'D']

    B   C   D
0  15  12  18
1  25  22  28
2  35  32  38
3  45  42  48
4  55  52  58

In [35]:
sales_data = {
    'region': {
        'north': {'q1': 15000, 'q2': 18000},
        'south': {'q1': 12000, 'q2': 14000}
    },
    'employees': {
        'north': {'q1': 25, 'q2': 28},
        'south': {'q1': 20, 'q2': 22}
    }
}

# bajarolmadim

In [36]:
# Task 6

In [37]:
df6 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [5000, 6000, 5500, 7000, 6500]
})
df6

      Name  Salary
0    Alice    5000
1      Bob    6000
2  Charlie    5500
3    David    7000
4      Eve    6500

In [44]:
# Set the 'Name' column as index
df6.set_index('Name', inplace=True)

In [45]:
df6

         Salary
Name
Alice      5000
Bob        6000
Charlie    5500
David      7000
Eve        6500

In [48]:
# Rename the index to 'Employee'
df6.rename_axis('Employee', inplace=True)

In [49]:
df6

          Salary
Employee
Alice       5000
Bob         6000
Charlie     5500
David       7000
Eve         6500

In [50]:
df7 = pd.DataFrame({
    'Product': ['A', 'B', 'C', 'D'],
    'Price': [100, 200, 150, 300]
}, index=[10, 20, 30, 40])
df7

   Product  Price
10       A    100
20       B    200
30       C    150
40       D    300

In [56]:
# Change the indices to ['P1', 'P2', 'P3', 'P4']
df7.index = ['P1', 'P2', 'P3', 'P4']

In [57]:
df7

   Product  Price
P1       A    100
P2       B    200
P3       C    150
P4       D    300

In [58]:
# Renumber the index starting from 0.
df7.reset_index(drop=True)

  Product  Price
0       A    100
1       B    200
2       C    150
3       D    300

In [59]:
df8 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol'],
    'Age': [25, 30, 35, 28, 32]
}, index=[101, 102, 103, 104, 105])
df8

       Name  Age
101     Ali   25
102    Vali   30
103  Sardor   35
104   Jasur   28
105   Kamol   32

In [61]:
# Output the row with index 103
df8.loc[103]

Name    Sardor
Age         35
Name: 103, dtype: object

In [63]:
# Extract rows from index 102 to 104
df8.loc[102:104]

       Name  Age
102    Vali   30
103  Sardor   35
104   Jasur   28

In [64]:
df9 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch'],
    'Price': [1000, 500, 300, 200]
}, index=['A', 'B', 'C', 'D'])
df9

  Product  Price
A  Laptop   1000
B   Phone    500
C  Tablet    300
D   Watch    200

In [67]:
# Output the array with index B'
df9.loc['B']

Product    Phone
Price        500
Name: B, dtype: object

In [69]:
# Output the rows from 'A' to 'C' (C is included)
df9.loc['A':'C']

  Product  Price
A  Laptop   1000
B   Phone    500
C  Tablet    300

In [70]:
# Extract the 2nd row by position
df9.iloc[1]

Product    Phone
Price        500
Name: B, dtype: object