<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/practice/practice_all_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

# Create a DataFrame from this dictionary and display it
df = pd.DataFrame(data)
df

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

In [3]:
students = [
    ['Ahmad', 85, 'Math'],
    ['Zarina', 92, 'Physics'],
    ['Bekzod', 78, 'Chemistry']
]

# Create a DataFrame from this list. Columns: 'Student', 'Score', 'Subject
df2 = pd.DataFrame(students, columns=['Student', 'Score', 'Subject'])
df2

  Student  Score    Subject
0   Ahmad     85       Math
1  Zarina     92    Physics
2  Bekzod     78  Chemistry

In [4]:
df3 = pd.DataFrame({
    'ProductID': [101, 102, 103, 104, 105],
    'ProductName': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'Price': [1200, 25, 75, 300, 150],
    'Stock': [50, 200, 150, 80, 120],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories']
})
df3

   ProductID ProductName  Price  Stock     Category
0        101      Laptop   1200     50  Electronics
1        102       Mouse     25    200  Accessories
2        103    Keyboard     75    150  Accessories
3        104     Monitor    300     80  Electronics
4        105  Headphones    150    120  Accessories

In [5]:
# Select only the columns 'ProductName', 'Price' and 'Stock'
df3[['ProductName', 'Price', 'Stock']]

  ProductName  Price  Stock
0      Laptop   1200     50
1       Mouse     25    200
2    Keyboard     75    150
3     Monitor    300     80
4  Headphones    150    120