<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/practice/practice_all_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

# Create a DataFrame from this dictionary and display it
df = pd.DataFrame(data)
df

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

In [3]:
students = [
    ['Ahmad', 85, 'Math'],
    ['Zarina', 92, 'Physics'],
    ['Bekzod', 78, 'Chemistry']
]

# Create a DataFrame from this list. Columns: 'Student', 'Score', 'Subject
df2 = pd.DataFrame(students, columns=['Student', 'Score', 'Subject'])
df2

  Student  Score    Subject
0   Ahmad     85       Math
1  Zarina     92    Physics
2  Bekzod     78  Chemistry

In [4]:
df3 = pd.DataFrame({
    'ProductID': [101, 102, 103, 104, 105],
    'ProductName': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'Price': [1200, 25, 75, 300, 150],
    'Stock': [50, 200, 150, 80, 120],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories']
})
df3

   ProductID ProductName  Price  Stock     Category
0        101      Laptop   1200     50  Electronics
1        102       Mouse     25    200  Accessories
2        103    Keyboard     75    150  Accessories
3        104     Monitor    300     80  Electronics
4        105  Headphones    150    120  Accessories

In [5]:
# Select only the columns 'ProductName', 'Price' and 'Stock'
df3[['ProductName', 'Price', 'Stock']]

  ProductName  Price  Stock
0      Laptop   1200     50
1       Mouse     25    200
2    Keyboard     75    150
3     Monitor    300     80
4  Headphones    150    120

In [7]:
# Select columns 1, 3, and 4 by number
df3.iloc[:, [0, 2, 3]]

   ProductID  Price  Stock
0        101   1200     50
1        102     25    200
2        103     75    150
3        104    300     80
4        105    150    120

In [8]:
df4 = pd.DataFrame({
    'A': [10, 20, 30, 40, 50],
    'B': [15, 25, 35, 45, 55],
    'C': [12, 22, 32, 42, 52],
    'D': [18, 28, 38, 48, 58]
})
df4

    A   B   C   D
0  10  15  12  18
1  20  25  22  28
2  30  35  32  38
3  40  45  42  48
4  50  55  52  58

In [22]:
# Select all even-numbered columns (0, 2)
df4.iloc[:, [0, 2]]

    A   C
0  10  12
1  20  22
2  30  32
3  40  42
4  50  52

In [27]:
# Select columns 'B' through 'D'
df4.loc[:, 'B':'D']

    B   C   D
0  15  12  18
1  25  22  28
2  35  32  38
3  45  42  48
4  55  52  58

In [34]:
sales_data = {
    'region': {
        'north': {'q1': 15000, 'q2': 18000},
        'south': {'q1': 12000, 'q2': 14000}
    },
    'employees': {
        'north': {'q1': 25, 'q2': 28},
        'south': {'q1': 20, 'q2': 22}
    }
}

#df5 = pd.DataFrame(sales_data)
#df5 = pd.DataFrame.from_dict(sales_data, orient='index')
#df5
pd.json_normalize(sales_data)

,region.north.q1,region.north.q2,region.south.q1,region.south.q2,employees.north.q1,employees.north.q2,employees.south.q1,employees.south.q2
0,15000,18000,12000,14000,25,28,20,22