<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/practice/practice_all02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur'],
    'Age': [25, 30, 35, 28],
    'City': ['Tashkent', 'Samarkand', 'Bukhara', 'Fergana']
}

In [3]:
df1 = pd.DataFrame(data)
df1

     Name  Age       City
0     Ali   25   Tashkent
1    Vali   30  Samarkand
2  Sardor   35    Bukhara
3   Jasur   28    Fergana

In [4]:
students = [
    ['Ahmad', 85, 'Math'],
    ['Bekzod', 92, 'Physics'],
    ['Dilshod', 78, 'Chemistry'],
    ['Eldor', 88, 'Biology']
]
df2 = pd.DataFrame(students, columns=['Student', 'Score', 'Subject'])
df2

   Student  Score    Subject
0    Ahmad     85       Math
1   Bekzod     92    Physics
2  Dilshod     78  Chemistry
3    Eldor     88    Biology

In [5]:
df3 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Camera'],
    'Price': [1000, 500, 300, 200, 800],
    'Stock': [50, 120, 80, 200, 45],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Electronics']
})

# only Product and Price columns
df3[['Product', 'Price']]

  Product  Price
0  Laptop   1000
1   Phone    500
2  Tablet    300
3   Watch    200
4  Camera    800

In [6]:
df4 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Math': [85, 90, 78, 92, 88],
    'Physics': [88, 85, 90, 87, 91],
    'Chemistry': [90, 88, 85, 89, 86],
    'Biology': [87, 91, 88, 90, 89]
})
df4

      Name  Math  Physics  Chemistry  Biology
0    Alice    85       88         90       87
1      Bob    90       85         88       91
2  Charlie    78       90         85       88
3    David    92       87         89       90
4      Eve    88       91         86       89

In [9]:
# Select columns 2 and 4 by number
df4.iloc[:, [1, 3]]

   Math  Chemistry
0    85         90
1    90         88
2    78         85
3    92         89
4    88         86

In [11]:
# Create a DataFrame from this nested dictionary
products = {
    'electronics': {
        'laptop': 1200,
        'phone': 800,
        'tablet': 500
    },
    'furniture': {
        'chair': 150,
        'table': 300,
        'sofa': 800
    }
}
df5 = pd.DataFrame(products)
df5

        electronics  furniture
laptop       1200.0        NaN
phone         800.0        NaN
tablet        500.0        NaN
chair           NaN      150.0
table           NaN      300.0
sofa            NaN      800.0

In [12]:
# Create a DataFrame from this data and display the row and column names
company_data = {
    'IT': {
        'employees': 50,
        'budget': 500000,
        'projects': 12
    },
    'HR': {
        'employees': 15,
        'budget': 100000,
        'projects': 3
    },
    'Sales': {
        'employees': 30,
        'budget': 200000,
        'projects': 8
    }
}
df6 = pd.DataFrame(company_data)
df6

               IT      HR   Sales
employees      50      15      30
budget     500000  100000  200000
projects       12       3       8

In [13]:
df7 = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105],
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol'],
    'Salary': [5000, 6000, 5500, 7000, 6500]
})
df7

    ID    Name  Salary
0  101     Ali    5000
1  102    Vali    6000
2  103  Sardor    5500
3  104   Jasur    7000
4  105   Kamol    6500

In [14]:
# Set the 'ID' column as index
df7.set_index('ID', inplace=True)

In [15]:
df7

       Name  Salary
ID
101     Ali    5000
102    Vali    6000
103  Sardor    5500
104   Jasur    7000
105   Kamol    6500

In [16]:
df8 = pd.DataFrame({
    'Name': ['Product_A', 'Product_B', 'Product_C', 'Product_D'],
    'Price': [100, 200, 150, 300],
    'Stock': [50, 30, 45, 20]
})
df8

        Name  Price  Stock
0  Product_A    100     50
1  Product_B    200     30
2  Product_C    150     45
3  Product_D    300     20

In [21]:
# Change the indices to ['P1', 'P2', 'P3', 'P4']
df8.index = ['P1', 'P2', 'P3', 'P4']
df8

         Name  Price  Stock
P1  Product_A    100     50
P2  Product_B    200     30
P3  Product_C    150     45
P4  Product_D    300     20

In [22]:
df9 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol'],
    'Age': [25, 30, 35, 28, 32],
    'Salary': [5000, 6000, 5500, 7000, 6500]
}, index=[101, 102, 103, 104, 105])
df9

       Name  Age  Salary
101     Ali   25    5000
102    Vali   30    6000
103  Sardor   35    5500
104   Jasur   28    7000
105   Kamol   32    6500

In [23]:
# Output the row with index 103
df9.loc[103]

Name      Sardor
Age           35
Salary      5500
Name: 103, dtype: object

In [24]:
df10 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Camera'],
    'Price': [1000, 500, 300, 200, 800],
    'Stock': [50, 120, 80, 200, 45]
}, index=['A', 'B', 'C', 'D', 'E'])
df10

  Product  Price  Stock
A  Laptop   1000     50
B   Phone    500    120
C  Tablet    300     80
D   Watch    200    200
E  Camera    800     45

In [26]:
# Extract rows 'B' to 'D'
df10.loc['B':'D']

  Product  Price  Stock
B   Phone    500    120
C  Tablet    300     80
D   Watch    200    200

In [27]:
df11 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol'],
    'Age': [25, 30, 35, 28, 32],
    'Salary': [5000, 6000, 5500, 7000, 6500]
})
df11

     Name  Age  Salary
0     Ali   25    5000
1    Vali   30    6000
2  Sardor   35    5500
3   Jasur   28    7000
4   Kamol   32    6500

In [30]:
# Find employees over 30 years old
df11[df11['Age'] > 30]

     Name  Age  Salary
2  Sardor   35    5500
4   Kamol   32    6500

In [31]:
df12 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch', 'Camera'],
    'Price': [1000, 500, 300, 200, 800],
    'Stock': [50, 120, 80, 200, 45],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Electronics']
})
df12

  Product  Price  Stock     Category
0  Laptop   1000     50  Electronics
1   Phone    500    120  Electronics
2  Tablet    300     80  Electronics
3   Watch    200    200  Accessories
4  Camera    800     45  Electronics

In [34]:
# Find products in the Electronics category priced over 500
df12[(df12['Price']>500) & (df12['Category']=='Electronics')]

  Product  Price  Stock     Category
0  Laptop   1000     50  Electronics
4  Camera    800     45  Electronics

In [35]:
df13 = pd.DataFrame({
    'Name': ['Laptop', 'Phone', 'Tablet'],
    'Price': [1000, 500, 300],
    'Stock': [50, 120, 80]
})
df13

     Name  Price  Stock
0  Laptop   1000     50
1   Phone    500    120
2  Tablet    300     80

In [36]:
# Sort by Price in descending order
df13.sort_values(by='Price', ascending=False)

     Name  Price  Stock
0  Laptop   1000     50
1   Phone    500    120
2  Tablet    300     80

In [37]:
df14 = pd.DataFrame({
    'Student': ['Ali', 'Vali', 'Sardor', 'Jasur', 'Kamol'],
    'Math': [85, 90, 85, 92, 85],
    'Physics': [88, 85, 90, 87, 91]
})
df14

  Student  Math  Physics
0     Ali    85       88
1    Vali    90       85
2  Sardor    85       90
3   Jasur    92       87
4   Kamol    85       91

In [38]:
# Sort in ascending order first by 'Math', then by 'Physics'
df14.sort_values(by=['Math', 'Physics'])

  Student  Math  Physics
0     Ali    85       88
2  Sardor    85       90
4   Kamol    85       91
1    Vali    90       85
3   Jasur    92       87

In [39]:
data2 = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
}
df15 = pd.DataFrame(data2)
df15

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [40]:
# Multiply the values in column A by 2
df15*2

    A    B     C
0   2   20   200
1   4   40   400
2   6   60   600
3   8   80   800
4  10  100  1000

In [41]:
df16 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor'],
    'Age': [25, 30, 35],
    'Salary': [5000, 6000, 5500]
})
df16

     Name  Age  Salary
0     Ali   25    5000
1    Vali   30    6000
2  Sardor   35    5500

In [47]:
df17 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor', 'Jasur'],
    'Department': ['IT', 'HR', 'IT', 'Sales'],
    'Salary': [5000, 4000, 5500, 4500]
})
df17

     Name Department  Salary
0     Ali         IT    5000
1    Vali         HR    4000
2  Sardor         IT    5500
3   Jasur      Sales    4500

In [48]:
# Group by Department and calculate the average salary in each department
df17.groupby('Department')['Salary'].mean()

Department
HR       4000.0
IT       5250.0
Sales    4500.0
Name: Salary, dtype: float64

In [49]:
df18 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Laptop', 'Tablet', 'Phone', 'Laptop'],
    'Store': ['A', 'A', 'B', 'A', 'B', 'A'],
    'Sales': [5, 8, 3, 6, 9, 4]
})
df18

  Product Store  Sales
0  Laptop     A      5
1   Phone     A      8
2  Laptop     B      3
3  Tablet     A      6
4   Phone     B      9
5  Laptop     A      4

In [51]:
# Group by 'Product' and 'Store' and calculate total sales
df18.groupby(by=['Product', 'Store'])['Sales'].sum()

Product  Store
Laptop   A        9
         B        3
Phone    A        8
         B        9
Tablet   A        6
Name: Sales, dtype: int64

In [52]:
df19 = pd.DataFrame({
    'Name': ['Ali', 'Vali', 'Sardor'],
    'Math': [85, 90, 78],
    'Physics': [88, 85, 90]
})
df19

     Name  Math  Physics
0     Ali    85       88
1    Vali    90       85
2  Sardor    78       90

In [56]:
# In the 3rd row, output the score of 'Math' and 'Physics'
df19.iloc[[2], [1, 2]]

   Math  Physics
2    78       90

In [57]:
df20 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet', 'Watch'],
    'Price': [1000, 500, 300, 200],
    'Stock': [50, 120, 80, 200]
}, index=['A', 'B', 'C', 'D'])
df20

  Product  Price  Stock
A  Laptop   1000     50
B   Phone    500    120
C  Tablet    300     80
D   Watch    200    200

In [59]:
# Change the value of 'Price' in row C to 350
df20.iat[2, 1] = 350

In [60]:
df20

  Product  Price  Stock
A  Laptop   1000     50
B   Phone    500    120
C  Tablet    350     80
D   Watch    200    200

In [61]:
df21 = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [5, 15, 25],
    'C': [3, 7, 9]
})
df21

    A   B  C
0  10   5  3
1  20  15  7
2  30  25  9

In [63]:
# Calculate the sum of the values in each row
df21.sum(axis=1)

0    18
1    42
2    64
dtype: int64

In [64]:
df22 = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet'],
    'Price': [1000, 500, 300],
    'Discount': [100, 50, 30]
})
df22

  Product  Price  Discount
0  Laptop   1000       100
1   Phone    500        50
2  Tablet    300        30

In [67]:
# Calculate the price of each product after discount
df22['price2'] = df22['Price'] - df22['Discount']
df22

  Product  Price  Discount  price2
0  Laptop   1000       100     900
1   Phone    500        50     450
2  Tablet    300        30     270