<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/python/if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
cars = ['ford', 'toyota', 'chevrolet', 'bmw', 'honda']
type(cars)

list

In [18]:
print(cars)

['ford', 'toyota', 'chevrolet', 'bmw', 'honda']

In [19]:
# Capitalize the first letter of all car names except BMW
for car in cars:
  if car != 'bmw':
    print(car.title())
  else:
    print(car.upper())

Ford
Toyota
Chevrolet
BMW
Honda

In [20]:
print(car)

honda

In [21]:
# Check if the car variable is equal to 'honda'

car == 'ford' # is it equal to ford?

False

In [22]:
car == 'toyota' # is it equal to toyota?

False

In [23]:
car == 'honda'

True

In [24]:
# It is very important to use methods when comparing strings

name = input("What is your name: ")
if name == 'anvar':
  print(f"Welcome {name.title()}!")
else:
  print("Sorry, we were expecting Anvar.")

What is your name: izzatullo
Sorry, we were expecting Anvar.

In [25]:
# Using methods to avoid the above error

name = input("What is your name: ")
if name.lower() != 'anvar':
  print("Sorry, we were expecting Anvar.")
else:
  print(f"Welcome {name.title()}.")

What is your name: izzatullo
Sorry, we were expecting Anvar.

In [26]:
# The else part is not required

number = float(input("9*3 = "))
if number != 27:
  print("Your answer is incorrect.")

9*3 = 26
Your answer is incorrect.

In [27]:
age = int(input("How old are you: "))

if age >= 18:
  print("You can enter.")
else:
  print("Entry is not allowed.")

How old are you: 21
You can enter.

In [28]:
# Checking the if condition with an expression
login = input("Enter login: ")

if len(login) <= 5:
  print("Login must be more than 5 characters.")

Enter login: izzat2004

In [29]:
year = int(input("What year were you born: "))

if 2025 - year <= 20:
  print("You are not allowed to enter.")
else:
  print("Welcome.")

What year were you born: 2004
Welcome.

In [30]:
number1 = int(input("Enter the 1st number: "))
number2 = int(input("Enter the 2nd number: "))

if number1 == number2:
  print("The numbers are equal.")

Enter the 1st number: 3
Enter the 2nd number: 1

In [31]:
# Writing short code on the same line as if

number3 = int(input("number: "))
if number3 < 5: print("Enter a number greater than 5.")

number: 6

In [32]:
# Writing on the same line with the else part

temperature = float(input("What is your temperature: "))
print("You do not have covid.") if temperature <= 36.9 else print("You may have covid.")

What is your temperature: 36.7
You do not have covid.