<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/python/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# store string data in a list

fruits = ['apple', 'pomegranate', 'cherry', 'fig', 'banana', 'pineapple']
print(fruits)

['apple', 'pomegranate', 'cherry', 'fig', 'banana', 'pineapple']

In [2]:
# store numeric data

prices = [3500, 4600, 7000, 12000, 3000]
print(prices)

[3500, 4600, 7000, 12000, 3000]

In [3]:
# store mixed data types

numbers = ['one', -2, 'three', 4.5, 6, 'seven']
print(type(numbers))

<class 'list'>

In [4]:
# access an element from the list

# get the cherry fruit
print(fruits[2])

cherry

In [5]:
# get the banana
print(fruits[-2])

banana

In [6]:
# string methods can be applied to text data

print(fruits[-1].capitalize())

Pineapple

In [7]:
# print the first fruit in uppercase

print(fruits[0].upper())

APPLE

In [8]:
# calculate the sum of the second and fourth prices

prices[1] + prices[3]

16600

In [9]:
# increase the 4th price by 3000
print(prices[3] + 3000)

15000

In [10]:
# replace an element with a new value

# replace pomegranate with sour cherry
fruits[1] = 'sour cherry'
print(fruits)

['apple', 'sour cherry', 'cherry', 'fig', 'banana', 'pineapple']

In [11]:
# replace banana with plum
fruits[-2] = "plum"
print(fruits)

['apple', 'sour cherry', 'cherry', 'fig', 'plum', 'pineapple']

In [12]:
# add a new fruit to the list
fruits.append('pear')
print(fruits)

['apple', 'sour cherry', 'cherry', 'fig', 'plum', 'pineapple', 'pear']

In [13]:
# add orange to the list
fruits.append('orange')

In [14]:
# add a new number to the prices list
prices.append(14700)
print(prices)

[3500, 4600, 7000, 12000, 3000, 14700]

In [15]:
# insert lemon as the first fruit
fruits.insert(0, 'lemon')
print(fruits)

['lemon', 'apple', 'sour cherry', 'cherry', 'fig', 'plum', 'pineapple', 'pear', 'orange']

In [16]:
# insert grapes as the second fruit
fruits.insert(1, 'grapes')
print(fruits)

['lemon', 'grapes', 'apple', 'sour cherry', 'cherry', 'fig', 'plum', 'pineapple', 'pear', 'orange']

In [17]:
# delete an element by index
del fruits[5]  # remove fig

In [18]:
# delete element at index 5
del fruits[5]
print(fruits)

['lemon', 'grapes', 'apple', 'sour cherry', 'cherry', 'pineapple', 'pear', 'orange']

In [19]:
# remove an element by name
fruits.remove("lemon")

In [20]:
# remove pineapple from the list
fruits.remove("pineapple")

In [21]:
print(fruits)

['grapes', 'apple', 'sour cherry', 'cherry', 'pear', 'orange']

In [22]:
# create a list of cars
cars = ['malibu', 'malibu2', 'nexia', 'damas', 'nexia', 'cobalt', 'nexia', 'nexia2']
print(cars)

['malibu', 'malibu2', 'nexia', 'damas', 'nexia', 'cobalt', 'nexia', 'nexia2']

In [23]:
# remove the first occurrence of a repeated element
cars.remove("nexia")
print(cars)

['malibu', 'malibu2', 'damas', 'nexia', 'cobalt', 'nexia', 'nexia2']

In [24]:
# remove an element using pop and store it
shopping = ['apple', 'pear', 'fig', 'onion', 'potato', 'bread']
product = shopping.pop(-1)
print(f"Now I bought {product}. Remaining products are:\n{shopping}")

Now I bought bread. Remaining products are:
['apple', 'pear', 'fig', 'onion', 'potato']

In [25]:
# remove another element using pop
pear = shopping.pop(1)
print(f"Now I also bought {pear}, remaining: {shopping}")

Now I also bought pear, remaining: ['apple', 'fig', 'onion', 'potato']