<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/python/lmbda01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
num = int(input("Enter the number: "))
# Define a lambda function to calculate the square of a number
square = lambda num:num**2
print(square(num))

Enter the number: 3
9

In [37]:
# Get two numbers from the user and convert them to integers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Define a lambda function to add two numbers
add = lambda num1, num2: num1+num2
print(add(num1, num2))

Enter the first number: 2
Enter the second number: 3
5

In [7]:
word = input("Enter the word: ")
# Define a lambda function to check if the first letter of the word is uppercase
word_up = lambda word: word[0].isupper()
print(word_up(word))

Enter the word: Learning
True

In [18]:
numbers = [11, 22, 33, 44, 55, 66, 77]
# Define a lambda function to filter even numbers from the list
filt_nums = lambda numbers: [i for i in numbers if i%2==0]

In [19]:
print(filt_nums(numbers))

[22, 44, 66]

In [28]:
prices = [100, 250, 400, 150]
# Define a lambda function to increase a number by 10%
func = lambda i: i*1.1
# Use map to apply the function to each item in the 'prices' list and convert the result to a list
map_func = list(map(func, prices))

In [29]:
# Print the list of prices after applying the function
print(map_func)

[110.00000000000001, 275.0, 440.00000000000006, 165.0]

In [31]:
students = [
    {'name': 'Ali', 'age': 25},
    {'name': 'Vali', 'age': 35},
    {'name': 'G\'ani', 'age': 20}
]

In [34]:
# Sort the list of students by age using a lambda function as the key
sort_func = sorted(students, key=lambda i: i['age'])

In [35]:
print(sort_func)

[{'name': "G'ani", 'age': 20}, {'name': 'Ali', 'age': 25}, {'name': 'Vali', 'age': 35}]