<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/python/working_with_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
cars = ['toyota', 'volswagen', 'honda', 'ford', 'bmw', 'mercadez', 'chevrolet']
type(cars)

list

In [53]:
# Sort elements in alphabetical order

cars.sort()

In [54]:
print(cars)

['bmw', 'chevrolet', 'ford', 'honda', 'mercadez', 'toyota', 'volswagen']

In [55]:
# Add new elements to the list
cars.append('Hundai')
cars.append('Nissan')
cars.append('kia')

In [56]:
print(cars)

['bmw', 'chevrolet', 'ford', 'honda', 'mercadez', 'toyota', 'volswagen', 'Hundai', 'Nissan', 'kia']

In [57]:
# Sort in alphabetical order
cars.sort()
print(cars)

['Hundai', 'Nissan', 'bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [58]:
# Reverse the list
cars.sort(reverse=True)

In [59]:
print(cars)

['volswagen', 'toyota', 'mercadez', 'kia', 'honda', 'ford', 'chevrolet', 'bmw', 'Nissan', 'Hundai']

In [60]:
# Display in sorted order only

print(sorted(cars))

['Hundai', 'Nissan', 'bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [61]:
# The original list does not change
print(cars)

['volswagen', 'toyota', 'mercadez', 'kia', 'honda', 'ford', 'chevrolet', 'bmw', 'Nissan', 'Hundai']

In [62]:
# Display in reverse sorted order only

print(sorted(cars, reverse=True))

['volswagen', 'toyota', 'mercadez', 'kia', 'honda', 'ford', 'chevrolet', 'bmw', 'Nissan', 'Hundai']

In [63]:
# The original list does not change

print(cars)

['volswagen', 'toyota', 'mercadez', 'kia', 'honda', 'ford', 'chevrolet', 'bmw', 'Nissan', 'Hundai']

In [64]:
nums = [12, 31, 42, 24, 45, 54, -6, 76, -33]
print(nums)

[12, 31, 42, 24, 45, 54, -6, 76, -33]

In [65]:
# Display only in sorted order

print(sorted(nums))

[-33, -6, 12, 24, 31, 42, 45, 54, 76]

In [66]:
# original list
print(nums)

[12, 31, 42, 24, 45, 54, -6, 76, -33]

In [67]:
# display in reverse order
print(sorted(nums, reverse=True))

[76, 54, 45, 42, 31, 24, 12, -6, -33]

In [68]:
# sort

nums.sort()
print(nums) # original list

[-33, -6, 12, 24, 31, 42, 45, 54, 76]

In [69]:
print(cars)

['volswagen', 'toyota', 'mercadez', 'kia', 'honda', 'ford', 'chevrolet', 'bmw', 'Nissan', 'Hundai']

In [70]:
# reverse the list of strings
cars.reverse()

In [71]:
print(cars)

['Hundai', 'Nissan', 'bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [72]:
# range
nums2 = list(range(22, 33))
print(nums2)

[22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]

In [73]:
odd_numbers = list(range(1, 22, 2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [74]:
even_numbers = list(range(0, 22, 2))
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [75]:
nums

[-33, -6, 12, 24, 31, 42, 45, 54, 76]

In [76]:
# find max, min, sum values
print("Maximum number =", max(nums))
print("Minimum number =", min(nums))
print("Sum of numbers =", sum(nums))

Maximum number = 76
Minimum number = -33
Sum of numbers = 245

In [77]:
print(cars)

['Hundai', 'Nissan', 'bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [78]:
# Getting multiple values from a text list at once

# Get from bmw to kia
print(cars[2:6])

['bmw', 'chevrolet', 'ford', 'honda']

In [79]:
nums

[-33, -6, 12, 24, 31, 42, 45, 54, 76]

In [80]:
# Get from 45 to the end
print(nums[-3:-1])

[45, 54]

In [81]:
# Get from mercadez to the end
print(cars[-3:])

['mercadez', 'toyota', 'volswagen']

In [82]:
# Get from -33 to 24
print(nums[:3])

[-33, -6, 12]

In [83]:
# Make a copy of the cars list
my_cars = cars[:]

In [84]:
print(cars)

['Hundai', 'Nissan', 'bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [85]:
print(my_cars)

['Hundai', 'Nissan', 'bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [86]:
my_cars.remove('Hundai')
my_cars.remove('Nissan')

In [87]:
print(my_cars)

['bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [88]:
print(cars)

['Hundai', 'Nissan', 'bmw', 'chevrolet', 'ford', 'honda', 'kia', 'mercadez', 'toyota', 'volswagen']

In [89]:
len(cars)

10

In [90]:
len(my_cars)

8

**Tuple**

In [91]:
new_cars = ('tico', 'damas', 'lacetti', 'jiguli', 'nexia')

In [92]:
print(type(new_cars))
print(new_cars)

<class 'tuple'>
('tico', 'damas', 'lacetti', 'jiguli', 'nexia')

In [93]:
# getting elements
new_cars[1] # damas

'damas'

In [94]:
new_cars[1:-1]

('damas', 'lacetti', 'jiguli')

In [95]:
# if changing is mandatory
new_cars = list(new_cars)

In [96]:
type(new_cars)

list

In [97]:
new_cars.append('gentra')
new_cars.append('nexia3')

In [98]:
del new_cars[1] # damas is deleted

In [99]:
print(new_cars)

['tico', 'lacetti', 'jiguli', 'nexia', 'gentra', 'nexia3']

In [100]:
# make a tuple
new_cars = tuple(new_cars)

In [101]:
type(new_cars)

tuple

In [102]:
print(new_cars)

('tico', 'lacetti', 'jiguli', 'nexia', 'gentra', 'nexia3')