<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/8_dec_rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.DataFrame({
    "Name": ["Ali","Vali","Hasan","Husan"],
    "Age": [23, 21, 22, 24],
    "Score": [88, 92, 79, 94]
})
df1

In [ ]:
# df ustunlari
df1.columns

In [ ]:
df1.shape

In [ ]:
df1.dtypes

In [ ]:
# yangi ustun qo'shish
df1['Region'] = ['Toshkent viloyati', 'Guliston', 'Jizzax', 'Buxoro']
df1

In [ ]:
# region ustunini o'chirish
del df1['region']

In [ ]:
df1

In [ ]:
# ustun nomini o'zgartirish
df1.rename(columns={'Score':"score"})

In [ ]:
data3 = {
    "2023": {"Jan": 120, "Feb": 150, "Mar": 170},
    "2024": {"Jan": 130, "Feb": 160, "Mar": 180}
}
df3 = pd.DataFrame(data3)
df3

In [ ]:
# 2023 ning eng katta qiymatini aniqlash
df3['2023'].max()

In [ ]:
df3['2023'].mean() <= df3['2024'].mean()

In [ ]:
df4 = pd.DataFrame({
    "Product": ["Laptop","Phone","Tablet","Camera"],
    "Price": [800,500,300,700]
})
df4

In [ ]:
# product ustunini indeks qilish
df4.set_index(df4['Product'], inplace=True)

In [ ]:
df4

In [ ]:
df4.sort_index(inplace=True)

In [ ]:
df4

In [ ]:
df5 = pd.DataFrame({
    "A": [10,20,30,40],
    "B": [5,15,25,35]
}, index=["x","y","z","t"])
df5

In [ ]:
# indekslarni katta harflarga o'tkizish
df5.set_index(df5.index.str.upper(), inplace=True)

In [ ]:
df5

In [ ]:
# teskari tartiblash
df5.sort_index(ascending=False, inplace=True)

In [ ]:
df5

In [ ]:
df5.sort_values(by="B")

In [ ]:
df6 = pd.DataFrame({
    "Score": [90,85,78],
}, index=[1,3,5])
df6

In [ ]:
df6.reindex(index=[1, 2, 3, 4, 5], fill_value=0)

In [ ]:
df7 = pd.DataFrame({
    "Name": ["Ali","Vali","Hasan","Husan"],
    "Math": [80,90,95,70],
    "Eng": [78,85,88,92]
})
df7

In [ ]:
# eng ustunini o'chirish
df7.drop(labels='Eng', axis=1)

In [ ]:
df7.drop(1)

In [ ]:
df7.drop(index=2, columns='Math')

In [ ]:
s8 = pd.Series([120, 80, 45, 90, 110], index=["a","b","c","d","e"])
s8

In [ ]:
s8['b']

In [ ]:
# 100 dan katta qiymatlar
s8[s8>100]

In [ ]:
s9 = pd.Series(['bir', 'ikki', 'uch'], index=[1, 2, 3])
s9

In [ ]:
df9 = pd.DataFrame({
    "A": [10,40,20,50],
    "B": [5,25,15,35],
    "C": ["x","y","x","z"]
})
df9

In [ ]:
df9['A']

In [ ]:
df9[df9['A'] > 20]

In [ ]:
df9[['A', 'C']]

In [ ]:
df10 = pd.DataFrame({
    "Name": ["Ali","Vali","Hasan","Husan"],
    "Score": [90,85,78,92]
})
df10

In [ ]:
df10.loc[3]

In [ ]:
# 78
df10.iloc[2, 1]

In [ ]:
df11 = pd.DataFrame({
    "X": [5,10,15,20],
    "Y": [2,4,6,8]
})
df11

In [ ]:
df11['X'].add(df11['Y'])

In [ ]:
df11*2

In [ ]:
df11['X'].div(df11['Y'])