<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/filtering_rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "Name": ["Ali", "Vali", "Hasan", "Gani", "Soli"],
    "Age": [23, 30, 27, 19, 35],
    "Salary": [400, 500, 450, 300, 700],
    "City": ["Toshkent", "Samarqand", "Toshkent", "Farg'ona", "Nukus"]
})
df

In [ ]:
# yoshi 25 dan kattalar
df[df['Age']>25]

In [ ]:
df2 = pd.DataFrame({
    "Product": ["Laptop", "Phone", "Tablet", "Camera", "Monitor"],
    "Price": [900, 700, 300, 1200, 500],
    "Stock": [5, 0, 12, 3, 7]
})
df2

In [ ]:
# Narxi 500 dan katta VA stokda mavjud bo‘lgan mahsulotlarni ajratish
df2[(df2['Price']>500) & (df2['Stock']>0)]

In [ ]:
df3 = pd.DataFrame({
    "Student": ["Ali", "Vali", "Hasan", "Gani", "Aziz"],
    "Grade": ["A", "C", "B", "A", "D"]
})
df3

In [ ]:
# Bahosi A yoki B bo‘lgan talabalarni aniqlash
df3[(df3['Grade'] == 'A') | (df3['Grade'] == 'B')]['Student']

In [ ]:
df4 = pd.DataFrame({
    "City": ["Toshkent", "Farg'ona", "Buxoro", "Samarqand", "Nukus"],
    "Population": [3000000, 1100000, 270000, 1000000, 330000]
})
df4

In [ ]:
# Farg‘ona, Toshkent va Samarqand shaharlarini ajratish
uch_shahar = ["Farg'ona", 'Toshkent', 'Samarqand']
df4[df4['City'].isin(uch_shahar)]

In [ ]:
df5 = pd.DataFrame({
    "Movie": ["Avatar", "Avengers", "Titanic", "Toy Story", "Top Gun"],
    "Genre": ["Action", "Action", "Drama", "Kids", "Action"]
})
df5

In [ ]:
# Nomi "A" harfi bilan boshlanadigan filmlarni filtrlash
df5[df5['Movie'].str.startswith("A")]

In [ ]:
df6 = pd.DataFrame({
    "Car": ["BMW", "Toyota", "Kia", "Honda", "Chevrolet"],
    "MaxSpeed": [240, 180, 200, 220, 190]
})
df6

In [ ]:
# MaxSpeed 190 dan 230 gacha bo‘lgan mashinalarni tanlab olish
df6[df6['MaxSpeed'].between(190, 230)]

In [ ]:
df7 = pd.DataFrame({
    "Name": ["Ibrohim", "Jasur", "Lola", "Malika", "Anvar"],
    "Age": [21, 29, 24, 32, 27],
    "Salary": [500, 700, 450, 800, 600]
})
df7

In [ ]:
# Yoshi 25 dan katta bo‘lganlarning faqat Name va Salary ustunlarini qaytarish
df7[df7['Age']>25][['Age', 'Salary']]