<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Talaba_ID': np.arange(101, 112).tolist(), # 101 dan 111 gacha ID
    'Yosh': np.random.randint(18, 25, size=11).tolist(), # 18-24 yosh
    'Jins': ['Erkak', 'Ayol'] * 5 + ['Erkak'], # Jins (takrorlangan)
    'Asosiy_fan': np.random.choice(['Dasturlash', 'Iqtisod', 'Dizayn', 'Tibbiyot'], size=11).tolist(),
    '1-oralig_bahosi': np.random.randint(60, 100, size=11).tolist(),
    '2-oralig_bahosi': np.random.randint(65, 98, size=11).tolist(),
    'Davomat_foizi': np.random.randint(80, 100, size=11).tolist()
}

df = pd.DataFrame(data)
df

In [ ]:
df.shape

In [ ]:
# ustun nomlarini o'zgartirish
cols_names = ['id', 'yosh', 'jins', 'fan', 'baho_oraliq1', 'baho_oraliq2', 'davomat_foiz']
print(df.columns)

In [ ]:
df.columns = cols_names
df

In [ ]:
# id ustunini indeks qilish
df.set_index(df.columns[0], inplace=True)
df.head()

In [ ]:
# davomat_foiz ustunini Series qilib olib , bir vaqtda uning qiymatlarini np_arr qilish
davomat_arr = df['davomat_foiz'].to_numpy()
davomat_arr

In [ ]:
type(davomat_arr)

In [ ]:
# bir ustunni DF qilib olib , uning qiymatlarini np_arr qilish
oraliq1_arr = df[['baho_oraliq1']].to_numpy()
oraliq1_arr

In [ ]:
type(oraliq1_arr)

In [ ]:
# oraliq arrayni hajmini aniqlash
oraliq1_arr.ndim

In [ ]:
df

In [ ]:
df.index

In [ ]:
# DF dan indekslar tartib raqami bo'yicha ma'lumotlar olish
df[7:] # 108-indeksdan boshlab ohirigacha

In [ ]:
df

In [ ]:
# filtrlash | yoshi 19 dan katta talabalarni oish
df['yosh']>19

In [ ]:
# yuqoridagi filtrni qiymatlarini olish
df[df.yosh>19]

In [ ]:
# davomat ustunini o'zidan 85% dan yuqorilarini olish
davomat = df[['davomat_foiz']]
davomat[davomat['davomat_foiz']>85]

In [ ]:
df

In [ ]:
df_small = df.sample(4)
df_small

In [ ]:
# kichik DFni Transpose qilish
df_small.T

**1-topshiriq**

In [ ]:
data2 = {
    'Mahsulot': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Turi': ['Elektronika', 'Kiyim', 'Elektronika', 'Kitob', 'Kiyim', 'Elektronika'],
    'Narxi': [1200, 50, 800, 25, 75, 1500],
    'Sotilgan_soni': [55, 250, 90, 400, 180, 30],
    'Mintaqa': ['Sharq', 'G\'arb', 'Sharq', 'G\'arb', 'Shimol', 'Shimol']
}

savdo_df = pd.DataFrame(data2)
savdo_df

In [ ]:
# sotilgan_soni ustunini series qilib olish va np_arr qilish
sotilgan_series = savdo_df['Sotilgan_soni']
type(sotilgan_series)

In [ ]:
sotilgan_series

In [ ]:
# sotilgan_seriesning qiymatlarini np_arr qilish
sotilgan_np = sotilgan_series.to_numpy()
sotilgan_np

In [ ]:
# narxi va sotilgan_sonini birga DF qilib olish
narx_soni_df = savdo_df[['Narxi' ,'Sotilgan_soni']]
narx_soni_df

In [ ]:
type(narx_soni_df)

In [ ]:
# narx_soni_df ning qiymatlarini np_arr qilish
narx_soni_np = narx_soni_df.to_numpy()
narx_soni_np

In [ ]:
# turi elektronika bo'lgan barcha qatorlarni filtrlab olish
elektronika_df = savdo_df[savdo_df['Turi'] == 'Elektronika']
elektronika_df

In [ ]:
type(elektronika_df)

In [ ]:
# asosiy DF dan indekslari 1, 3, 5 bo'lgan qatorlarni olish
savdo_df.iloc[[1, 3, 5]]

**2-topshiriq**

In [ ]:
data3 = {
    'Ism': ['Lola', 'Alisher', 'Komila', 'Rustam', 'Zaynab', 'Farhod'],
    'Lavozim': ['Hamshira', 'Shifokor', 'Hamshira', 'Shifokor', 'Teknisiy', 'Hamshira'],
    'Maosh': [4000, 9500, 4500, 11000, 3500, 4200],
    'Ish_staji': [3, 12, 5, 15, 2, 7],
    'Bo\'lim': ['Terapiya', 'Jarrohlik', 'Terapiya', 'Jarrohlik', 'Labaratoriya', 'Jarrohlik']
}

xodim_df = pd.DataFrame(data3)
xodim_df

In [ ]:
# maosh ustunini series qilib olish
maosh_series = xodim_df['Maosh']
maosh_series

In [ ]:
type(maosh_series)