<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/loc_iloc_at_iat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Ism': ['Lola', 'Alisher', 'Komila', 'Rustam', 'Zaynab', 'Farhod'],
    'Lavozim': ['Hamshira', 'Shifokor', 'Hamshira', 'Shifokor', 'Teknisiy', 'Hamshira'],
    'Maosh': [4000, 9500, 4500, 11000, 3500, 4200],
    'Ish_staji': [3, 12, 5, 15, 2, 7],
    'Bo\'lim': ['Terapiya', 'Jarrohlik', 'Terapiya', 'Jarrohlik', 'Labaratoriya', 'Jarrohlik']
}

df = pd.DataFrame(data)
df

In [ ]:
# 2-indeksdagi ma'lumotlarni olish (Komilaning ma'lumotlarini olish)
df.loc[[2]]

- bu usul DataFrame qilib oladi
- `loc[2]` - series qilib oladi

In [ ]:
# Rustam va Zaynabning indeksi bo'yicha ma'lumotlarini olish
df.loc[[3, 4]]

In [ ]:
# Lola , Alisher va Komilaning ma'lumotlarini olish | indeksi orqali
df.loc[[0, 1, 2]]

In [ ]:
# Rustam va Farhodni ish_stajini olish
df.loc[[3, 5], ['Ish_staji']]

In [ ]:
# Komila va Zaynabning ish staji va bo'limini olish
df.loc[[2, 4], ['Ish_staji', "Bo'lim"]]

In [ ]:
df2 = pd.DataFrame(
    data={
        'Qiymat_A': np.random.randint(10, 100, size=8),
        'Qiymat_B': np.random.randint(50, 150, size=8),
        'Holat': np.array(['Yaxshi', 'Yomon'] * 4),
        'Sana': pd.to_datetime(['2025-10-01', '2025-10-05', '2025-10-10', '2025-10-15',
                                '2025-10-20', '2025-10-25', '2025-10-30', '2025-11-05'])
    },
    index=['X01', 'X02', 'X03', 'X04', 'X05', 'X06', 'X07', 'X08']
)
df2

In [ ]:
# X04 idsining ma'lumotlarini indeks tartib raqami bilan olish
df2.iloc[[3]]

In [ ]:
# X05 va X06 ma'lumotlarini olish
df2.iloc[[4, 5]]

In [ ]:
df2

In [ ]:
# 06, 07, 08 larning sanasi va holatini olish , indeks tartib raqami bo'yicha
df2.iloc[[-1, -2, -3], [-1, -2]]

In [ ]:
df

In [ ]:
# at yordamida Shifokor qiymatini olish
df.at[1, 'Lavozim']

In [ ]:
# Terapiya qiymatini olish
df.at[2, "Bo'lim"]

In [ ]:
# 3500 qiymatini olish
df.at[4, 'Maosh']

In [ ]:
# indeks va ustunlar tartib raqami bo'yicha 11000 qiymatini olish
df.iat[3, 2]

In [ ]:
# 2 qiymatini olish
df.iat[-2, -2]

**1-topshiriq**

In [ ]:
data = {
    'Mijoz': ['Alisher', 'Valijon', 'Noila', 'Sardor', 'Zaynab'],
    'Summa': [500, 1200, 850, 300, 2500],
    'Status': ['Tasdiqlandi', 'Rad etildi', 'Tasdiqlandi', 'Tasdiqlandi', 'Kutishda']
}

# Maxsus indekslar (Trans_ID)
tranzaksiya_idlar = ['T101', 'T102', 'T103', 'T104', 'T105']

tranzaksiya_df = pd.DataFrame(data, index=tranzaksiya_idlar)
tranzaksiya_df

In [ ]:
# T102 va T104 qatorlarini olish
tranzaksiya_df.loc[['T102', 'T104']]

In [ ]:
# Summa va Status ustunlarini olish
tranzaksiya_df.loc[:, ['Summa', 'Status']]

In [ ]:
# 0 dan 3 gacha bo'lgan indekslar ma'lumotlarini olish
tranzaksiya_df.iloc[0:3]

In [ ]:
# Mijoz va Summa ustun ma'lumotlarini indeks tartib raqami bo'yicha olish
tranzaksiya_df.iloc[:, [0, 1]]

In [ ]:
tranzaksiya_df

In [ ]:
# T105 ning Statusini "Tasdiqlandi" qilish
tranzaksiya_df.at['T105', 'Status'] = 'Tasdiqlandi'
tranzaksiya_df

In [ ]:
# T105 indeksi tartib raqami bo'yicha Summasini 3_000 ga o'zgartirish
tranzaksiya_df.iat[-1, 1] = 3000
tranzaksiya_df

**2-topshiriq**

In [ ]:
data2 = {
    'Ism': ['Alisher', 'Bobur', 'Dilfuza', 'Elmurod', 'Gavhar', 'Nodir'],
    'Sport': ['Futbol', 'Basketbol', 'Voleybol', 'Futbol', 'Voleybol', 'Basketbol'],
    'Yosh': [25, 30, 22, 28, 24, 32],
    'Maosh': [80000, 120000, 55000, 95000, 60000, 130000]
}

# Maxsus indekslar (Kiyim raqamlari)
kiyim_raqamlari = [7, 10, 5, 11, 9, 3]

sportchi_df = pd.DataFrame(data2, index=kiyim_raqamlari)

sportchi_df

In [ ]:
# Futbolchilarni maoshini 10% ga oshirish
sportchi_df.loc[sportchi_df['Sport'] == 'Futbol', 'Maosh'] = sportchi_df['Maosh']*1.10

In [ ]:
sportchi_df

In [ ]:
# 1-indeksdan 5-indeksgacha Ism va Yosh ustunlari qiymatlarini olish
sportchi_df.iloc[[1, 2, 3, 4, 5], [0, 2]]

In [ ]:
# indeksi 5 bo'lgan qatorning Yoshini 23 ga yangilash
sportchi_df.at[3, 'Yosh'] = 23
sportchi_df

In [ ]:
# tartib raqami 3 bo'lgan qatorning Maoshini (tartib raqami 4) 100000 ga yangilash
sportchi_df.iat[3, 3] = 100_000
sportchi_df