<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Name': ['Ali', 'Vali', 'Hasan', 'Olim', 'Dilnoza', 'Zafar', 'Nodira'],
    'Age': [25, 32, 28, 45, 22, 36, 29],
    'City': ['Toshkent', 'Samarqand', 'Buxoro', 'Toshkent', 'Andijon', 'Samarqand', 'Buxoro'],
    'Score': [88.5, 92.0, 75.5, 95.0, 81.0, 78.5, 90.5],
    'Salary': [5000000, 7200000, 4800000, 9500000, 4200000, 6500000, 6000000]
}
df = pd.DataFrame(data)
df

In [ ]:
df.info()

In [ ]:
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
# DataFrame’dan faqat name va score ustunlarini ajratib olish
df[['Name', 'Score']]

In [ ]:
# salary ustunini 1.1 ga ko‘paytirib, yangidan new_salary nomli ustun yaratish
df['New_Salary'] = df['Salary']*1.1
df

In [ ]:
data2 = {
    "Uzbekistan": {"pop": 36, "area": 450, "capital": "Tashkent"},
    "Kazakhstan": {"pop": 20, "area": 2700, "capital": "Astana"},
    "Kyrgyzstan": {"pop": 7,  "area": 199, "capital": "Bishkek"}
}
df2 = pd.DataFrame(data2)
df2

In [ ]:
# area bo'yicha eng katta davlatni aniqlash
df2.loc['area'].idxmax()

In [ ]:
df2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'])
df2.reset_index()

In [ ]:
df

In [ ]:
df.index.is_unique

In [ ]:
df.index.has_duplicates

In [ ]:
df2.index.has_duplicates

In [ ]:
df2.sort_index()

In [ ]:
df.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

In [ ]:
df.drop(1)

In [ ]:
df.drop('City', axis=1)

In [ ]:
ser1 = pd.Series([10, 30, 20, 40, 50], index=['A', 'B', 'C', 'D', 'E'])
ser1

In [ ]:
ser1[['C', 'D']]

In [ ]:
ser1[ser1>25]

In [ ]:
df

In [ ]:
df[df['City'] == 'Toshkent']

In [ ]:
df.loc[3]

In [ ]:
df.at[3, 'Age'] = 11
df

In [ ]:
df.iat[2, 2]

In [ ]:
df['Score']+5

In [ ]:
df['Salary'].apply(lambda x: str(x)+" mln")

In [ ]:
df['City'].map({'Toshkent':"Tashkent", 'Samarqand':"Samarkand"})

In [ ]:
df

In [ ]:
df.sort_values(by='Age')

In [ ]:
df.sort_values(by='Score', ascending=False)

In [ ]:
df['new_score'] = df['Score'].rank().sort_values(ascending=False)
df

In [ ]:
df['Salary'].agg(['min', 'max', 'mean', 'sum'])

In [ ]:
df['Score'].agg(['median', 'std'])

In [ ]:
df.describe()

In [ ]:
df[['Age', 'Score', 'Salary']].corr()

In [ ]:
df_numeric = df.select_dtypes(include='number')
df_numeric.corr()