<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/repetition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

**`Series`**

In [ ]:
# series yaratish usullari | py_list bilan
ser1 = pd.Series([1, 2.3, -4, 5, 'olti', 'minus_yetti'])
ser1

In [ ]:
# series yaratishda index berish
ser2 = pd.Series(['bir', 'ikki', 'uch', 'tort', 'besh'], index=[1, 2, 3, 4, 5])
ser2

In [ ]:
# py_dict yordamida series yaratish
dct1 = {'olma':4500, 'behi':2500, 'nok':4000, 'banan':8700}
ser3 = pd.Series(dct1)
ser3

In [ ]:
# dct yordamida ikkinchi usul
ser4 = pd.Series({'Malibu':28_000, 'Onix':18_000, 'Monza':21_000, 'Tracker':23_000})
ser4

In [ ]:
# 3-seriesdan faqatgina qiymatlarini olish
ser3.values

In [ ]:
# 3-seriesdan faqatgina indekslarini olish
ser3.index

In [ ]:
# 4-seriesdan indeks yordamida qiymatni olish
ser4['Monza']

In [ ]:
ser4['Onix']

In [ ]:
# tartib raqam orqali qiymat olish
ser4.iloc[1] # onix

In [ ]:
ser4.iloc[0] # malibu

In [ ]:
# Malibu va Onix qiymatlarini kesib olish
ser4['Malibu':'Onix']

In [ ]:
ser4[0:2]

In [ ]:
# narxi 21_000 dan kattalarni olish
ser4[ser4>21_000]

In [ ]:
ser4.sum()

In [ ]:
ser4.max()

In [ ]:
ser4.min()

In [ ]:
ser4.nunique()

In [ ]:
ser4.isna()

*1-topshiriq*

In [ ]:
products = pd.Series([
    "iPhone", "Samsung", "iPhone", "Xiaomi", "iPhone",
    "Samsung", "iPhone", "Xiaomi", "Samsung", "Samsung"
])
products

In [ ]:
# mahsulotlar necha marta sotilganini aniqlash
products.value_counts()

In [ ]:
temps = pd.Series([18, 19, None, 21, 500, 20, 19, None, 22, -100])
temps

In [ ]:
temps =

In [ ]:
temps.fillna(temps.mean())

In [ ]:
temps.max()

In [ ]:
temps.min()

In [ ]:
temps[temps.mean()<temps]