<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/repitition_30nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    "Name": ["Ali", "Vali", "Hasan", "Husan", "Gulbahor"],
    "Age": [23, 30, 27, 25, 28],
    "City": ["Toshkent", "Samarqand", "Farg'ona", "Namangan", "Buxoro"],
    "Score": [85, 90, 78, 88, 92]
})
df

In [ ]:
# bir ustun nomini o'zgartirish
df.rename(columns={"Name":'name'}, inplace=True)

In [ ]:
df

In [ ]:
# indeks nomini yoki qiymatini o'zgartirish
df.rename(index={0:"nol"})

In [ ]:
# ustunni nomi yordamida o'chirish
df.drop(columns='Score')

In [ ]:
# indeksni nomi yordamida o'chirish
df.drop(index=3)

##### qayta indekslash `reindex`

In [ ]:
# series bilan qayta indekslash
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
s

In [ ]:
s.reindex(['a', 'c', 'd'])

In [ ]:
# df bilan qayta indekslash | yo'q qiymatga NaN qo'yish
df2 = pd.DataFrame({
    "Name": ["Ali", "Vali", "Hasan"],
    "Age": [23, 30, 27]
}, index=[1, 2, 3])
df2

In [ ]:
df2.reindex([1, 3, 4])

In [ ]:
df.index = [4, 3, 2, 1, 0]
df

In [ ]:
# reindex bilan indekslarni tartiblash
df = df.reindex(sorted(df.index))
df

In [ ]:
# yangi indeksni qiymatlarini NaN o'rniga N qiymat bilan to'ldirish
df2.reindex([1, 3, 4], fill_value=0)

In [ ]:
df

In [ ]:
df.reindex(columns=['name', 'age', 'City', 'score'], fill_value=0)

In [ ]:
# ustunlarni tartiblash
df.reindex(columns=['City', 'name', 'Age', 'Score'])

In [ ]:
new_idx = [3, 'a', 2, 'c', 0]
df.reindex(index=new_idx, fill_value=0)

*1-topshiriq | `reindex`*

In [ ]:
ser2 = pd.Series([120, 150, 90], index=["yanvar", "fevral", "mart"])
ser2

In [ ]:
# ser2 ni "yanvar", "mart", "aprel", "may" indekslari bilan qayta indekslash
ser2.reindex(["yanvar", "mart", "aprel", "may"], fill_value=0)

In [ ]:
df3 = pd.DataFrame({"Name": ["Ali", "Vali", "Hasan", "Gani"], "Age": [23, 30, 27, 31]}, index=[3, 1, 4, 2])
df3

In [ ]:
# df3 indekslarini o'sish tartibida qayta indekslash
df3 = df3.reindex(sorted(df3.index))
df3

In [ ]:
df4 = pd.DataFrame({
    "age": [20, 25, 30],
    "salary": [300, 400, 500]
})
df4

In [ ]:
# df4 ustunlarini "salary", "age", "city" qilib qayta indekslash
df4.reindex(columns=["salary", "age", "city"])

##### dataset statistika

In [ ]:
df5 = pd.DataFrame({
    "Math":   [90, 85, 78, 92],
    "Physics":[88, 80, 95, 70],
    "English":[75, 82, 89, 93]
}, index=["Ali", "Vali", "Hasan", "Husan"])
df5

In [ ]:
# har bir fanni yig'indisini aniqlash
df5.sum()

In [ ]:
# har bir o'quvchini umumiy balini hisoblash
df5.sum(axis=1)

In [ ]:
# har bir fanni o'rtacha qiymatini aniqlash
df5.mean()

In [ ]:
# har bir o'quvchini o'rtacha qiymatini aniqlash
df5.mean(axis=1)

In [ ]:
df5

In [ ]:
# ustunlar bo'yicha eng kichik qiymatli indeksni olish
df5.idxmin()

In [ ]:
# indekslar bo'yicha eng kichik qiymatli ustunni olish
df5.idxmin(axis=1)

In [ ]:
df5

In [ ]:
# matematikadan eng yuqori ballni olgan o'quvchini aniqlash
df5['Math'].idxmax()

In [ ]:
# Hasanning eng yuqori ball olgan fanini aniqlash
df5.loc['Hasan'].idxmax()

In [ ]:
# Fizikadan eng past ball olgan o'quvchini tartib raqamini olish
df5['Physics'].argmin()

In [ ]:
df5.iloc[3]

In [ ]:
# englishdan eng yuqori ball olgan o'quvchini tartib raqamini olish
df5['English'].argmax()

In [ ]:
df5.iloc[3]

In [ ]:
df6 = pd.DataFrame({
    "A": [10, 20, 30, 40],
    "B": [5, 15, 25, 35],
    "C": [2, 4, 8, 16]
})
df6

In [ ]:
# har bir ustunni yig'indisini aniqlash
df6.sum()

In [ ]:
# har bir ustunni o'rtacha qiymatini aniqlash
df6.mean()

In [ ]:
df7 = pd.DataFrame({
    "Math": [90, 85, 78],
    "Physics": [88, 70, 95]
}, index=["Ali", "Vali", "Hasan"])
df7

In [ ]:
# har bir o'quvchini umumiy balini aniqlash
df7.sum(axis=1)

In [ ]:
df8 = pd.DataFrame({
    "x": [12, 33, 7, 19],
    "y": [50, 20, 30, 25]
}, index=["a", "b", "c", "d"])
df8

In [ ]:
# x ustunidagi eng kichik qiymat indeksini olish
df8['x'].idxmin()

In [ ]:
# y ustunidagi eng katta qiymat indeksini olish
df8['y'].idxmax()

In [ ]:
df9 = pd.DataFrame({
    "temp": [25, 30, 28, 22, 27]
}, index=["mon", "tue", "wed", "thu", "fri"])
df9

In [ ]:
df9.temp.idxmin()

In [ ]:
df9.temp.argmin()

In [ ]:
df9.iloc[3]

In [ ]:
df10 = pd.DataFrame({
    "speed": [120, 110, 135, 140],
    "power": [300, 280, 310, 290],
    "weight": [1500, 1600, 1400, 1550]
}, index=["car1", "car2", "car3", "car4"])
df10

In [ ]:
# speed ustunidagi eng katta qiymatning index nomini topish
df10.speed.idxmax()

In [ ]:
# power ustunidagi eng kichik qiymatning pozitsiya raqamini topish
df10['power'].argmin()

In [ ]:
df10.iloc[1]

In [ ]:
# weight ustunidagi eng katta qiymat turgan index nomini topish
df10['weight'].idxmax()

##### filtrlash

In [ ]:
df11 = pd.DataFrame({
    "Name": ["Ali", "Vali", "Hasan", "Gani", "Soli"],
    "Age": [23, 30, 27, 19, 35],
    "Salary": [400, 500, 450, 300, 700],
    "City": ["Toshkent", "Samarqand", "Toshkent", "Farg'ona", "Nukus"]
})
df11

In [ ]:
# yoshi 25 dan katta bo'lgan ma'lumotlarni olish
df11[df11['Age']>25]

In [ ]:
# Maoshi 500 ga teng bo‘lganlar
df11[df11.Salary == 500]

In [ ]:
# Toshkentda yashaydiganlar
df11[df11.City == 'Toshkent']

In [ ]:
# Yoshi 25 dan katta VA maoshi 400 dan yuqori
df11[(df11.Age>25) & (df11.Salary>400)]

In [ ]:
# Toshkentda yoki Samarqandda yashaydiganlar
df11[(df11.City == 'Toshkent') | (df11.City == 'Samarqand')]

In [ ]:
# Yoshi 20–30 orasida bo‘lganlar
df11[(df11['Age']>=20) & (df11['Age']<=30)]

In [ ]:
# Toshkent yoki Farg‘onada yashaydiganlar
tosh_far = ['Toshkent', "Farg'ona"]
df11[df11['City'].isin(tosh_far)]

In [ ]:
# Yoshi 23 yoki 35 bo‘lganlar
df11[df11['Age'].isin([23, 35])]

In [ ]:
data = {
    'Ism': ['Ali', 'Vali', 'Hasan', 'Olim', 'Noila', 'Dilshod', 'Zohid', 'Kamol'],
    'Shahar': ['Toshkent', 'Samarqand', np.nan, 'Buxoro', 'Toshkent', np.nan, 'Toshkent', 'Urganch'],
    'Lavozim': ['Dasturchi', 'Tahlilchi', 'Dizayner', 'Dasturchi', np.nan, 'Menejer', 'Tahlilchi', 'Dizayner'],
    'Bo\'lim': ['IT', 'Marketing', 'IT', np.nan, 'Marketing', 'HR', np.nan, 'IT'],
    'Ish_Turi': ['Masofaviy', np.nan, 'Ofis', 'Masofaviy', 'Ofis', 'Masofaviy', 'Ofis', np.nan],
    'Ma\'lumot': [np.nan, 'Bakalavr', np.nan, 'Magistr', 'Bakalavr', np.nan, 'Magistr', np.nan]
}

df12 = pd.DataFrame(data)
df12

In [ ]:
# matn bo'yicha filtrlash
# ismi i bilan tugagan ishchilarni olish
df12[df12['Ism'].str.endswith('i')]

In [ ]:
# ismda shod bor bo'lgan ma'lumotlarni olish
df12[df12['Ism'].str.contains('shod', case=False)]

In [ ]:
# Bo'lim ustunidagi nan qiymatlar ma'lumotlarini olish
df12[df12["Bo'lim"].isna()]

In [ ]:
# Bo'limda nan bo'lmagan ma'lumotlarni olish
df12[df12["Bo'lim"].notna()]

In [ ]:
df11

In [ ]:
# Yoshi > 25 bo‘lganlarning faqat ismi va maoshini olish
df11[df11['Age']>25][['Name', 'Salary']]

In [ ]:
# 25 dan katta va Toshkentda yashaydiganlar
df11[(df11['Age']>25) & (df11['City'] == 'Toshkent')]