<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/series02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ser1 = pd.Series([45, -12, 87.5, 0, 23, -7.8, 100, 56], index=['a', 'x1', 'b', 'k3', 'm', 'p2', 'q', 'z9'])
ser1

In [ ]:
# qiymatlarini o'zini olish
ser1.values

In [ ]:
# faqatgina indekslarini olish
ser1.index

In [ ]:
# indeks orqali qiymat olish
ser1['k3']

In [ ]:
ser1['m']

In [ ]:
ser1['p2']

In [ ]:
# bir vaqtda bir necha qiymatlarni olish
ser1[['a', 'b', 'q']]

In [ ]:
# indeks tartib raqam orqali qiymatlarni olish
ser1[3:7]

In [ ]:
# indeks yordamida series qilib ma'lumot olish
ser1[['k3']]

In [ ]:
type(ser1[['k3']])

In [ ]:
# b dan p2 gacha qiymatlarni olish
ser1['b':'p2']

In [ ]:
type(ser1['b':'p2'])

In [ ]:
haroratlar = [-2, 1, 8, 16, 22, 28, 32, 30, 25, 17, 9, 3]
oylar = ['Yan', 'Fev', 'Mar', 'Apr', 'May', 'Iyun', 'Iyul', 'Avgust', 'Sen', 'Okt', 'Noy', 'Dek']

ser2 = pd.Series(haroratlar, index=oylar)
ser2

In [ ]:
# aprel oyini haroratini olish
ser2['Apr']

In [ ]:
# iyul va noyabr oylarini haroratlarini olish
ser2[['Iyul', 'Noy']]

In [ ]:
# martdan avgustgacha bo'lgan oylar haroratini olish
ser2['Mar':'Avgust']

In [ ]:
# 20 gardusdan yuqori bo'lgan oylarni olish
ser2[ser2>20]

In [ ]:
narxlar = [150.50, 151.20, 149.80, 152.00, 153.50, 150.00, 154.10, 155.00]
sanalar = pd.to_datetime([
    '2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
    '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08'
])

ser3 = pd.Series(narxlar, index=sanalar)
ser3

In [ ]:
# 2024-01-04 sanasidagi narxni olish
ser3.loc['2024-01-04']

In [ ]:
# eng birinchi va eng ohirgi qiymatlarni olish
ser3[[0, -1]]

In [ ]:
ser3

In [ ]:
ser3.index.day

In [ ]:
# Narxi 151.00 dan yuqori VA 154.00 dan past bo'lgan kunlarni tanlash
ser3[(ser3>151) & (ser3<154)].index.day