<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/series_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series

###N1
**How can you create a Pandas Series from a Python dictionary? Provide an example**

In [2]:
dct = {'T-shirt':50000, 'jeans':35000, 'socks':20000, 'cap':14000, 'sneakers':145000}
obj = Series(dct)
print(obj)
print(type(obj))

T-shirt      50000
jeans        35000
socks        20000
cap          14000
sneakers    145000
dtype: int64
<class 'pandas.core.series.Series'>

###N2
**What will be the output of `s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])` , and how can you access the value associated with index 'b'?**

In [3]:
"""
A Series is created with indices a, b, c and corresponding values ​​1, 2, 3. The value corresponding
to index b can be obtained as s['b'] or s.iloc[1]
"""

"\nA Series is created with indices a, b, c and corresponding values \u200b\u200b1, 2, 3. The value corresponding\nto index b can be obtained as s['b'] or s.iloc[1]\n"

###N3
**What is the difference between `.loc[]` and `.iloc[]` when accessing elements in a Series?**

In [4]:
"""
iloc[] - accesses data by index number, while loc[] accesses data by index itself
"""

'\niloc[] - accesses data by index number, while loc[] accesses data by index itself\n'

###N4
**How can you check for missing (NaN) values in a Pandas Series, and how can you fill them with the mean value of the Series?**

In [5]:
"""
NaN values ​​can be detected using the ser.hasnans , ser.isnull() , ser.notnull() methods
You can fill in the NaNs with the mean of the series as follows: ser.fillna(ser.mean(), inplace=True)
"""

'\nNaN values \u200b\u200bcan be detected using the ser.hasnans , ser.isnull() , ser.notnull() methods\nYou can fill in the NaNs with the mean of the series as follows: ser.fillna(ser.mean(), inplace=True)\n'

###N5
**Given a Series `s = pd.Series([10, 20, 30, 40, 50], index=[100, 101, 102, 103, 104])`, how can you filter out values greater than 25?**

In [6]:
"""
can be selected as ser[ser>25]
"""

'\ncan be selected as ser[ser>25]\n'

###N6
**Given a Series with duplicate index values, how can you select all values corresponding to a specific index?**

In [12]:
"""
when we create a Series with the same indices and display it, the indices will be unique
"""

'\nwhen we create a Series with the same indices and display it, the indices will be unique\n'

###N7
**What happens if you apply `.sort_values()` to a Series that contains NaN values? How can you change the default behavior?**

In [13]:
"""
NaN values ​​are placed at the end of the Series
"""

'\nNaN values \u200b\u200bare placed at the end of the Series\n'

###N8
**How can you apply a custom function to each element of a Series and modify the values based on a condition?**

In [14]:
"""
for this we need to use the .apply() and .map() methods
"""

'\nfor this we need to use the .apply() and .map() methods\n'

###N9
**If you have a Series of datetime values, how can you extract only the month or the year from each value?**

In [16]:
"""
To work with datetime in pandas, we need to use .dt : ser.dt.month or ser.dt.year
"""

'\nTo work with datetime in pandas, we need to use .dt : ser.dt.month or ser.dt.year\n'

###N10
**What is the difference between `.map(), .apply(), and .applymap()` when working with a Pandas Series?**

In [15]:
"""
map - used only for Series . It applies a function to each element
apply - Used for Series or DataFrame columns
applymap - is only used for DataFrame . It applies a function to each element of the DataFrame
"""

'\nmap - used only for Series . It applies a function to each element\napply - Used for Series or DataFrame columns\napplymap - is only used for DataFrame . It applies a function to each element of the DataFrame\n'