<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import numpy as np

**There are two important data structures in pandas: Series and DataFrame** . In this lesson, we will learn the Series data structure.

**create a series**

In [3]:
# import Series
from pandas import Series

In [4]:
obj = Series([1, 2, -3, 4, -5.5])

In [6]:
# check type
type(obj)

pandas.core.series.Series

In [7]:
print(obj)

0    1.0
1    2.0
2   -3.0
3    4.0
4   -5.5
dtype: float64

In [8]:
# only view values
print(obj.values)

[ 1.   2.  -3.   4.  -5.5]

In [10]:
# view indexes
print(obj.index)

RangeIndex(start=0, stop=5, step=1)

- starting from 0 to 5, consisting of one step

In [11]:
# Series elements can be accessed by index
print(obj[0])

1.0

In [12]:
print(obj[1])

2.0

In [14]:
print(obj[4])

-5.5

- The difference between series and python list is that series indices can be assigned values. We created them without assigning values to their indices above

In [15]:
obj2 = Series([9, 8, 7, 6, 5], index=['a', 'b', 'c', 'd', 'e'])
print(obj2)

a    9
b    8
c    7
d    6
e    5
dtype: int64

In [16]:
# values
obj2.values

array([9, 8, 7, 6, 5])

In [17]:
# index
obj2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [19]:
# to access an index to get a value . 7
print(obj2['c'])

7

In [20]:
# 6
print(obj2['d'])

6

In [21]:
# get multiple values
obj2[['a', 'c', 'e']]

a    9
c    7
e    5
dtype: int64

In [22]:
obj2[['e', 'b', 'a']]

e    5
b    8
a    9
dtype: int64

In [23]:
# If an index is given that does not exist in the series, it will give an error.
obj2['x']

KeyError: 'x'

In [24]:
# perform arithmetic operations
# filtering
obj2[obj2>7]

a    9
b    8
dtype: int64

In [25]:
# multiply all values ​​by 2
obj2*2

a    18
b    16
c    14
d    12
e    10
dtype: int64

In [26]:
# you can also use methods in numpy
np.exp(obj2)

a    8103.083928
b    2980.957987
c    1096.633158
d     403.428793
e     148.413159
dtype: float64

### **Creating a Series from a Dictionary**

In [27]:
cars = {'Malibu':30000, 'Lacetti':13000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}

In [28]:
type(cars)

dict

In [29]:
# create Series from cars
cars_ser = Series(cars)

In [30]:
print(cars_ser)

Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [31]:
type(cars_ser)

pandas.core.series.Series

In [32]:
# the second way to create a series using a dictionary
cars_ser2 = Series({'Malibu':30000, 'Lacetti':13000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000})

In [33]:
cars_ser2

Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [34]:
type(cars_ser2)

pandas.core.series.Series

In [37]:
# this series can be referred to as a dictionary
'Malibu' in cars_ser2 # is Malibu in cars_ser2 ?

True

In [38]:
'BMW' in cars_ser

False

In [39]:
'Merc' in cars_ser2

False

In [41]:
print(cars_ser2['Toyota'])

45000

In [42]:
cars_ser.index

Index(['Malibu', 'Lacetti', 'Toyota', 'Mazda', 'Honda'], dtype='object')

In [ ]:
# it is possible to change the order of indexes in cars_ser
models = ['Lacetti', 'Toyota', 'Jaguar', 'Honda', 'Malibu', 'Mazda']
cars_ser_idx = Series(cars, index=models)

In [ ]:
# 5:39