<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

**There are two important data structures in pandas: Series and DataFrame** . In this lesson, we will learn the Series data structure.

**create a series**

In [ ]:
# import Series
from pandas import Series

In [ ]:
obj = Series([1, 2, -3, 4, -5.5])

In [ ]:
# check type
type(obj)

pandas.core.series.Series

In [ ]:
print(obj)

0    1.0
1    2.0
2   -3.0
3    4.0
4   -5.5
dtype: float64

In [ ]:
# only view values
print(obj.values)

[ 1.   2.  -3.   4.  -5.5]

In [ ]:
# view indexes
print(obj.index)

RangeIndex(start=0, stop=5, step=1)

- starting from 0 to 5, consisting of one step

In [ ]:
# Series elements can be accessed by index
print(obj[0])

1.0

In [ ]:
print(obj[1])

2.0

In [ ]:
print(obj[4])

-5.5

- The difference between series and python list is that series indices can be assigned values. We created them without assigning values to their indices above

In [ ]:
obj2 = Series([9, 8, 7, 6, 5], index=['a', 'b', 'c', 'd', 'e'])
print(obj2)

a    9
b    8
c    7
d    6
e    5
dtype: int64

In [ ]:
# values
obj2.values

array([9, 8, 7, 6, 5])

In [ ]:
# index
obj2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [ ]:
# to access an index to get a value . 7
print(obj2['c'])

7

In [ ]:
# 6
print(obj2['d'])

6

In [ ]:
# get multiple values
obj2[['a', 'c', 'e']]

a    9
c    7
e    5
dtype: int64

In [ ]:
obj2[['e', 'b', 'a']]

e    5
b    8
a    9
dtype: int64

In [ ]:
# If an index is given that does not exist in the series, it will give an error.
obj2['x']

KeyError: 'x'

In [ ]:
# perform arithmetic operations
# filtering
obj2[obj2>7]

a    9
b    8
dtype: int64

In [ ]:
# multiply all values ​​by 2
obj2*2

a    18
b    16
c    14
d    12
e    10
dtype: int64

In [ ]:
# you can also use methods in numpy
np.exp(obj2)

a    8103.083928
b    2980.957987
c    1096.633158
d     403.428793
e     148.413159
dtype: float64

### **Creating a Series from a Dictionary**

In [ ]:
cars = {'Malibu':30000, 'Lacetti':13000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}

In [ ]:
type(cars)

dict

In [ ]:
# create Series from cars
cars_ser = Series(cars)

In [ ]:
print(cars_ser)

Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
type(cars_ser)

pandas.core.series.Series

In [ ]:
# the second way to create a series using a dictionary
cars_ser2 = Series({'Malibu':30000, 'Lacetti':13000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000})

In [ ]:
cars_ser2

Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
type(cars_ser2)

pandas.core.series.Series

In [ ]:
# this series can be referred to as a dictionary
'Malibu' in cars_ser2 # is Malibu in cars_ser2 ?

True

In [ ]:
'BMW' in cars_ser

False

In [ ]:
'Merc' in cars_ser2

False

In [ ]:
print(cars_ser2['Toyota'])

45000

In [ ]:
cars_ser.index

Index(['Malibu', 'Lacetti', 'Toyota', 'Mazda', 'Honda'], dtype='object')

In [ ]:
# it is possible to change the order of indexes in cars_ser
models = ['Lacetti', 'Toyota', 'Jaguar', 'Honda', 'Malibu', 'Mazda', 'Mercadez', 'BMW']
cars_ser_idx = Series(cars, index=models)

In [ ]:
cars

{'Malibu': 30000,
 'Lacetti': 13000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [ ]:
print(cars_ser_idx)

Lacetti     13000.0
Toyota      45000.0
Jaguar          NaN
Honda       38000.0
Malibu      30000.0
Mazda       52000.0
Mercadez        NaN
BMW             NaN
dtype: float64

### **Series methods**

In [ ]:
# isnull() - returns True if a value does not exist
cars_ser_idx.isnull()

Lacetti     False
Toyota      False
Jaguar       True
Honda       False
Malibu      False
Mazda       False
Mercadez     True
BMW          True
dtype: bool

In [ ]:
# notnull() - the opposite of isnull
cars_ser_idx.notnull()

Lacetti      True
Toyota       True
Jaguar      False
Honda        True
Malibu       True
Mazda        True
Mercadez    False
BMW         False
dtype: bool

**perform arithmetic operations**

In [ ]:
cars_ser

Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
cars_ser_idx

Lacetti     13000.0
Toyota      45000.0
Jaguar          NaN
Honda       38000.0
Malibu      30000.0
Mazda       52000.0
Mercadez        NaN
BMW             NaN
dtype: float64

In [ ]:
# add appropriate indexes
cars_ser+cars_ser_idx

BMW              NaN
Honda        76000.0
Jaguar           NaN
Lacetti      26000.0
Malibu       60000.0
Mazda       104000.0
Mercadez         NaN
Toyota       90000.0
dtype: float64

In [ ]:
# naming a series
cars_ser.name = 'Myway'

In [ ]:
cars_ser

Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
Name: Myway, dtype: int64

In [ ]:
# naming indexes
cars_ser.index.name = 'Models'

In [ ]:
cars_ser

Models
Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
Name: Myway, dtype: int64

In [ ]:
# hasnans - whether there are nan values ​​or not
cars_ser.hasnans

False

In [ ]:
cars_ser_idx.hasnans

True

In [ ]:
# dtype - data type definition
cars_ser.dtype

dtype('int64')

In [ ]:
cars_ser_idx.dtype

dtype('float64')

In [ ]:
cars_ser2.dtype

dtype('int64')

In [ ]:
# is_unique - check if values ​​are not duplicated
cars_ser.is_unique

True

In [ ]:
cars_ser2.is_unique

True

In [ ]:
cars_ser_idx.is_unique

False

In [ ]:
# size
cars_ser.size

5

In [ ]:
cars_ser2.size

5

In [ ]:
cars_ser_idx.size

8

In [ ]:
# shape
cars_ser.shape

(5,)

In [ ]:
cars_ser2.shape

(5,)

In [ ]:
cars_ser_idx.shape

(8,)

In [ ]:
cars_ser

Models
Malibu     30000
Lacetti    13000
Toyota     45000
Mazda      52000
Honda      38000
Name: Myway, dtype: int64

In [ ]:
# iloc[] - refer to data by index number
cars_ser.iloc[1]

np.int64(13000)

In [ ]:
cars_ser.iloc[-1]

np.int64(38000)

In [ ]:
# loc[] - access data by index
cars_ser.loc['Toyota']

np.int64(45000)

In [ ]:
cars_ser['Toyota']

np.int64(45000)

In [ ]:
# max - largest value
cars_ser.max()

52000

In [ ]:
# min - smallest value
cars_ser.min()

13000

In [ ]:
# mean - average value
cars_ser.mean()

np.float64(35600.0)