<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/pandas/use_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.array([
    [ 10,   -3.5,   7,     12.8,   -1],
    [ -5,    4.7,  -9,      0.0,    3],
    [ 14,   -2.1,   6,     -8.5,   11],
    [  0,    9.9,  -4,     15.2,   -7],
    [ -8,    3.3,  12,     -1.4,    2],
    [ 22,   -6.7,   5,      4.4,   -9],
    [ -3,    1.2, -11,      7.6,    0]
])

df = pd.DataFrame(
    data,
    columns=['A', 'B', 'C', 'D', 'E']
)
df

In [ ]:
# numpy funksiyalarini qo'llash | qiymatlarni absolut qilish
np.abs(df)

In [ ]:
# barcha qiymatlarni butun son qilish
np.round(df)

In [ ]:
# har bir ustun uchun o'rtacha qiymatni aniqlash
df.mean()

In [ ]:
# har bir qator uchun o'rtacha qiymatni aniqlash
df.mean(axis=1)

In [ ]:
# apply yordamida numpy funksiyasini DF ga qo'llash
df.apply(np.abs)

In [ ]:
# apply yordamida numpy funksiyasini DF ga qo'llab ustun bo'yicha yig'indilarni topish
df.apply(np.sum)

In [ ]:
# qatorlar bo'yicha yig'indilarni aniqlash
df.apply(np.sum, axis=1)

In [ ]:
df

In [ ]:
df.apply(lambda x: x*2)

In [ ]:
df.applymap(np.abs)

In [ ]:
df.map(np.abs)

In [ ]:
data2 = {
    'Ism': ['Ali', 'Valijon', 'Noila', 'Sardor'],
    'Fizika': [85, 90, 78, 65],
    'Matematika': [92, 75, 80, 70],
    'Kimyo': [78, 88, 95, 60]
}

# Maxsus indekslar
indekslar = ['A', 'B', 'C', 'D']

df2 = pd.DataFrame(data2, index=indekslar)
df2

In [ ]:
# Fizika, Matematika va Kimyo ustunlaridagi eng kichik qiymatni aniqlash va min_baho yangi ustuniga saqlash
df2['min_baho'] = df2[['Fizika', 'Matematika', 'Kimyo']].apply(np.min, axis=1)

In [ ]:
df2

In [ ]:
# funksiya yaratish va min_baho ustuniga map orqali qo'llash
def bahola(x):
  if x>=85:
    return "a'lo"
  elif x>75<85:
    return "yaxshi"
  else:
    return "qoniqarli"
df2['daraja'] = df2['min_baho'].map(bahola)

In [ ]:
df2

In [ ]:
df2["o'rtacha"] = np.round(df2[['Fizika', 'Matematika', 'Kimyo']].apply(np.mean, axis=1))
df2

In [ ]:
data3 = {
    'Mahsulot': ['Printer', 'Monitor', 'Qalam', 'Daftar'],
    'Kategoriya': ['Elektronika', 'ELEKTRONIKA', 'Kantselyariya', 'kantselyariya'],
    'Narx': [350.0, 450.0, 1.5, 2.5],
    'Zaxira_soni': [12, 8, 500, 300]
}

# Maxsus indekslar
indekslar = ['P01', 'P02', 'P03', 'P04']

# DataFrame yaratish
df3 = pd.DataFrame(data3, index=indekslar)
df3

In [ ]:
# Kategoriya ustunidagi barcha yozuvlarni bir xil formatga (masalan, faqat bosh harfi katta qilingan) keltirish
def bosh_harf(word):
  return word.capitalize()

df3['Kategoriya'] = df3['Kategoriya'].map(bosh_harf)

In [ ]:
df3

In [ ]:
# Har bir mahsulot uchun chegirma miqdorini hisoblash
df3['Chegirma'] = df3['Narx'].map(lambda x: x * 0.10 if x >= 100 else 0)
df3

In [ ]:
# Narx va Zaxira_soni ni ko'paytirish
df3['Jami_qiymat'] = np.multiply(df3['Narx'], df3['Zaxira_soni'])
df3