<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/numpy/array01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# numpy kutubxonasini import qilish
import numpy as np

**creating arrays in numpy**

In [2]:
# default
arr1 = np.array([1, 2, -3, 4.4, -5.5])
arr1

array([ 1. ,  2. , -3. ,  4.4, -5.5])

In [3]:
# array of values ​​all consisting of 0
arr2 = np.zeros(5)
arr2

array([0., 0., 0., 0., 0.])

In [4]:
# create a two-dimensional (2D) array with zeros
arr3 = np.zeros((4, 3)) # Creates an array of 4 rows and 3 columns
arr3

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [5]:
# create an array with all values ​​of 1
arr4 = np.ones(5)
arr4

array([1., 1., 1., 1., 1.])

In [6]:
# create a 5x4 array with all values ​​1
arr5 = np.ones((5, 4))
arr5

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [7]:
# create an array whose elements all have a given value
arr6 = np.full(4, 5)
arr6

array([5, 5, 5, 5])

In [25]:
# creating a numpy array using the array function
data = [1.1, 2, -3, 4, -5.1]
arr7 = np.array(data)
arr7

array([ 1.1,  2. , -3. ,  4. , -5.1])

In [26]:
# check what type of data it is
type(arr7)

numpy.ndarray

In [27]:
# creating a numpy array using tuples
data2 = (1, -2, 3.3, 4, -5.5)
arr8 = np.array(data2)
arr8

array([ 1. , -2. ,  3.3,  4. , -5.5])

In [11]:
type(arr8)

numpy.ndarray

In [28]:
# create a two-dimensional array (2D)
arr9 = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
arr9

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [13]:
type(arr9)

numpy.ndarray

In [14]:
arr10 = np.full((4, 3), 7)
arr10

array([[7, 7, 7],
       [7, 7, 7],
       [7, 7, 7],
       [7, 7, 7]])

In [29]:
# create an array of random numbers
arr11 = np.random.rand(5)
arr11

array([0.75679223, 0.77634841, 0.92248129, 0.65085555, 0.35155673])

In [16]:
arr12 = np.random.rand(3, 4)
arr12

array([[0.11597845, 0.68370703, 0.3239638 , 0.93729406],
       [0.70238511, 0.85515317, 0.73452318, 0.17697473],
       [0.58310219, 0.86189187, 0.36434819, 0.33855345]])

In [17]:
# creating an array with the arange function
arr13 = np.arange(90, 95)
arr13

array([90, 91, 92, 93, 94])

In [18]:
arr14 = np.arange(10, 100, 10) # 10 dan 100 gacha 10 ta qadam bilan massiv yaratadi
arr14

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [30]:
# create a matrix with diagonal 1
arr15 = np.eye(5)
arr15

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [31]:
# create an array with random integers
arr16 = np.random.randint(1, 100, 5)
arr16

array([23, 41, 52, 19, 90])

In [21]:
arr17 = np.random.randint(1, 100, (4, 4))
arr17

array([[80, 83, 77, 15],
       [42, 29, 91, 10],
       [59, 45, 54, 50],
       [66, 68, 12,  2]])

In [23]:
# create a new array by changing its size with the reshape method
arr18 = np.arange(1, 13).reshape(4, 3)
arr18

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [24]:
type(arr18)

numpy.ndarray