<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/numpy/dtype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
# create array with data type
arr = np.array([1, 2, 3, 4], dtype=np.int8)
arr

array([1, 2, 3, 4], dtype=int8)

In [4]:
arr2 = np.array([1.1, -2.2, 3.3, -4.4], dtype=np.float16)
arr2

array([ 1.1, -2.2,  3.3, -4.4], dtype=float16)

In [6]:
# determining the data type of an array
arr.dtype

dtype('int8')

In [7]:
arr2.dtype

dtype('float16')

**change one data type to another data type**

In [9]:
# change the data type of arr to float
arr_float = arr.astype(np.float16)
arr_float

array([1., 2., 3., 4.], dtype=float16)

In [11]:
# default
arr

array([1, 2, 3, 4], dtype=int8)

- If we change the float data type to the int data type, it will only take the integer part of the int number

In [12]:
# change the data type of arr2 to int
arr2_int = arr2.astype(np.int8)
arr2_int

array([ 1, -2,  3, -4], dtype=int8)

In [13]:
# default
arr2

array([ 1.1, -2.2,  3.3, -4.4], dtype=float16)