<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/numpy/transpose_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

###N1
**Given a 2D NumPy array arr of shape (4, 3), what will be the shape of arr.T after applying the .T attribute ?**

In [2]:
# create a 2D array of shape (4, 3)
arr = np.arange(1, 13).reshape(4, 3)
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [3]:
# (3, 4)

###N2
**How do you transpose a 3D NumPy array of shape (2, 3, 4) so that the second and third axes are swapped, but the first axis remains unchanged ?**

In [5]:
# Create a 3D array
arr3d = np.random.randint(1, 10, (2, 3, 4))
arr3d

array([[[2, 1, 2, 6],
        [8, 6, 9, 2],
        [3, 6, 5, 6]],

       [[6, 1, 2, 8],
        [6, 1, 6, 5],
        [1, 6, 7, 1]]])

In [6]:
arr3d.swapaxes(1, 2)

array([[[2, 8, 3],
        [1, 6, 6],
        [2, 9, 5],
        [6, 2, 6]],

       [[6, 6, 1],
        [1, 1, 6],
        [2, 6, 7],
        [8, 5, 1]]])

###N3
**What is the difference between using .T and np.transpose(arr, axes=(1, 0)) for a 2D array ?**

In [7]:
arr2 = np.arange(12).reshape(4, 3)
arr2

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [8]:
arr2.T

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [9]:
arr2_t = np.transpose(arr2, axes=(1, 0))
arr2_t

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

###N4
**Consider the following NumPy array:**

`arr = np.array([[1, 2, 3], [4, 5, 6]])`

What will be the result of arr.T?

In [10]:
arr3 = np.array([[1, 2, 3], [4, 5, 6]])
arr3

array([[1, 2, 3],
       [4, 5, 6]])

In [11]:
arr3.T

array([[1, 4],
       [2, 5],
       [3, 6]])

###N5
**How can you use np.transpose() to swap the first and third axes of a 3D array with shape (2, 3, 4) ?**

In [15]:
# To swap the first and third axes of a 3D array, we need to give the axes a new order.