<a href="https://colab.research.google.com/github/izzat-ai/learning-ai/blob/main/numpy/transpose_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np

###N1
**Given a 2D NumPy array arr of shape (4, 3), what will be the shape of arr.T after applying the .T attribute ?**

In [27]:
# create a 2D array of shape (4, 3)
arr = np.arange(1, 13).reshape(4, 3)
arr

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [28]:
# (3, 4)

###N2
**How do you transpose a 3D NumPy array of shape (2, 3, 4) so that the second and third axes are swapped, but the first axis remains unchanged ?**

In [29]:
# Create a 3D array
arr3d = np.random.randint(1, 10, (2, 3, 4))
arr3d

array([[[4, 3, 6, 9],
        [2, 8, 6, 8],
        [7, 1, 7, 1]],

       [[4, 8, 7, 8],
        [8, 5, 8, 5],
        [1, 7, 6, 5]]])

In [30]:
arr3d.swapaxes(1, 2)

array([[[4, 2, 7],
        [3, 8, 1],
        [6, 6, 7],
        [9, 8, 1]],

       [[4, 8, 1],
        [8, 5, 7],
        [7, 8, 6],
        [8, 5, 5]]])

###N3
**What is the difference between using .T and np.transpose(arr, axes=(1, 0)) for a 2D array ?**

In [31]:
arr2 = np.arange(12).reshape(4, 3)
arr2

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [32]:
arr2.T

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

In [33]:
arr2_t = np.transpose(arr2, axes=(1, 0))
arr2_t

array([[ 0,  3,  6,  9],
       [ 1,  4,  7, 10],
       [ 2,  5,  8, 11]])

###N4
**Consider the following NumPy array:**

`arr = np.array([[1, 2, 3], [4, 5, 6]])`

What will be the result of arr.T?

In [34]:
arr3 = np.array([[1, 2, 3], [4, 5, 6]])
arr3

array([[1, 2, 3],
       [4, 5, 6]])

In [35]:
arr3.T

array([[1, 4],
       [2, 5],
       [3, 6]])

###N5
**How can you use np.transpose() to swap the first and third axes of a 3D array with shape (2, 3, 4) ?**

In [36]:
# To swap the first and third axes of a 3D array, we need to give the axes a new order.

###N6
`arr = np.random.randint(1, 10, (3, 2, 4))`

**If we use arr.transpose(1, 0, 2), what will be the shape (dimensions) of the new array?**

In [38]:
# (2, 3, 4)

###N7
**When we execute the following code, in what order does the array change?**

`arr_T = arr.transpose(2, 1, 0)`

In [39]:
# Columns (axis=2) go to layers (axis=0), and layers go to columns

###N8
**If we transpose the above array as arr.transpose(2, 0, 1), what will be the shape of the new array?**

In [40]:
# (2, 5, 3)